openapi: 3.2.0
info:
  version: 0.0.2
  title: Superhuman Docs Admin API Tokens API
  license:
    name: Superhuman Developer Terms
    url: https://docs.superhuman.com/trust/developer
  description: '# Introduction


    The Superhuman Docs Admin API is a RESTful API that allows programmatic access to administrative reports & capabilities within Superhuman Docs (formerly Coda).'
  termsOfService: https://superhuman.com/legal/terms
  contact:
    name: Developer Support
    url: https://superhuman.com/developers
    email: care@superhuman.com
  x-logo:
    url: https://cdn.coda.io/icons/png/color/superhuman-docs-128.png
    backgroundColor: transparent
    altText: Superhuman Docs Admin API
    href: '#'
servers:
- url: https://docs.superhuman.com/apis/admin/v1
  description: Superhuman Docs Admin API (v1)
security:
- Bearer: []
tags:
- name: API Tokens
  description: View and revoke individual user API tokens within an organization.
paths:
  /organizations/{organizationId}/apiTokens:
    get:
      summary: List API tokens for organization users
      description: Returns a list of API tokens created by users within an organization.
      operationId: listOrgApiTokens
      tags:
      - API Tokens
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: List of API tokens for organization users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgUserApiTokenList'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = ''https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/apiTokens''

          res = requests.get(uri, headers=headers, params=params).json()


          print(f''First token is: {res["items"][0]["name"]}'')

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/apiTokens' |\n  jq .items[0].name\n"
  /organizations/{organizationId}/apiTokens/{apiTokenId}:
    delete:
      summary: Revoke the given API token
      description: Revokes the given API token and prevents future use.
      operationId: revokeApiToken
      tags:
      - API Tokens
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/apiTokenId'
      responses:
        '200':
          description: A result indicating that the API token was revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgUserApiTokenRevoke'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = ''https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/apiTokens/<api token id>''

          res = requests.delete(uri, headers=headers, params=params).json()


          print(f''Token was revoked'')

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' -X DELETE \\\n  'https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/apiTokens/<api token id>'\n"
components:
  schemas:
    OrgUserApiTokenList:
      x-schema-name: OrgUserApiTokenList
      description: List of API Tokens for users within an organization.
      type: object
      required:
      - items
      - href
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrgUserApiToken'
        href:
          type: string
          format: url
          description: API link to these results
          example: https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/apiTokens
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/NextPageLink'
          - type: string
            example: https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/apiTokens?pageToken=eyJsaW1pd
    NextPageToken:
      description: If specified, an opaque token used to fetch the next page of results.
      type: string
      example: eyJsaW1pd
    OrgUserApiTokenRevoke:
      x-schema-name: OrgUserApiTokenRevoke
      description: The result of an API token revocation.
      type: object
      additionalProperties: false
      properties: {}
    NextPageLink:
      description: If specified, a link that can be used to fetch the next page of results.
      type: string
      format: url
    User:
      x-schema-name: User
      description: Info about the user who initiated an action.
      type: object
      required:
      - type
      - id
      - email
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this resource.
          enum:
          - user
          x-tsType: Type.User
        id:
          type: number
          description: Internal Superhuman Docs ID of the user.
          example: 867102
        email:
          type: string
          description: Email address of the user.
          example: user@example.com
    OrgUserApiToken:
      x-schema-name: OrgUserApiToken
      description: Info about an API Token for a user within an organization.
      type: object
      required:
      - owner
      - id
      - name
      - createdAt
      - lastUsedAt
      additionalProperties: false
      properties:
        owner:
          $ref: '#/components/schemas/User'
        id:
          type: string
          description: ID of the Superhuman Docs API Token.
          example: AbCDeFGH
        name:
          type: string
          description: Name of the Superhuman Docs API Token.
          example: Cool Superhuman Docs Integration
        createdAt:
          type: string
          format: date-time
          description: Timestamp representing when the user created this API token.
        lastUsedAt:
          type: string
          format: date-time
          description: Timestamp representing when this API token was last used.
          example: '2018-04-11T00:18:57.946Z'
  responses:
    ForbiddenError:
      description: The API token does not grant access to this resource.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 403
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Forbidden
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Forbidden
    BadRequestError:
      description: The request parameters did not conform to expectations.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 400
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Bad Request
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Bad Request
    NotFoundError:
      description: The resource could not be located with the current API token.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 404
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Not Found
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Not Found
    TooManyRequestsError:
      description: The client has sent too many requests.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 429
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Too Many Requests
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Too Many Requests
    UnauthorizedError:
      description: The API token is invalid or has expired.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 401
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Unauthorized
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Unauthorized
  parameters:
    limit:
      name: limit
      description: Maximum number of results to return in this query.
      in: query
      example: 10
      schema:
        type: integer
        minimum: 1
        default: 100
        maximum: 500
    organizationId:
      name: organizationId
      description: ID of the organization.
      in: path
      required: true
      example: org-AbCDeFGHIj
      schema:
        type: string
    apiTokenId:
      name: apiTokenId
      description: ID of the API token.
      in: path
      required: true
      example: afe84ebf-4d06-44c5-b545-a8af5036bebf
      schema:
        type: string
        format: uuid
    pageToken:
      name: pageToken
      description: An opaque token used to fetch the next page of results.
      in: query
      example: eyJsaW1pd
      schema:
        type: string
  securitySchemes:
    Bearer:
      description: 'The Superhuman Docs Admin API can be accessed using an API token, which can be obtained from [*My account*](https://docs.superhuman.com/account)

        in Superhuman Docs. This token should be specified by setting a header as follows.


        ```Authorization: Bearer <api_token>```


        Keep your token safe, as anyone who gets access to it can access your account. Once a token is created

        it cannot be viewed or modified, so don''t lose it.

        '
      type: http
      scheme: bearer
      bearerFormat: UUID
x-tagGroups:
- name: API Tokens
  tags:
  - API Tokens
- name: Docs
  tags:
  - Docs
  - Doc Permissions
  - Doc Export
- name: Doc Structure
  tags:
  - Pages
- name: Events
  tags:
  - Events
- name: Folders
  tags:
  - Folders
  - Folder Permissions
- name: Groups
  tags:
  - Groups
- name: Import
  tags:
  - Preferences
- name: LegalHolds
  tags:
  - LegalHolds
- name: Organizations
  tags:
  - Organizations
  - Organization Users
  - Pack Controls
  - Pack Configurations
- name: Packs
  tags:
  - Packs
- name: Webhooks
  tags:
  - Webhooks
- name: Workspaces
  tags:
  - Workspaces
  - Workspace Users
