openapi: 3.2.0
info:
  title: Coda Project Folders API
  contact:
    name: Developer Support
    url: https://superhuman.com/developers
    email: care@superhuman.com
  license:
    name: Superhuman Developer Terms
    url: https://docs.superhuman.com/trust/developer
  termsOfService: https://superhuman.com/legal/terms
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Folders across 2 of this provider''s published API definitions: coda-project-admin-openapi-original.json, coda-project-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://docs.superhuman.com/apis/admin/v1
  description: Superhuman Docs Admin API (v1)
- url: https://docs.superhuman.com/apis/v1
  description: Superhuman Docs API (v1)
security:
- Bearer: []
tags:
- name: Folders
  description: Folders contain docs and enable folder members to access those docs.
paths:
  /organizations/{organizationId}/workspaces/{workspaceId}/folders:
    get:
      summary: List folders
      description: Returns a list of folders in the workspace
      operationId: listFolders
      tags:
      - Folders
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pageToken'
      - $ref: '#/components/parameters/folderIds'
      - $ref: '#/components/parameters/folderType'
      - $ref: '#/components/parameters/query'
      - name: includeAcl
        description: Include permissions metadata on each folder.
        in: query
        required: false
        schema:
          type: boolean
          description: When true, permissions metadata is included
      - name: includeDeleted
        description: Include deleted folders
        in: query
        required: false
        schema:
          type: boolean
          description: When true, deleted folders are included
      responses:
        '200':
          description: List of Superhuman Docs folders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderList'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = ''https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/workspaces<your workspace id>/folders''

          res = requests.get(uri, headers=headers).json()


          print(f''First folder is: {res["items"][0]["name"]}'')

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/workspaces/<your workspace id>/folders' |\n  jq .items[0].name\n"
    servers:
    - url: https://docs.superhuman.com/apis/admin/v1
      description: Superhuman Docs Admin API (v1)
  /organizations/{organizationId}/workspaces/{workspaceId}/folders/{folderId}:
    get:
      summary: Get folder
      description: Returns the requested folder.
      operationId: getFolder
      tags:
      - Folders
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/folderId'
      responses:
        '200':
          description: The requested Superhuman Docs folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = ''https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/workspaces/<your workspace id>/folders/<your folder id>''

          res = requests.get(uri, headers=headers).json()


          print(f''Folder name is: {res["name"]}'')

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/workspaces/<your workspace id>/folders/<your folder id>' |\n  jq .name\n"
    delete:
      summary: Delete folder
      description: Deletes the specified folder. The folder must be empty (contain no documents). Personal folders cannot be deleted.
      operationId: deleteFolder
      tags:
      - Folders
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/folderId'
      responses:
        '200':
          description: Confirmation that the folder was deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFolderResult'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = ''https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/workspaces/<your workspace id>/folders/<your folder id>''

          res = requests.delete(uri, headers=headers)


          print(''Folder deleted successfully'')

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' -X DELETE \\\n  'https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/workspaces/<your workspace id>/folders/<your folder id>'\n# => Folder deleted successfully\n"
    servers:
    - url: https://docs.superhuman.com/apis/admin/v1
      description: Superhuman Docs Admin API (v1)
  /folders:
    get:
      summary: List folders
      description: Returns a list of folders the user has access to.
      operationId: listFolders
      tags:
      - Folders
      parameters:
      - name: workspaceId
        in: query
        description: Show only folders belonging to the given workspace.
        schema:
          type: string
        example: ws-1Ab234
      - name: isStarred
        in: query
        description: If true, returns folders that are starred. If false, returns folders that are not starred. If not specified, returns all folders.
        schema:
          type: boolean
      - $ref: '#/components/parameters/limit_2'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: List of folders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderList_2'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = 'https://docs.superhuman.com/apis/v1/folders'\nres = requests.get(uri, headers=headers).json()\n\nfor folder in res['items']:\n    print(f'Folder: {folder[\"name\"]}')\n"
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/folders' |\n  jq '.items[].name'\n"
    post:
      summary: Create folder
      description: Creates a new folder.
      operationId: createFolder
      tags:
      - Folders
      requestBody:
        description: Parameters for creating the folder.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFolderRequest'
      responses:
        '201':
          description: The created folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder_2'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = ''https://docs.superhuman.com/apis/v1/folders''

          payload = {''name'': ''My New Folder''}

          res = requests.post(uri, headers=headers, json=payload).json()


          print(f''Created folder: {res["id"]}'')

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"name\": \"My New Folder\"}' \\\n  'https://docs.superhuman.com/apis/v1/folders' |\n  jq .id\n"
    servers:
    - url: https://docs.superhuman.com/apis/v1
      description: Superhuman Docs API (v1)
  /folders/{folderId}:
    get:
      summary: Get folder
      description: Returns the requested folder.
      operationId: getFolder
      tags:
      - Folders
      parameters:
      - $ref: '#/components/parameters/folderId_2'
      responses:
        '200':
          description: The requested Superhuman Docs folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder_2'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = ''https://docs.superhuman.com/apis/v1/folders/<your folder id>''

          res = requests.get(uri, headers=headers).json()


          print(f''Folder name is: {res["name"]}'')

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/folders/<your folder id>' |\n  jq .name\n"
    patch:
      summary: Update folder
      description: Updates metadata for a folder.
      operationId: updateFolder
      tags:
      - Folders
      parameters:
      - $ref: '#/components/parameters/folderId_2'
      requestBody:
        description: Parameters for updating the folder.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFolderRequest'
      responses:
        '200':
          description: The updated folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder_2'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = ''https://docs.superhuman.com/apis/v1/folders/<your folder id>''

          payload = {''name'': ''Updated Folder Name''}

          res = requests.patch(uri, headers=headers, json=payload).json()


          print(f''Updated folder: {res["name"]}'')

          '
      - label: Shell
        lang: shell
        source: "curl -s -X PATCH -H 'Authorization: Bearer <your API token>' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"name\": \"Updated Folder Name\"}' \\\n  'https://docs.superhuman.com/apis/v1/folders/<your folder id>' |\n  jq .name\n"
    delete:
      summary: Delete folder
      description: Deletes a folder. The folder must be empty (contain no docs).
      operationId: deleteFolder
      tags:
      - Folders
      parameters:
      - $ref: '#/components/parameters/folderId_2'
      responses:
        '200':
          description: Folder was successfully deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFolderResult_2'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = ''https://docs.superhuman.com/apis/v1/folders/<your folder id>''

          res = requests.delete(uri, headers=headers)


          print(f''Deleted: {res.status_code == 200}'')

          '
      - label: Shell
        lang: shell
        source: "curl -s -X DELETE -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/folders/<your folder id>'\n"
    servers:
    - url: https://docs.superhuman.com/apis/v1
      description: Superhuman Docs API (v1)
components:
  schemas:
    DeleteFolderResult:
      x-schema-name: DeleteFolderResult
      description: The result of deleting a folder.
      type: object
      additionalProperties: false
      properties: {}
    WorkspacePrincipal:
      type: object
      required:
      - type
      - workspaceId
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - workspace
          x-tsType: PrincipalType.Workspace
        workspaceId:
          type: string
          description: WorkspaceId for the principal.
          example: ws-sdfmsdf9
    EmailPrincipal:
      type: object
      required:
      - email
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - email
          x-tsType: PrincipalType.Email
        email:
          type: string
          description: Email for the principal.
          example: example@domain.com
    NextPageToken:
      description: If specified, an opaque token used to fetch the next page of results.
      type: string
      example: eyJsaW1pd
    FolderList:
      x-schema-name: FolderList
      description: List of folders.
      type: object
      required:
      - items
      - href
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Folder'
        href:
          type: string
          format: url
          description: API link to these results
          example: https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/workspaces/<your workspace id>/folders
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/NextPageLink'
          - type: string
            example: https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/workspaces/<your workspace id>/folders?pageToken=eyJsaW1pd
    FolderPermission:
      x-schema-name: FolderPermission
      description: A specific folder permission granted to a principal.
      type: object
      required:
      - type
      - principal
      - id
      - access
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this resource.
          enum:
          - permission
          x-tsType: Type.Permission
        principal:
          $ref: '#/components/schemas/Principal'
        id:
          type: string
          description: ID for the Permission
        access:
          $ref: '#/components/schemas/FolderAccessType'
    DomainPrincipal:
      type: object
      required:
      - domain
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - domain
          x-tsType: PrincipalType.Domain
        domain:
          type: string
          description: Domain for the principal.
          example: domain.com
    AnyonePrincipal:
      type: object
      required:
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - anyone
          x-tsType: PrincipalType.Anyone
    FolderAccessType:
      x-schema-name: FolderAccessType
      description: Type of access for folders only.
      type: string
      enum:
      - readonly
      - write
      - comment
      - manage
      - none
      x-tsEnumNames:
      - ReadOnly
      - Write
      - Comment
      - Manage
      - None
    NextPageLink:
      description: If specified, a link that can be used to fetch the next page of results.
      type: string
      format: url
    Principal:
      x-schema-name: Principal
      description: Metadata about a principal.
      oneOf:
      - $ref: '#/components/schemas/EmailPrincipal'
      - $ref: '#/components/schemas/GroupPrincipal'
      - $ref: '#/components/schemas/DomainPrincipal'
      - $ref: '#/components/schemas/WorkspacePrincipal'
      - $ref: '#/components/schemas/AnyonePrincipal'
      discriminator:
        propertyName: type
        mapping:
          email: '#/components/schemas/EmailPrincipal'
          group: '#/components/schemas/GroupPrincipal'
          domain: '#/components/schemas/DomainPrincipal'
          workspace: '#/components/schemas/WorkspacePrincipal'
          anyone: '#/components/schemas/AnyonePrincipal'
    GroupPrincipal:
      type: object
      required:
      - groupId
      - groupName
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - group
          x-tsType: PrincipalType.Group
        groupId:
          type: string
          description: Group ID for the principal.
          example: grp-6SM9xrKcqW
        groupName:
          type: string
          description: Name of the group.
          example: Marketing team
    Folder:
      x-schema-name: Folder
      description: Info about a Superhuman Docs folder.
      type: object
      required:
      - type
      - id
      - name
      - folderType
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this resource.
          enum:
          - folder
          x-tsType: Type.Folder
        id:
          type: string
          description: ID of the Superhuman Docs folder.
          example: fl-1Ab234
        name:
          type: string
          description: Name of the Superhuman Docs folder.
          example: My docs
        icon:
          type: string
          description: Name of the Superhuman Docs folder icon.
          example: exclamation-circle-filled
        description:
          type: string
          description: Description of the Superhuman Docs folder.
          example: This folder holds my important docs.
        folderType:
          $ref: '#/components/schemas/FolderType'
        isPrivate:
          deprecated: true
          type: boolean
          description: Deprecated, use folder permissions instead.
        acl:
          type: array
          items:
            $ref: '#/components/schemas/FolderPermission'
        truncatedAcl:
          type: boolean
          description: True if the inline ACL field was truncated; use a paginated ACL query to fetch all permissions.
    FolderType:
      x-schema-name: FolderType
      type: string
      enum:
      - Standard
      - Personal
      x-tsEnumNames:
      - Standard
      - Personal
    DeleteFolderResult_2:
      x-schema-name: DeleteFolderResult
      description: The result of a folder deletion.
      type: object
      additionalProperties: false
    CreateFolderRequest:
      x-schema-name: CreateFolderRequest
      description: Request for creating a folder.
      type: object
      required:
      - name
      - workspaceId
      additionalProperties: false
      properties:
        name:
          type: string
          description: Name of the folder.
          example: Projects
        workspaceId:
          type: string
          description: ID of the workspace where the folder should be created.
          example: ws-1Ab234
        description:
          type: string
          description: Description of the folder.
          example: A collection of project docs.
    Folder_2:
      x-schema-name: Folder
      description: A Superhuman Docs folder.
      type: object
      required:
      - id
      - type
      - name
      - browserLink
      - workspace
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the Superhuman Docs folder.
          example: fl-1Ab234
        type:
          type: string
          description: The type of this resource.
          enum:
          - folder
          x-tsType: Type.Folder
        name:
          type: string
          description: The name of the folder.
          example: Projects
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the folder.
          example: https://docs.superhuman.com/folders/fl-1Ab234
        description:
          type: string
          description: The description of the folder.
          example: A collection of project docs.
        icon:
          $ref: '#/components/schemas/Icon'
        createdAt:
          type: string
          format: date-time
          description: Timestamp for when the folder was created.
          example: '2018-04-11T00:18:57.946Z'
        canEdit:
          type: boolean
          description: Whether the folder settings can be edited. E.g., some folder types (like personal folders - "My Docs") cannot be edited.
          example: true
        workspace:
          $ref: '#/components/schemas/WorkspaceReference'
    UpdateFolderRequest:
      x-schema-name: UpdateFolderRequest
      description: Request for updating a folder.
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          description: Name of the folder.
          example: Projects
        description:
          type: string
          description: Description of the folder.
          example: A collection of project docs.
    FolderList_2:
      x-schema-name: FolderList
      description: List of folders.
      type: object
      required:
      - items
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Folder_2'
        href:
          type: string
          format: url
          description: API link to these results.
          example: https://docs.superhuman.com/apis/v1/folders?workspaceId=ws-1Ab234
        nextPageToken:
          $ref: '#/components/schemas/nextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/nextPageLink'
          - type: string
            example: https://docs.superhuman.com/apis/v1/folders?pageToken=xyz
    WorkspaceReference:
      x-schema-name: WorkspaceReference
      description: Reference to a Superhuman Docs workspace.
      type: object
      required:
      - id
      - type
      - browserLink
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the Superhuman Docs workspace.
          example: ws-1Ab234
        type:
          type: string
          description: The type of this resource.
          enum:
          - workspace
          x-tsType: Type.Workspace
        organizationId:
          type: string
          description: ID of the organization bound to this workspace, if any.
          example: org-2Bc456
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the Superhuman Docs workspace.
          example: https://docs.superhuman.com/docs?workspaceId=ws-1Ab234
        name:
          type: string
          description: Name of the workspace; included if the user has access to the workspace.
          example: My workspace
    Icon:
      x-schema-name: icon
      description: Info about the icon.
      type: object
      required:
      - name
      - type
      - browserLink
      additionalProperties: false
      properties:
        name:
          type: string
          description: Name of the icon.
        type:
          type: string
          description: MIME type of the icon
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to an icon.
          example: https://cdn.coda.io/icons/png/color/icon-32.png
    nextPageToken:
      description: If specified, an opaque token used to fetch the next page of results.
      type: string
      example: eyJsaW1pd
    nextPageLink:
      description: If specified, a link that can be used to fetch the next page of results.
      type: string
      format: url
  parameters:
    organizationId:
      name: organizationId
      description: ID of the organization.
      in: path
      required: true
      example: org-AbCDeFGHIj
      schema:
        type: string
    folderIds:
      name: folderIds
      description: Comma-separated list of folder IDs
      in: query
      explode: false
      example:
      - fl-AbCDeFGHIj
      schema:
        type: array
        items:
          type: string
    pageToken:
      name: pageToken
      description: An opaque token used to fetch the next page of results.
      in: query
      example: eyJsaW1pd
      schema:
        type: string
    workspaceId:
      name: workspaceId
      description: ID of the workspace.
      in: path
      required: true
      example: ws-AbCDeFGHIj
      schema:
        type: string
    query:
      name: query
      description: Search terms used to narrow down results.
      in: query
      required: false
      example: feature%parity
      schema:
        type: string
    folderType:
      name: folderType
      description: Type of the folder
      in: query
      example: Standard
      schema:
        $ref: '#/components/schemas/FolderType'
    limit:
      name: limit
      description: Maximum number of results to return in this query.
      in: query
      example: 10
      schema:
        type: integer
        minimum: 1
        default: 100
        maximum: 500
    folderId:
      name: folderId
      description: ID of the folder.
      in: path
      required: true
      example: fl-AbCDeFGHIj
      schema:
        type: string
    limit_2:
      name: limit
      description: Maximum number of results to return in this query.
      in: query
      example: 10
      schema:
        type: integer
        minimum: 1
        default: 25
    folderId_2:
      name: folderId
      description: ID of the folder.
      in: path
      required: true
      example: fl-1Ab234
      schema:
        type: string
  responses:
    NotFoundError:
      description: The resource could not be located with the current API token.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 404
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Not Found
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Not Found
    TooManyRequestsError:
      description: The client has sent too many requests.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 429
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Too Many Requests
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Too Many Requests
    ForbiddenError:
      description: The API token does not grant access to this resource.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 403
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Forbidden
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Forbidden
    BadRequestError:
      description: The request parameters did not conform to expectations.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 400
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Bad Request
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Bad Request
    UnauthorizedError:
      description: The API token is invalid or has expired.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 401
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Unauthorized
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Unauthorized
  securitySchemes:
    Bearer:
      description: 'The Superhuman Docs Admin API can be accessed using an API token, which can be obtained from [*My account*](https://docs.superhuman.com/account)

        in Superhuman Docs. This token should be specified by setting a header as follows.


        ```Authorization: Bearer <api_token>```


        Keep your token safe, as anyone who gets access to it can access your account. Once a token is created

        it cannot be viewed or modified, so don''t lose it.

        '
      type: http
      scheme: bearer
      bearerFormat: UUID
x-refined-from:
- coda-project-admin-openapi-original.json
- coda-project-openapi-original.json
x-tagGroups:
- name: API Tokens
  tags:
  - API Tokens
- name: Docs
  tags:
  - Docs
  - Doc Permissions
  - Doc Export
- name: Doc Structure
  tags:
  - Pages
- name: Events
  tags:
  - Events
- name: Folders
  tags:
  - Folders
  - Folder Permissions
- name: Groups
  tags:
  - Groups
- name: Import
  tags:
  - Preferences
- name: LegalHolds
  tags:
  - LegalHolds
- name: Organizations
  tags:
  - Organizations
  - Organization Users
  - Pack Controls
  - Pack Configurations
- name: Packs
  tags:
  - Packs
- name: Webhooks
  tags:
  - Webhooks
- name: Workspaces
  tags:
  - Workspaces
  - Workspace Users
