openapi: 3.2.0
info:
  version: 1.5.0
  title: Superhuman Docs Rows API
  license:
    name: Superhuman Developer Terms
    url: https://docs.superhuman.com/trust/developer
  description: '# Introduction


    The Superhuman Docs API is a RESTful API that lets you programmatically interact with data in Superhuman Docs (formerly Coda):


    * List and search documents

    * Create new docs and copy existing ones

    * Share and publish docs

    * Discover pages, tables, formulas, and controls

    * Read, insert, upsert, update, and delete rows


    If you plan to integrate Superhuman Docs with an AI tool, you may also want to consider using the

    Superhuman Docs MCP server.'
  termsOfService: https://superhuman.com/legal/terms
  contact:
    name: Developer Support
    url: https://superhuman.com/developers
    email: care@superhuman.com
  x-logo:
    url: https://cdn.coda.io/icons/png/color/superhuman-docs-128.png
    backgroundColor: transparent
    altText: Superhuman Docs API
    href: '#'
servers:
- url: https://docs.superhuman.com/apis/v1
  description: Superhuman Docs API (v1)
security:
- Bearer: []
tags:
- name: Rows
  description: You'll likely use this part of the API the most. These endpoints let you retrieve row data from tables in Superhuman Docs as well as create, upsert, update, and delete them. Most of these endpoints work for both base tables and views, but for inserting/upsering rows, you must use a base table.
paths:
  /docs/{docId}/tables/{tableIdOrName}/rows:
    get:
      summary: List table rows
      description: 'Returns a list of rows in a table.

        ### Value results

        The `valueFormat` parameter dictates in what format the API should return values for individual cells.

        * `simple` (default): Returns cell values as the following JSON values: `string`, `number`, or `boolean`. Array values (like multiselects) are returned as comma-delimited strings.

        * `simpleWithArrays`: Singleton values are returned as `simple`. Array values are returned as JSON arrays and the values within are `simple` values (including nested arrays).

        * `rich`: If applicable, returns many values with further encoding, allowing API users to have lossless access to data in Superhuman Docs.

        * For `text` values, returns data in Markdown syntax. If the text field is simple text (e.g. has no formatting),

        the field will be fully escaped with triple-ticks. E.g

        `

        ```This is plain text```

        `

        * For `currency`, `lookup`, `image`, `person` and `hyperlink` values, the value will be encoded in JSON-LD format.


        ```

        // Currency

        {

        "@context": "http://schema.org",

        "@type": "MonetaryAmount",

        "currency": "USD",

        "amount": 42.42

        }


        // Lookup

        {

        "@context": "http://schema.org",

        "@type": "StructuredValue",

        "additionalType": "row",

        "name": "Row Name",

        "rowId": "i-123456789",

        "tableId": "grid-123456789",

        "tableUrl": "https://docs.superhuman.com/d/_d123456789/grid-123456789",

        "url": "https://docs.superhuman.com/d/_d123456789/grid-123456789#_r42",

        }


        // Hyperlink

        {

        "@context": "http://schema.org",

        "@type": "WebPage",

        "name": "Vandalay Industries",

        "url": "https://vandalay.example.com"

        }


        // Image

        {

        "@context": "http://schema.org",

        "@type": "ImageObject",

        "name": "Vandalay Industries logo",

        "url": "https://vandalay.example.com/logo.jpg"

        }


        // People

        {

        "@context": "http://schema.org",

        "@type": "Person",

        "name": "Art Vandalay",

        "email": "art@vandalay.example.com"

        }

        ```'
      operationId: listRows
      tags:
      - Rows
      parameters:
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/tableIdOrName'
      - name: query
        description: 'Query used to filter returned rows, specified as `<column_id_or_name>:<value>`. If you''d like to use a column name instead of an ID, you must quote it (e.g., `"My Column":123`). Also note that `value` is a JSON value; if you''d like to use a string, you must surround it in quotes (e.g., `"groceries"`).

          '
        in: query
        example: c-tuVwxYz:"Apple"
        schema:
          type: string
      - name: sortBy
        in: query
        description: 'Specifies the sort order of the rows returned. If left unspecified, rows are returned by creation time ascending. "UpdatedAt" sort ordering is the order of rows based upon when they were last updated. This does not include updates to calculated values. "Natural" sort ordering is the order that the rows appear in the table view in the application. This ordering is only meaningfully defined for rows that are visible (unfiltered). Because of this, using this sort order will imply visibleOnly=true, that is, to only return visible rows. If you pass sortBy=natural and visibleOnly=false explicitly, this will result in a Bad Request error as this condition cannot be satisfied.

          '
        schema:
          $ref: '#/components/schemas/RowsSortBy'
      - $ref: '#/components/parameters/useColumnNames'
      - name: valueFormat
        in: query
        description: The format that cell values are returned as.
        schema:
          $ref: '#/components/schemas/ValueFormat'
      - name: visibleOnly
        description: If true, returns only visible rows and columns for the table.
        in: query
        example: true
        schema:
          type: boolean
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pageToken'
      - $ref: '#/components/parameters/syncToken'
      responses:
        '200':
          description: List of rows in the table.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RowList'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = f'https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/rows'\nparams = {\n  'query': '<column ID>:\"Work out\"',\n}\nreq = requests.get(uri, headers=headers, params=params)\nreq.raise_for_status() # Throw if there was an error.\nres = req.json()\n\nprint(f'Matching rows: {len(res[\"items\"])}')\n# => Matching rows: 1\n"
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  -G --data-urlencode 'query=<column ID>:\"Work out\"' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/rows' |\n  jq '\"Matching rows: \" + (.items | length | tostring)'\n# => \"Matching rows: 1\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var query = ''<column ID>:"Work out"'';

          var rows = SuperhumanDocs.listRows(''<doc ID>'', ''<table ID>'', {query: query}).items;

          Logger.log(''Matching rows: '' + rows.length);

          // => Matching rows: 1

          '
    post:
      summary: Insert/upsert rows
      description: 'Inserts rows into a table, optionally updating existing rows if any upsert key columns are provided. This endpoint will always return a 202, so long as the doc and table exist and are accessible (and the update is structurally valid). Row inserts/upserts are generally processed within several seconds. Note: this endpoint only works for base tables, not views.

        When upserting, if multiple rows match the specified key column(s), they will all be updated with the specified value.'
      operationId: upsertRows
      tags:
      - Rows
      parameters:
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/tableIdOrName'
      - name: disableParsing
        description: If true, the API will not attempt to parse the data in any way.
        in: query
        example: true
        schema:
          type: boolean
      requestBody:
        description: Rows to insert or upsert.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RowsUpsert'
      responses:
        '202':
          description: A result indicating that the upsert was queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RowsUpsertResult'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = f'https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/rows'\npayload = {\n  'rows': [\n    {\n      'cells': [\n        {'column': '<column ID>', 'value': 'Feed Baker'},\n      ],\n    },\n  ],\n}\nreq = requests.post(uri, headers=headers, json=payload)\nreq.raise_for_status() # Throw if there was an error.\nres = req.json()\n\nprint(f'Inserted 1 row')\n# => Inserted 1 row\n"
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' -X POST -H \"Content-Type: application/json\" \\\n  -d '{\"rows\": [{\"cells\": [{\"column\": \"<column ID>\", \"value\": \"Feed Baker\"}]}]}' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/rows' |\n  jq 'if .statusMessage? == null then \"Inserted 1 row\" else . end'\n# => \"Inserted 1 row\"\n"
      - label: Google Apps Script
        lang: javascript
        source: "// Import the SuperhumanDocs library via Resource->Libraries...:\n// 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl\nSuperhumanDocs.authenticate('<your API token>');\nvar body = {\n  'rows': [\n    {\n      'cells': [\n        {'column': '<column ID>', 'value': 'Feed Baker'},\n      ],\n    },\n  ],\n};\nSuperhumanDocs.upsertRows('<doc ID>', '<table ID>', body);\nLogger.log('Inserted 1 row');\n// => Inserted 1 row\n"
    delete:
      summary: Delete multiple rows
      description: Deletes the specified rows from the table or view. This endpoint will always return a 202. Row deletions are generally processed within several seconds.
      operationId: deleteRows
      tags:
      - Rows
      parameters:
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/tableIdOrName'
      requestBody:
        description: Rows to delete.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RowsDelete'
      responses:
        '202':
          description: A result indicating that the delete was queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RowsDeleteResult'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = f'https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/rows'\npayload = {\n  'rowIds': ['i-aBcDeFgH', 'i-AbCdEfGh'],\n}\nreq = requests.delete(uri, headers=headers, json=payload)\nreq.raise_for_status() # Throw if there was an error.\nres = req.json()\n\nprint(f'Deleted 2 rows')\n# => Deleted 2 rows\n"
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' -X DELETE -H \"Content-Type: application/json\" \\\n  -d '{\"rowIds\": ['i-aBcDeFgH', 'i-AbCdEfGh']}' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/rows' |\n  jq 'if .statusMessage? == null then \"Deleted 2 rows\" else . end'\n# => \"Deleted 2 rows\"\n"
      - label: Google Apps Script
        lang: javascript
        source: "// Import the SuperhumanDocs library via Resource->Libraries...:\n// 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl\nSuperhumanDocs.authenticate('<your API token>');\nvar body = {\n  'rowIds': ['i-aBcDeFgH', 'i-AbCdEfGh'],\n};\nSuperhumanDocs.deleteRows('<doc ID>', '<table ID>', body);\nLogger.log('Deleted 2 rows');\n// => Deleted 2 rows\n"
  /docs/{docId}/tables/{tableIdOrName}/rows/{rowIdOrName}:
    get:
      summary: Get a row
      description: Returns details about a row in a table.
      operationId: getRow
      tags:
      - Rows
      parameters:
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/tableIdOrName'
      - $ref: '#/components/parameters/rowIdOrName'
      - $ref: '#/components/parameters/useColumnNames'
      - name: valueFormat
        in: query
        description: The format that cell values are returned as.
        schema:
          $ref: '#/components/schemas/ValueFormat'
      responses:
        '200':
          description: 'Info about a row. If this row was retrieved by name, only one matching row will be returned, with no guarantees as to which one it is.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RowDetail'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/rows/<row ID>''

          req = requests.get(uri, headers=headers)

          req.raise_for_status() # Throw if there was an error.

          res = req.json()


          print(f''Row values are: {", ".join(str(v) for v in res["values"].values())}'')

          # => Row values are: Get groceries, 1, 60

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/rows/<row ID>' |\n  jq '.values | map(tostring) | join(\", \")'\n# => \"Get groceries, 1, 60\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var row = SuperhumanDocs.getRow(''<doc ID>'', ''<table ID>'', ''<row ID>'');

          var values = Object.keys(row.values).map(function(colId) { return row.values[colId]; });

          Logger.log(''Row values are: '' + values.join('', ''));

          // => Row values are: Get groceries, 1, 60

          '
    put:
      summary: Update row
      description: Updates the specified row in the table. This endpoint will always return a 202, so long as the row exists and is accessible (and the update is structurally valid). Row updates are generally processed within several seconds. When updating using a name as opposed to an ID, an arbitrary row will be affected.
      operationId: updateRow
      tags:
      - Rows
      parameters:
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/tableIdOrName'
      - $ref: '#/components/parameters/rowIdOrName'
      - name: disableParsing
        description: If true, the API will not attempt to parse the data in any way.
        in: query
        example: true
        schema:
          type: boolean
      requestBody:
        description: Row update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RowUpdate'
      responses:
        '202':
          description: A result indicating that the update was queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RowUpdateResult'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = f'https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/rows/<row ID>'\npayload = {\n  'row': {\n    'cells': [\n      {'column': '<column ID>', 'value': 'Get groceries from Whole Foods'},\n    ],\n  },\n}\nreq = requests.put(uri, headers=headers, json=payload)\nreq.raise_for_status() # Throw if there was an error.\nres = req.json()\n\nprint(f'Updated row {res[\"id\"]}')\n# => Updated row <row ID>\n"
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' -X PUT -H \"Content-Type: application/json\" \\\n  -d '{\"row\": {\"cells\": [{\"column\": \"<column ID>\", \"value\": \"Get groceries from Whole Foods\"}]}}' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/rows/<row ID>' |\n  jq '\"Updated row \" + .id'\n# => \"Updated row <row ID>\"\n"
      - label: Google Apps Script
        lang: javascript
        source: "// Import the SuperhumanDocs library via Resource->Libraries...:\n// 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl\nSuperhumanDocs.authenticate('<your API token>');\nvar body = {\n  row: {\n    cells: [\n      {'column': '<column ID>', 'value': 'Get groceries from Whole Foods'},\n    ],\n  },\n};\nvar row = SuperhumanDocs.updateRow('<doc ID>', '<table ID>', '<row ID>', body);\nLogger.log('Updated row ' + row.id);\n// => Updated row <row ID>\n"
    delete:
      summary: Delete row
      description: Deletes the specified row from the table or view. This endpoint will always return a 202, so long as the row exists and is accessible (and the update is structurally valid). Row deletions are generally processed within several seconds. When deleting using a name as opposed to an ID, an arbitrary row will be removed.
      operationId: deleteRow
      tags:
      - Rows
      parameters:
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/tableIdOrName'
      - $ref: '#/components/parameters/rowIdOrName'
      responses:
        '202':
          description: A result indicating that the deletion was queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RowDeleteResult'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/rows/<row ID>''

          req = requests.delete(uri, headers=headers)

          req.raise_for_status() # Throw if there was an error.

          res = req.json()


          print(f''Deleted row {res["id"]}'')

          # => Deleted row <row ID>

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' -X DELETE \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/rows/<row ID>' |\n  jq '\"Deleted row \" + .id'\n# => \"Deleted row <row ID>\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var row = SuperhumanDocs.deleteRow(''<doc ID>'', ''<table ID>'', ''<row ID>'');

          Logger.log(''Deleted row '' + row.id);

          // => Deleted row <row ID>

          '
  /docs/{docId}/tables/{tableIdOrName}/rows/{rowIdOrName}/buttons/{columnIdOrName}:
    post:
      summary: Push a button
      description: 'Pushes a button on a row in a table.

        Authorization note: This action is available to API tokens that are authorized to write to the table. However, the underlying button can perform any action on the document, including writing to other tables and performing Pack actions.'
      operationId: pushButton
      tags:
      - Rows
      parameters:
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/tableIdOrName'
      - $ref: '#/components/parameters/rowIdOrName'
      - $ref: '#/components/parameters/columnIdOrName'
      responses:
        '202':
          description: A result indicating that the push button action was queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushButtonResult'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/rows/<row ID>/buttons/<column ID>''

          req = requests.post(uri, headers=headers)

          req.raise_for_status() # Throw if there was an error.

          res = req.json()

          print(f''Pushed button'')

          # => Pushed button

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' -X POST \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/rows/<row ID>/buttons/<column ID>' |\n  jq 'if .statusMessage? == null then \"Pushed button\" else . end'\n  # => Pushed button\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          SuperhumanDocs.pushButton(''<doc ID>'', ''<table ID>'', ''<row ID>'', ''<column ID>'');

          Logger.log(''Pushed button'');

          // => Pushed button

          '
components:
  schemas:
    RowsSortBy:
      x-schema-name: RowsSortBy
      description: Determines how the rows returned are sorted
      type: string
      enum:
      - createdAt
      - natural
      - updatedAt
      x-tsEnumNames:
      - CreatedAt
      - Natural
      - UpdatedAt
    LinkedDataType:
      x-schema-name: LinkedDataType
      description: A schema.org identifier for the object.
      type: string
      enum:
      - ImageObject
      - MonetaryAmount
      - Person
      - WebPage
      - StructuredValue
      x-tsEnumNames:
      - ImageObject
      - MonetaryAmount
      - Person
      - WebPage
      - StructuredValue
    CellEdit:
      x-schema-name: CellEdit
      description: An edit made to a particular cell in a row.
      type: object
      required:
      - column
      - value
      additionalProperties: false
      properties:
        column:
          type: string
          description: Column ID, URL, or name (fragile and discouraged) associated with this edit.
          example: c-tuVwxYz
        value:
          $ref: '#/components/schemas/Value'
    ScalarValue:
      x-schema-name: ScalarValue
      description: A Superhuman Docs result or entity expressed as a primitive type.
      oneOf:
      - type: string
        example: $12.34
      - type: number
        example: 12.34
      - type: boolean
        example: true
    nextPageLink:
      description: If specified, a link that can be used to fetch the next page of results.
      type: string
      format: url
    Row:
      x-schema-name: Row
      description: Info about a row.
      type: object
      required:
      - id
      - type
      - href
      - name
      - index
      - browserLink
      - createdAt
      - updatedAt
      - values
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the row.
          example: i-tuVwxYz
        type:
          type: string
          description: The type of this resource.
          enum:
          - row
          x-tsType: Type.Row
        href:
          type: string
          format: url
          description: API link to the row.
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/tables/grid-pqRst-U/rows/i-RstUv-W
        name:
          type: string
          description: The display name of the row, based on its identifying column.
          example: Apple
        index:
          type: integer
          description: Index of the row within the table.
          example: 7
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the row.
          example: https://docs.superhuman.com/d/_dAbCDeFGH#Teams-and-Tasks_tpqRst-U/_rui-tuVwxYz
        createdAt:
          type: string
          format: date-time
          description: Timestamp for when the row was created.
          example: '2018-04-11T00:18:57.946Z'
        updatedAt:
          type: string
          format: date-time
          description: Timestamp for when the row was last modified.
          example: '2018-04-11T00:18:57.946Z'
        values:
          type: object
          description: 'Values for a specific row, represented as a hash of column IDs (or names with `useColumnNames`) to values.

            '
          additionalProperties:
            $ref: '#/components/schemas/CellValue'
          example:
            c-tuVwxYz: Apple
            c-bCdeFgh:
            - $12.34
            - $56.78
    LinkedDataObject:
      x-schema-name: LinkedDataObject
      description: Base type for a JSON-LD (Linked Data) object.
      type: object
      additionalProperties: false
      required:
      - '@context'
      - '@type'
      properties:
        '@context':
          type: string
          description: A url describing the schema context for this object, typically "http://schema.org/".
          example: http://schema.org/
        '@type':
          $ref: '#/components/schemas/LinkedDataType'
        additionalType:
          type: string
          description: 'An identifier of additional type info specific to Superhuman Docs that may not be present in a schema.org taxonomy,

            '
    UrlValue:
      x-schema-name: UrlValue
      description: A named hyperlink to an arbitrary url.
      allOf:
      - $ref: '#/components/schemas/LinkedDataObject'
      - type: object
        additionalProperties: false
        required:
        - '@type'
        - url
        properties:
          '@type':
            type: string
            enum:
            - WebPage
            x-tsType: LinkedDataType.WebPage
          name:
            type: string
            description: The user-visible text of the hyperlink.
            example: Click me
          url:
            type: string
            description: The url of the hyperlink.
            example: https://example.com
    ImageUrlValue:
      x-schema-name: ImageUrlValue
      description: A named url of an image along with metadata.
      allOf:
      - $ref: '#/components/schemas/LinkedDataObject'
      - type: object
        additionalProperties: false
        required:
        - '@type'
        properties:
          '@type':
            type: string
            enum:
            - ImageObject
            x-tsType: LinkedDataType.ImageObject
          name:
            type: string
            description: The name of the image.
            example: Dogs Playing Poker
          url:
            type: string
            description: The url of the image.
            example: https://example.com/dogs-playing-poker.jpg
          height:
            type: number
            description: The height of the image in pixels.
            example: 480
          width:
            type: number
            description: The width of the image in pixels.
            example: 640
          status:
            $ref: '#/components/schemas/ImageStatus'
    RichValue:
      x-schema-name: RichValue
      description: A cell value that contains rich structured data.
      oneOf:
      - $ref: '#/components/schemas/RichSingleValue'
      - type: array
        items:
          oneOf:
          - $ref: '#/components/schemas/RichSingleValue'
          - type: array
            items:
              $ref: '#/components/schemas/RichSingleValue'
    CellValue:
      x-schema-name: CellValue
      description: All values that a row cell can contain.
      oneOf:
      - $ref: '#/components/schemas/Value'
      - $ref: '#/components/schemas/RichValue'
    RowsUpsert:
      x-schema-name: RowsUpsert
      description: Payload for upserting rows in a table.
      type: object
      required:
      - rows
      additionalProperties: false
      properties:
        rows:
          type: array
          items:
            $ref: '#/components/schemas/RowEdit'
        keyColumns:
          description: Optional column IDs, URLs, or names (fragile and discouraged), specifying columns to be used as upsert keys.
          example:
          - c-bCdeFgh
          type: array
          items:
            type: string
    CurrencyValue:
      x-schema-name: CurrencyValue
      description: A monetary value with its associated currency code.
      allOf:
      - $ref: '#/components/schemas/LinkedDataObject'
      - type: object
        additionalProperties: false
        required:
        - '@type'
        - currency
        - amount
        properties:
          '@type':
            type: string
            enum:
            - MonetaryAmount
            x-tsType: LinkedDataType.MonetaryAmount
          currency:
            type: string
            description: The 3-letter currency code.
            example: USD
          amount:
            $ref: '#/components/schemas/CurrencyAmount'
    nextSyncToken:
      description: 'If specified, an opaque token that can be passed back later to retrieve new results that match the parameters specified when the sync token was created.

        '
      type: string
      example: eyJsaW1pd
    RowsDelete:
      x-schema-name: RowsDelete
      description: Payload for deleting rows from a table.
      type: object
      required:
      - rowIds
      additionalProperties: false
      properties:
        rowIds:
          description: 'Row IDs to delete.

            '
          example:
          - i-bCdeFgh
          - i-CdEfgHi
          type: array
          items:
            type: string
    RowsUpsertResult:
      x-schema-name: RowsUpsertResult
      description: The result of a rows insert/upsert operation.
      allOf:
      - $ref: '#/components/schemas/DocumentMutateResponse'
      - type: object
        additionalProperties: false
        properties:
          addedRowIds:
            description: Row IDs for rows that will be added. Only applicable when keyColumns is not set or empty.
            example:
            - i-bCdeFgh
            - i-CdEfgHi
            type: array
            items:
              type: string
    RichSingleValue:
      x-schema-name: RichSingleValue
      description: 'A value that contains rich structured data. Cell values are composed of these values or arrays of these values.

        '
      oneOf:
      - $ref: '#/components/schemas/ScalarValue'
      - $ref: '#/components/schemas/CurrencyValue'
      - $ref: '#/components/schemas/ImageUrlValue'
      - $ref: '#/components/schemas/PersonValue'
      - $ref: '#/components/schemas/UrlValue'
      - $ref: '#/components/schemas/RowValue'
      discriminator:
        propertyName: '@type'
    RowUpdate:
      x-schema-name: RowUpdate
      description: Payload for updating a row in a table.
      type: object
      required:
      - row
      additionalProperties: false
      properties:
        row:
          $ref: '#/components/schemas/RowEdit'
    RowDeleteResult:
      x-schema-name: RowDeleteResult
      description: The result of a row deletion.
      allOf:
      - $ref: '#/components/schemas/DocumentMutateResponse'
      - type: object
        required:
        - id
        additionalProperties: false
        properties:
          id:
            type: string
            description: ID of the row to be deleted.
            example: i-tuVwxYz
    CurrencyAmount:
      x-schema-name: CurrencyAmount
      description: A numeric monetary amount as a string or number.
      oneOf:
      - type: string
        example: '12.99'
      - type: number
        example: 42
    PushButtonResult:
      x-schema-name: PushButtonResult
      description: The result of a push button.
      allOf:
      - $ref: '#/components/schemas/DocumentMutateResponse'
      - type: object
        required:
        - rowId
        - columnId
        additionalProperties: false
        properties:
          rowId:
            type: string
            description: ID of the row where the button exists.
            example: i-tuVwxYz
          columnId:
            type: string
            description: ID of the column where the button exists.
            example: i-tuVwxYz
    RowUpdateResult:
      x-schema-name: RowUpdateResult
      description: The result of a row update.
      allOf:
      - $ref: '#/components/schemas/DocumentMutateResponse'
      - type: object
        required:
        - id
        additionalProperties: false
        properties:
          id:
            type: string
            description: ID of the updated row.
            example: i-tuVwxYz
    ImageStatus:
      x-schema-name: ImageStatus
      description: The status values that an image object can have.
      type: string
      enum:
      - live
      - deleted
      - failed
      x-tsEnumNames:
      - Live
      - Deleted
      - Failed
    RowValue:
      x-schema-name: RowValue
      description: A value representing a Superhuman Docs row.
      allOf:
      - $ref: '#/components/schemas/LinkedDataObject'
      - type: object
        additionalProperties: false
        required:
        - '@type'
        - name
        - url
        - tableId
        - tableUrl
        - rowId
        - additionalType
        properties:
          '@type':
            type: string
            enum:
            - StructuredValue
            x-tsType: LinkedDataType.StructuredValue
          name:
            type: string
            description: The display name of the row, based on its identifying column.
            example: Apple
          url:
            type: string
            description: The url of the row.
            example: https://docs.superhuman.com/d/_dAbCDeFGH#Teams-and-Tasks_tpqRst-U/_rui-tuVwxYz
          tableId:
            type: string
            description: The ID of the table
            example: grid-pqRst-U
          rowId:
            type: string
            description: The ID of the table
            example: i-tuVwxYz
          tableUrl:
            type: string
            description: The url of the table.
            example: https://docs.superhuman.com/d/_dAbCDeFGH#Teams-and-Tasks_tpqRst-U
          additionalType:
            type: string
            description: The type of this resource.
            enum:
            - row
            x-tsType: Type.Row
    DocumentMutateResponse:
      x-schema-name: DocumentMutateResponse
      description: Base response type for an operation that mutates a document.
      type: object
      additionalProperties: false
      required:
      - requestId
      properties:
        requestId:
          type: string
          description: An arbitrary unique identifier for this request.
          example: abc-123-def-456
    Value:
      x-schema-name: Value
      description: A Superhuman Docs result or entity expressed as a primitive type, or array of primitive types.
      additionalProperties: false
      oneOf:
      - $ref: '#/components/schemas/ScalarValue'
      - type: array
        items:
          oneOf:
          - $ref: '#/components/schemas/ScalarValue'
          - type: array
            items:
              $ref: '#/components/schemas/ScalarValue'
    RowEdit:
      x-schema-name: RowEdit
      description: An edit made to a particular row.
      type: object
      required:
      - cells
      additionalProperties: false
      properties:
        cells:
          type: array
          items:
            $ref: '#/components/schemas/CellEdit'
    PageReference:
      x-schema-name: PageReference
      description: Reference to a page.
      type: object
      required:
      - id
      - type
      - browserLink
      - href
      - name
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the page.
          example: canvas-IjkLmnO
        type:
          type: string
          description: The type of this resource.
          enum:
          - page
          x-tsType: Type.Page
        href:
          type: string
          format: url
          description: API link to the page.
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/pages/canvas-IjkLmnO
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the page.
          example: https://docs.superhuman.com/d/_dAbCDeFGH/Launch-Status_sumnO
        name:
          type: string
          description: Name of the page.
          example: Launch Status
    TableType:
      x-schema-name: TableType
      type: string
      enum:
      - table
      - view
      x-tsEnumNames:
      - Table
      - View
    RowsDeleteResult:
      x-schema-name: RowsDeleteResult
      description: The result of a rows delete operation.
      allOf:
      - $ref: '#/components/schemas/DocumentMutateResponse'
      - type: object
        required:
        - rowIds
        additionalProperties: false
        properties:
          rowIds:
            description: Row IDs to delete.
            example:
            - i-bCdeFgh
            - i-CdEfgHi
            type: array
            items:
              type: string
    TableReference:
      x-schema-name: TableReference
      description: Reference to a table or view.
      type: object
      required:
      - id
      - type
      - tableType
      - browserLink
      - href
      - name
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the table.
          example: grid-pqRst-U
        type:
          type: string
          description: The type of this resource.
          enum:
          - table
          x-tsType: Type.Table
        tableType:
          $ref: '#/components/schemas/TableType'
        href:
          type: string
          format: url
          description: API link to the table.
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/tables/grid-pqRst-U
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the table.
          example: https://docs.superhuman.com/d/_dAbCDeFGH/#Teams-and-Tasks_tpqRst-U
        name:
          type: string
          description: Name of the table.
          example: Tasks
        parent:
          $ref: '#/components/schemas/PageReference'
    ValueFormat:
      x-schema-name: ValueFormat
      description: The format that cell values are returned as.
      type: string
      enum:
      - simple
      - simpleWithArrays
      - rich
      x-tsEnumNames:
      - Simple
      - SimpleWithArrays
      - Rich
    RowList:
      x-schema-name: RowList
      description: List of rows.
      type: object
      required:
      - items
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Row'
        href:
          type: string
          format: url
          description: API link to these results
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/tables/grid-pqRst-U/rows?limit=20
        nextPageToken:
          $ref: '#/components/schemas/nextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/nextPageLink'
          - type: string
            example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/tables/grid-pqRst-U/rows?pageToken=eyJsaW1pd
        nextSyncToken:
          $ref: '#/components/schemas/nextSyncToken'
    RowDetail:
      x-schema-name: RowDetail
      description: Details about a row.
      type: object
      required:
      - id
      - type
      - href
      - name
      - index
      - browserLink
      - createdAt
      - updatedAt
      - values
      - parent
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the row.
          example: i-tuVwxYz
        type:
          type: string
          description: The type of this resource.
          enum:
          - row
          x-tsType: Type.Row
        href:
          type: string
          format: url
          description: API link to the row.
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/tables/grid-pqRst-U/rows/i-RstUv-W
        name:
          type: string
          description: The display name of the row, based on its identifying column.
          example: Apple
        index:
          type: integer
          description: Index of the row within the table.
          example: 7
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the row.
          example: https://docs.superhuman.com/d/_dAbCDeFGH#Teams-and-Tasks_tpqRst-U/_rui-tuVwxYz
        createdAt:
          type: string
          format: date-time
          description: Timestamp for when the row was created.
          example: '2018-04-11T00:18:57.946Z'
        updatedAt:
          type: string
          format: date-time
          description: Timestamp for when the row was last modified.
          example: '2018-04-11T00:18:57.946Z'
        values:
          type: object
          description: 'Values for a specific row, represented as a hash of column IDs (or names with `useColumnNames`) to values.

            '
          additionalProperties:
            $ref: '#/components/schemas/CellValue'
          example:
            c-tuVwxYz: Apple
            c-bCdeFgh:
            - $12.34
            - $56.78
        parent:
          $ref: '#/components/schemas/TableReference'
    PersonValue:
      x-schema-name: PersonValue
      description: A named reference to a person, where the person is identified by email address.
      allOf:
      - $ref: '#/components/schemas/LinkedDataObject'
      - type: object
        additionalProperties: false
        required:
        - '@type'
        - name
        properties:
          '@type':
            type: string
            enum:
            - Person
            x-tsType: LinkedDataType.Person
          name:
            type: string
            description: The full name of the person.
            example: Alice Atkins
          email:
            type: string
            description: The email address of the person.
            example: alice@atkins.com
    nextPageToken:
      description: If specified, an opaque token used to fetch the next page of results.
      type: string
      example: eyJsaW1pd
  parameters:
    rowIdOrName:
      name: rowIdOrName
      description: 'ID or name of the row. Names are discouraged because they''re easily prone to being changed by users. If you''re using a name, be sure to URI-encode it. If there are multiple rows with the same value in the identifying column, an arbitrary one will be selected.

        '
      x-sdk-description: 'ID or name of the row. Names are discouraged because they''re easily prone to being changed by users. Note that if there are multiple rows with the same value in the identifying column, an arbitrary one will be returned.

        '
      in: path
      required: true
      example: i-tuVwxYz
      schema:
        type: string
    columnIdOrName:
      name: columnIdOrName
      description: ID or name of the column. Names are discouraged because they're easily prone to being changed by users. If you're using a name, be sure to URI-encode it.
      x-sdk-description: ID or name of the column. Names are discouraged because they're easily prone to being changed by users.
      in: path
      required: true
      example: c-tuVwxYz
      schema:
        type: string
    pageToken:
      name: pageToken
      description: An opaque token used to fetch the next page of results.
      in: query
      example: eyJsaW1pd
      schema:
        type: string
    useColumnNames:
      name: useColumnNames
      description: 'Use column names instead of column IDs in the returned output. This is generally discouraged as it is fragile. If columns are renamed, code using original names may throw errors.

        '
      in: query
      example: true
      schema:
        type: boolean
    limit:
      name: limit
      description: Maximum number of results to return in this query.
      in: query
      example: 10
      schema:
        type: integer
        minimum: 1
        default: 25
    tableIdOrName:
      name: tableIdOrName
      description: ID or name of the table. Names are discouraged because they're easily prone to being changed by users. If you're using a name, be sure to URI-encode it.
      x-sdk-description: ID or name of the table. Names are discouraged because they're easily prone to being changed by users.
      in: path
      required: true
      example: grid-pqRst-U
      schema:
        type: string
    syncToken:
      name: syncToken
      description: 'An opaque token returned from a previous call that can be used to return results that are relevant to the query since the call where the syncToken was generated.

        '
      in: query
      example: eyJsaW1pd
      schema:
        type: string
    docId:
      name: docId
      description: ID of the doc.
      in: path
      required: true
      example: AbCDeFGH
      schema:
        type: string
  responses:
    NotFoundError:
      description: The resource could not be located with the current API token.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 404
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Not Found
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Not Found
    TooManyRequestsError:
      description: The client has sent too many requests.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 429
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Too Many Requests
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Too Many Requests
    ForbiddenError:
      description: The API token does not grant access to this resource.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 403
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Forbidden
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Forbidden
    BadRequestError:
      description: The request parameters did not conform to expectations.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 400
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Bad Request
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Bad Request
    UnauthorizedError:
      description: The API token is invalid or has expired.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 401
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Unauthorized
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Unauthorized
  securitySchemes:
    Bearer:
      description: "The Superhuman Docs API can be accessed using an API token, which can be obtained from [*My account*](https://docs.superhuman.com/account)\nin Superhuman Docs. This token should be specified by setting a header as follows.\n\n```Authorization: Bearer <api_token>```\n\nKeep your token safe, as anyone who gets access to it can access your account. Once a token is created\nit cannot be viewed or modified, so don't lose it.\n\nIf you're logged into Superhuman Docs, you can also query the API directly using your browser. Note that only GET\nendpoints are supported; for anything else, you'll have to use Bearer authentication.\n\n### Restricting token authorization\n\nBy default, bearer tokens created for the Superhuman Docs API can perform any action that the user who created the token\ncan perform. However, Superhuman Docs API bearer tokens can also be created with restrictions. These restrictions\ncan limit what objects can be operated on and the types of operations that can be performed.\n\n#### Operation types\n\nThe table below describes the types of authorization restrictions that can be placed on a Superhuman Docs API token.\n<table>\n  <tr><th>Restriction</th><th>Description</th><th>Allowed HTTP Methods</th></tr>\n  <tr>\n    <td>Read access</td>\n    <td>Allows access to API methods that read the state of an object</td>\n    <td>GET</td>\n  </tr>\n  <tr>\n    <td>Write access</td>\n    <td>Allows access to API methods that write the state of an object</td>\n    <td>POST, PUT, DELETE</td>\n  </tr>\n  <tr>\n    <td>Read and write access</td>\n    <td>Allows access to all methods for an object</td>\n    <td>All</td>\n  </tr>\n</table>\n\n#### Object types\n\nSuperhuman Docs API tokens can be restricted to the following types of objects.\n\n* Documents: Restricts access to only allow API calls for `/docs/${DOC_ID}`\n* Tables: Restricts access to only allow API calls for `/docs/${DOC_ID}/tables/${TABLE_ID}`\n\n#### Special cases\n\nThere are a few special case methods that violate the above restrictions.\n\n* `/whoami`: This method can be called by all Superhuman Docs API tokens.\n* `/resolveBrowserLink`: This method can be called by all Superhuman Docs API tokens, but will only return a result\nif the token has access (read or write) to the object referenced by the URL.\n\n#### Feedback\n\nThis feature is under development and we'd love to hear your feedback and bug reports. Please\nvisit us at the [Developers Central](https://connect.superhuman.com/c/developers-central) forum within\nthe Superhuman Community.\n"
      type: http
      scheme: bearer
      bearerFormat: UUID
x-tagGroups:
- name: Folders
  tags:
  - Folders
- name: Docs
  tags:
  - Docs
  - Permissions
  - Publishing
- name: Doc Structure
  tags:
  - Pages
  - Automations
- name: Tables and Views
  tags:
  - Tables
  - Columns
  - Rows
- name: Formulas & Controls
  tags:
  - Formulas
  - Controls
- name: Miscellaneous
  tags:
  - Account
  - Analytics
  - Miscellaneous
