openapi: 3.2.0
info:
  version: 0.0.2
  title: Superhuman Docs Admin Folder Permissions API
  license:
    name: Superhuman Developer Terms
    url: https://docs.superhuman.com/trust/developer
  description: '# Introduction


    The Superhuman Docs Admin API is a RESTful API that allows programmatic access to administrative reports & capabilities within Superhuman Docs (formerly Coda).'
  termsOfService: https://superhuman.com/legal/terms
  contact:
    name: Developer Support
    url: https://superhuman.com/developers
    email: care@superhuman.com
  x-logo:
    url: https://cdn.coda.io/icons/png/color/superhuman-docs-128.png
    backgroundColor: transparent
    altText: Superhuman Docs Admin API
    href: '#'
servers:
- url: https://docs.superhuman.com/apis/admin/v1
  description: Superhuman Docs Admin API (v1)
security:
- Bearer: []
tags:
- name: Folder Permissions
  description: This API lets you manage sharing and permissions for your folders.
paths:
  /organizations/{organizationId}/workspaces/{workspaceId}/folders/{folderId}/acl/permissions:
    get:
      summary: List folder permissions
      description: Returns a list of permissions for this folder
      operationId: listFolderPermissions
      tags:
      - Folder Permissions
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/folderId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: List of permissions for a folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderAcl'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = ''https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/workspaces/<your workspace id>/folders/<your folder id>/acl/permissions''

          res = requests.get(uri, headers=headers).json()


          print(f''First user with access is {res["items"][0]["principal"]["email"]}'')

          # => First user with access is foo@bar.com

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/workspaces/<your workspace id>/folders/<your folder id>/acl/permissions' |\n  jq '.items[].principal.email'\n# => \"foo@bar.com\", \"baz@bar.com\"\n"
    post:
      summary: Add permission to a folder
      description: Adds a new permission to the folder.
      operationId: addFolderPermission
      tags:
      - Folder Permissions
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/folderId'
      requestBody:
        description: Parameters for adding the new permission.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFolderPermissionRequest'
      responses:
        '200':
          description: Confirmation that the request was applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddPermissionResult'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = f'https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/workspaces/<your workspace id>/folders/<your folder id>/acl/permissions'\npayload = {\n  'access': 'write',\n  'principal': {\n    'type': 'email',\n    'email': 'foo@bar.com'\n  },\n}\nres = requests.post(uri, headers=headers, json=payload)\n\n# => Grant 'foo@bar.com' write access to the folder\n"
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' -X POST \\\n  'https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/workspaces/<your workspace id>/folders/<your folder id>/acl/permissions' \\\n  -d '{\"access\": \"write\", \"principal\": {\"type\": \"email\", \"email\": \"foo@bar.com\"}}'\n# => Grant 'foo@bar.com' write access to the folder\n"
  /organizations/{organizationId}/workspaces/{workspaceId}/folders/{folderId}/acl/permissions/{permissionId}:
    delete:
      summary: Delete folder permission
      description: Deletes an existing permission.
      operationId: deleteFolderPermission
      tags:
      - Folder Permissions
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/folderId'
      - $ref: '#/components/parameters/permissionId'
      responses:
        '200':
          description: Confirmation that the request was applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePermissionResult'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/workspaces/<your workspace id>/folders/<your folder id>/acl/permissions/<permission ID>''

          res = requests.delete(uri, headers=headers, json=payload)


          # => Revoke access to the folder

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' -X DELETE \\\n  'https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/workspaces/<your workspace id>/folders/<your folder id>/acl/permissions/<permission ID>'\n# => Revoke access to the folder\n"
components:
  schemas:
    WorkspacePrincipal:
      type: object
      required:
      - type
      - workspaceId
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - workspace
          x-tsType: PrincipalType.Workspace
        workspaceId:
          type: string
          description: WorkspaceId for the principal.
          example: ws-sdfmsdf9
    FolderAccessTypeNotNone:
      x-schema-name: FolderAccessTypeNotNone
      description: Type of access for folders only (excluding none).
      type: string
      enum:
      - readonly
      - write
      - comment
      - manage
      x-tsEnumNames:
      - ReadOnly
      - Write
      - Comment
      - Manage
    AddedEmailPrincipal:
      type: object
      required:
      - email
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - email
          x-tsType: PrincipalType.Email
        email:
          type: string
          description: Email for the principal.
          example: example@domain.com
    EmailPrincipal:
      type: object
      required:
      - email
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - email
          x-tsType: PrincipalType.Email
        email:
          type: string
          description: Email for the principal.
          example: example@domain.com
    NextPageToken:
      description: If specified, an opaque token used to fetch the next page of results.
      type: string
      example: eyJsaW1pd
    AddedPrincipal:
      x-schema-name: AddedPrincipal
      description: Metadata about a principal to add to a doc.
      oneOf:
      - $ref: '#/components/schemas/AddedEmailPrincipal'
      - $ref: '#/components/schemas/AddedGroupPrincipal'
      - $ref: '#/components/schemas/AddedDomainPrincipal'
      - $ref: '#/components/schemas/AddedWorkspacePrincipal'
      - $ref: '#/components/schemas/AddedAnyonePrincipal'
      discriminator:
        propertyName: type
        mapping:
          email: '#/components/schemas/AddedEmailPrincipal'
          group: '#/components/schemas/AddedGroupPrincipal'
          domain: '#/components/schemas/AddedDomainPrincipal'
          workspace: '#/components/schemas/AddedWorkspacePrincipal'
          anyone: '#/components/schemas/AddedAnyonePrincipal'
    AddFolderPermissionRequest:
      x-schema-name: AddFolderPermissionRequest
      description: Payload for granting a new folder permission.
      type: object
      required:
      - access
      - principal
      additionalProperties: false
      properties:
        access:
          $ref: '#/components/schemas/FolderAccessTypeNotNone'
        principal:
          $ref: '#/components/schemas/AddedPrincipal'
        suppressEmail:
          type: boolean
          description: When true suppresses email notification
        bypassOrgExternalSharingRestrictions:
          type: boolean
          description: When true bypasses organization external sharing restrictions
    AddedGroupPrincipal:
      type: object
      required:
      - groupId
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - group
          x-tsType: PrincipalType.Group
        groupId:
          type: string
          description: Group ID for the principal.
          example: grp-6SM9xrKcqW
    FolderPermission:
      x-schema-name: FolderPermission
      description: A specific folder permission granted to a principal.
      type: object
      required:
      - type
      - principal
      - id
      - access
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this resource.
          enum:
          - permission
          x-tsType: Type.Permission
        principal:
          $ref: '#/components/schemas/Principal'
        id:
          type: string
          description: ID for the Permission
        access:
          $ref: '#/components/schemas/FolderAccessType'
    AddPermissionResult:
      x-schema-name: AddPermissionResult
      description: The result of adding a permission.
      type: object
      additionalProperties: false
      properties: {}
    FolderAcl:
      x-schema-name: FolderAcl
      description: Paginated list of Folder Permissions.
      type: object
      required:
      - items
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/FolderPermission'
        href:
          type: string
          format: url
          description: API link to these results
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/NextPageLink'
          - type: string
    DomainPrincipal:
      type: object
      required:
      - domain
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - domain
          x-tsType: PrincipalType.Domain
        domain:
          type: string
          description: Domain for the principal.
          example: domain.com
    AddedWorkspacePrincipal:
      type: object
      required:
      - type
      - workspaceId
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - workspace
          x-tsType: PrincipalType.Workspace
        workspaceId:
          type: string
          description: WorkspaceId for the principal.
          example: ws-sdfmsdf9
    AddedDomainPrincipal:
      type: object
      required:
      - domain
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - domain
          x-tsType: PrincipalType.Domain
        domain:
          type: string
          description: Domain for the principal.
          example: domain.com
    AnyonePrincipal:
      type: object
      required:
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - anyone
          x-tsType: PrincipalType.Anyone
    FolderAccessType:
      x-schema-name: FolderAccessType
      description: Type of access for folders only.
      type: string
      enum:
      - readonly
      - write
      - comment
      - manage
      - none
      x-tsEnumNames:
      - ReadOnly
      - Write
      - Comment
      - Manage
      - None
    DeletePermissionResult:
      x-schema-name: DeletePermissionResult
      description: The result of deleting a permission.
      type: object
      additionalProperties: false
      properties: {}
    NextPageLink:
      description: If specified, a link that can be used to fetch the next page of results.
      type: string
      format: url
    Principal:
      x-schema-name: Principal
      description: Metadata about a principal.
      oneOf:
      - $ref: '#/components/schemas/EmailPrincipal'
      - $ref: '#/components/schemas/GroupPrincipal'
      - $ref: '#/components/schemas/DomainPrincipal'
      - $ref: '#/components/schemas/WorkspacePrincipal'
      - $ref: '#/components/schemas/AnyonePrincipal'
      discriminator:
        propertyName: type
        mapping:
          email: '#/components/schemas/EmailPrincipal'
          group: '#/components/schemas/GroupPrincipal'
          domain: '#/components/schemas/DomainPrincipal'
          workspace: '#/components/schemas/WorkspacePrincipal'
          anyone: '#/components/schemas/AnyonePrincipal'
    AddedAnyonePrincipal:
      type: object
      required:
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - anyone
          x-tsType: PrincipalType.Anyone
    GroupPrincipal:
      type: object
      required:
      - groupId
      - groupName
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - group
          x-tsType: PrincipalType.Group
        groupId:
          type: string
          description: Group ID for the principal.
          example: grp-6SM9xrKcqW
        groupName:
          type: string
          description: Name of the group.
          example: Marketing team
  parameters:
    organizationId:
      name: organizationId
      description: ID of the organization.
      in: path
      required: true
      example: org-AbCDeFGHIj
      schema:
        type: string
    pageToken:
      name: pageToken
      description: An opaque token used to fetch the next page of results.
      in: query
      example: eyJsaW1pd
      schema:
        type: string
    workspaceId:
      name: workspaceId
      description: ID of the workspace.
      in: path
      required: true
      example: ws-AbCDeFGHIj
      schema:
        type: string
    limit:
      name: limit
      description: Maximum number of results to return in this query.
      in: query
      example: 10
      schema:
        type: integer
        minimum: 1
        default: 100
        maximum: 500
    folderId:
      name: folderId
      description: ID of the folder.
      in: path
      required: true
      example: fl-AbCDeFGHIj
      schema:
        type: string
    permissionId:
      name: permissionId
      description: ID of a permission on an object.
      in: path
      required: true
      example: AbCDeFGH
      schema:
        type: string
  responses:
    NotFoundError:
      description: The resource could not be located with the current API token.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 404
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Not Found
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Not Found
    TooManyRequestsError:
      description: The client has sent too many requests.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 429
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Too Many Requests
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Too Many Requests
    ForbiddenError:
      description: The API token does not grant access to this resource.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 403
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Forbidden
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Forbidden
    BadRequestError:
      description: The request parameters did not conform to expectations.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 400
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Bad Request
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Bad Request
    UnauthorizedError:
      description: The API token is invalid or has expired.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 401
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Unauthorized
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Unauthorized
  securitySchemes:
    Bearer:
      description: 'The Superhuman Docs Admin API can be accessed using an API token, which can be obtained from [*My account*](https://docs.superhuman.com/account)

        in Superhuman Docs. This token should be specified by setting a header as follows.


        ```Authorization: Bearer <api_token>```


        Keep your token safe, as anyone who gets access to it can access your account. Once a token is created

        it cannot be viewed or modified, so don''t lose it.

        '
      type: http
      scheme: bearer
      bearerFormat: UUID
x-tagGroups:
- name: API Tokens
  tags:
  - API Tokens
- name: Docs
  tags:
  - Docs
  - Doc Permissions
  - Doc Export
- name: Doc Structure
  tags:
  - Pages
- name: Events
  tags:
  - Events
- name: Folders
  tags:
  - Folders
  - Folder Permissions
- name: Groups
  tags:
  - Groups
- name: Import
  tags:
  - Preferences
- name: LegalHolds
  tags:
  - LegalHolds
- name: Organizations
  tags:
  - Organizations
  - Organization Users
  - Pack Controls
  - Pack Configurations
- name: Packs
  tags:
  - Packs
- name: Webhooks
  tags:
  - Webhooks
- name: Workspaces
  tags:
  - Workspaces
  - Workspace Users
