openapi: 3.2.0
info:
  version: 1.5.0
  title: Superhuman Docs Analytics API
  license:
    name: Superhuman Developer Terms
    url: https://docs.superhuman.com/trust/developer
  description: '# Introduction


    The Superhuman Docs API is a RESTful API that lets you programmatically interact with data in Superhuman Docs (formerly Coda):


    * List and search documents

    * Create new docs and copy existing ones

    * Share and publish docs

    * Discover pages, tables, formulas, and controls

    * Read, insert, upsert, update, and delete rows


    If you plan to integrate Superhuman Docs with an AI tool, you may also want to consider using the

    Superhuman Docs MCP server.'
  termsOfService: https://superhuman.com/legal/terms
  contact:
    name: Developer Support
    url: https://superhuman.com/developers
    email: care@superhuman.com
  x-logo:
    url: https://cdn.coda.io/icons/png/color/superhuman-docs-128.png
    backgroundColor: transparent
    altText: Superhuman Docs API
    href: '#'
servers:
- url: https://docs.superhuman.com/apis/v1
  description: Superhuman Docs API (v1)
security:
- Bearer: []
tags:
- name: Analytics
  description: This API offers analytics data for your docs and Packs over time.
paths:
  /analytics/docs:
    get:
      summary: List doc analytics
      description: Returns analytics data for available docs per day.
      operationId: listDocAnalytics
      tags:
      - Analytics
      parameters:
      - $ref: '#/components/parameters/docIds'
      - $ref: '#/components/parameters/workspaceIdInQuery'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/isPublished'
      - $ref: '#/components/parameters/sinceDate'
      - $ref: '#/components/parameters/untilDate'
      - $ref: '#/components/parameters/scale'
      - $ref: '#/components/parameters/pageToken'
      - $ref: '#/components/parameters/docAnalyticsOrderBy'
      - $ref: '#/components/parameters/direction'
      - name: limit
        description: Maximum number of results to return in this query.
        in: query
        example: 10
        schema:
          type: integer
          minimum: 1
          maximum: 5000
          default: 1000
      responses:
        '200':
          description: List of document analytics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocAnalyticsCollection'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = 'https://docs.superhuman.com/apis/v1/analytics/docs'\nparams = {\n  'limit': 10,\n}\nres = requests.get(uri, headers=headers, params=params).json()\n\nprint(f'First doc is: {res[\"items\"][0][\"doc\"][\"title\"]}')\n# => First doc is: New Document\n"
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/analytics/docs' |\n  jq .items[0].doc.title\n# => \"New Document\"\n"
  /analytics/docs/{docId}/pages:
    get:
      summary: List page analytics
      description: 'Returns analytics data for a given doc within the day.

        This method will return a 401 if the given doc is not in an Enterprise workspace.'
      operationId: listPageAnalytics
      tags:
      - Analytics
      parameters:
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/sinceDate'
      - $ref: '#/components/parameters/untilDate'
      - $ref: '#/components/parameters/pageToken'
      - name: limit
        description: Maximum number of results to return in this query.
        in: query
        example: 10
        schema:
          type: integer
          minimum: 1
          maximum: 5000
          default: 1000
      responses:
        '200':
          description: List of page analytics for the given document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAnalyticsCollection'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = 'https://docs.superhuman.com/apis/v1/analytics/docs/abcdefghi/pages'\nparams = {\n  'limit': 10,\n}\nres = requests.get(uri, headers=headers, params=params).json()\n\nprint(f'First page is: {res[\"items\"][0][\"page\"][\"name\"]}')\n# => First page is: My Page\n"
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/analytics/docs/abcdefghi/pages' |\n  jq .items[0].page.name\n# => \"My Page\"\n"
  /analytics/docs/summary:
    get:
      summary: Get doc analytics summary
      description: Returns summarized analytics data for available docs.
      operationId: listDocAnalyticsSummary
      tags:
      - Analytics
      parameters:
      - $ref: '#/components/parameters/isPublished'
      - $ref: '#/components/parameters/sinceDate'
      - $ref: '#/components/parameters/untilDate'
      - $ref: '#/components/parameters/workspaceIdInQuery'
      responses:
        '200':
          description: Response of document summary analytics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocAnalyticsSummary'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
  /analytics/packs:
    get:
      summary: List Pack analytics
      description: Returns analytics data for Packs the user can edit.
      operationId: listPackAnalytics
      tags:
      - Analytics
      parameters:
      - $ref: '#/components/parameters/packIds'
      - $ref: '#/components/parameters/workspaceIdInQuery'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/sinceDate'
      - $ref: '#/components/parameters/untilDate'
      - $ref: '#/components/parameters/scale'
      - $ref: '#/components/parameters/pageToken'
      - $ref: '#/components/parameters/packAnalyticsOrderBy'
      - $ref: '#/components/parameters/direction'
      - $ref: '#/components/parameters/isPublishedNoDefault'
      - name: limit
        description: Maximum number of results to return in this query.
        in: query
        example: 10
        schema:
          type: integer
          minimum: 1
          maximum: 5000
          default: 1000
      responses:
        '200':
          description: Response of Superhuman Pack analytics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackAnalyticsCollection'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = 'https://docs.superhuman.com/apis/v1/analytics/packs'\nparams = {\n  'limit': 10,\n}\nres = requests.get(uri, headers=headers, params=params).json()\n\nprint(f'First Pack is: {res[\"items\"][0][\"pack\"][\"name\"]}')\n# => First Pack is: New Pack\n"
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/analytics/packs' |\n  jq .items[0].pack.name\n# => \"New Pack\"\n"
  /analytics/packs/summary:
    get:
      summary: Get Pack analytics summary
      description: Returns summarized analytics data for Packs the user can edit.
      operationId: listPackAnalyticsSummary
      tags:
      - Analytics
      parameters:
      - $ref: '#/components/parameters/packIds'
      - $ref: '#/components/parameters/workspaceIdInQuery'
      - $ref: '#/components/parameters/isPublishedNoDefault'
      - $ref: '#/components/parameters/sinceDate'
      - $ref: '#/components/parameters/untilDate'
      responses:
        '200':
          description: Response of Superhuman Pack summary analytics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackAnalyticsSummary'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
  /analytics/packs/{packId}/formulas:
    get:
      summary: List Pack formula analytics
      description: Returns analytics data for Pack formulas.
      operationId: listPackFormulaAnalytics
      tags:
      - Analytics
      parameters:
      - name: packFormulaNames
        description: A list of Pack formula names (case-sensitive) for which to retrieve analytics.
        in: query
        explode: false
        example: SquareRoot,CubeRoot
        schema:
          type: array
          items:
            type: string
      - name: packFormulaTypes
        description: A list of Pack formula types corresponding to the `packFormulaNames`. If specified, this must have the same length as `packFormulaNames`.
        in: query
        explode: false
        example: action,formula
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PackFormulaType'
      - $ref: '#/components/parameters/packId'
      - $ref: '#/components/parameters/sinceDate'
      - $ref: '#/components/parameters/untilDate'
      - $ref: '#/components/parameters/scale'
      - $ref: '#/components/parameters/pageToken'
      - $ref: '#/components/parameters/packFormulaAnalyticsOrderBy'
      - $ref: '#/components/parameters/direction'
      - name: limit
        description: Maximum number of results to return in this query.
        in: query
        example: 10
        schema:
          type: integer
          minimum: 1
          maximum: 5000
          default: 1000
      responses:
        '200':
          description: Response of Superhuman Pack formula analytics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackFormulaAnalyticsCollection'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
  /analytics/updated:
    get:
      summary: Get analytics last updated day
      description: Returns days based on Pacific Standard Time when analytics were last updated.
      operationId: getAnalyticsLastUpdated
      tags:
      - Analytics
      responses:
        '200':
          description: Response of analytics last updated days.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsLastUpdatedResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
components:
  schemas:
    DocAnalyticsOrderBy:
      x-schema-name: DocAnalyticsOrderBy
      description: Determines how the Doc analytics returned are sorted.
      type: string
      enum:
      - date
      - docId
      - title
      - createdAt
      - publishedAt
      - likes
      - copies
      - views
      - sessionsDesktop
      - sessionsMobile
      - sessionsOther
      - totalSessions
      - aiCreditsChat
      - aiCreditsBlock
      - aiCreditsColumn
      - aiCreditsAssistant
      - aiCreditsReviewer
      - aiCredits
      x-tsEnumNames:
      - AnalyticsDate
      - DocId
      - Title
      - CreatedAt
      - PublishedAt
      - Likes
      - Copies
      - Views
      - SessionsDesktop
      - SessionsMobile
      - SessionsOther
      - TotalSessions
      - AiCreditsChat
      - AiCreditsBlock
      - AiCreditsColumn
      - AiCreditsAssistant
      - AiCreditsReviewer
      - AiCredits
    DocAnalyticsMetrics:
      x-schema-name: DocAnalyticsMetrics
      description: Analytics metrics for a document.
      type: object
      required:
      - date
      - views
      - copies
      - likes
      - sessionsMobile
      - sessionsDesktop
      - sessionsOther
      - totalSessions
      - aiCreditsChat,
      - aiCreditsBlock,
      - aiCreditsColumn,
      - aiCreditsAssistant,
      - aiCreditsReviewer,
      - aiCredits,
      additionalProperties: false
      properties:
        date:
          type: string
          format: date
          description: Date of the analytics data.
          example: '2020-09-02'
        views:
          type: integer
          description: Number of times the doc was viewed.
          example: 980
        copies:
          type: integer
          description: Number of times the doc was copied.
          example: 24
        likes:
          type: integer
          description: Number of times the doc was liked.
          example: 342
        sessionsMobile:
          type: integer
          description: Number of unique visitors to this doc from a mobile device.
          example: 530
        sessionsDesktop:
          type: integer
          description: Number of unique visitors to this doc from a desktop device.
          example: 212
        sessionsOther:
          type: integer
          description: Number of unique visitors to this doc from an unknown device type.
          example: 10
        totalSessions:
          type: integer
          description: Sum of the total sessions from any device.
          example: 1000
        aiCreditsChat:
          type: integer
          description: Number of credits used for AI chat.
          example: 10
        aiCreditsBlock:
          type: integer
          description: Number of credits used for AI block.
          example: 10
        aiCreditsColumn:
          type: integer
          description: Number of credits used for AI column.
          example: 10
        aiCreditsAssistant:
          type: integer
          description: Number of credits used for AI assistant.
          example: 10
        aiCreditsReviewer:
          type: integer
          description: Number of credits used for AI reviewer.
          example: 10
        aiCredits:
          type: integer
          description: Total number of AI credits used.
          example: 50
    AnalyticsScale:
      x-schema-name: AnalyticsScale
      description: Quantization period over which to view analytics.
      type: string
      enum:
      - daily
      - cumulative
      x-tsEnumNames:
      - Daily
      - Cumulative
    DocAnalyticsCollection:
      x-schema-name: DocAnalyticsCollection
      description: List of analytics for documents over a date range.
      type: object
      required:
      - items
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/DocAnalyticsItem'
        nextPageToken:
          $ref: '#/components/schemas/nextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/nextPageLink'
          - type: string
            example: https://docs.superhuman.com/apis/v1/analytics/docs?pageToken=xyz
    nextPageLink:
      description: If specified, a link that can be used to fetch the next page of results.
      type: string
      format: url
    PageAnalyticsMetrics:
      x-schema-name: PageAnalyticsMetrics
      description: Analytics metrics for a page within a document.
      type: object
      required:
      - date
      - views
      - sessions
      - users
      - averageSecondsViewed
      - medianSecondsViewed
      - tabs
      additionalProperties: false
      properties:
        date:
          type: string
          format: date
          description: Date of the analytics data.
          example: '2022-06-03'
        views:
          type: integer
          description: Number of times the page was viewed within the given day.
          example: 980
        sessions:
          type: integer
          description: Number of unique browsers that viewed the page on the given day.
          example: 24
        users:
          type: integer
          description: Number of unique Superhuman Docs users that viewed the page on the given day.
          example: 42
        averageSecondsViewed:
          type: integer
          description: Average number of seconds that the page was viewed on the given day.
          example: 42
        medianSecondsViewed:
          type: integer
          description: Median number of seconds that the page was viewed on the given day.
          example: 42
        tabs:
          type: integer
          description: Number of unique tabs that opened the doc on the given day.
          example: 10
    PackFormulaAnalyticsMetrics:
      x-schema-name: PackFormulaAnalyticsMetrics
      description: Analytics metrics for a Superhuman Pack formula.
      type: object
      required:
      - date
      - formulaInvocations
      - errors
      - docsActivelyUsing
      - docsActivelyUsing7Day
      - docsActivelyUsing30Day
      - docsActivelyUsing90Day
      - docsActivelyUsingAllTime
      - workspacesActivelyUsing
      - workspacesActivelyUsing7Day
      - workspacesActivelyUsing30Day
      - workspacesActivelyUsing90Day
      - workspacesActivelyUsingAllTime
      additionalProperties: false
      properties:
        date:
          type: string
          format: date
          description: Date of the analytics data.
          example: '2020-09-02'
        formulaInvocations:
          type: integer
          description: Number of times this formula has been invoked.
          example: 123
        errors:
          type: integer
          description: Number of errors from invocations.
          example: 5
        medianLatencyMs:
          type: integer
          description: Median latency of an invocation in milliseconds. Only present for daily metrics.
          example: 500
        medianResponseSizeBytes:
          type: integer
          description: Median response size in bytes. Only present for daily metrics.
          example: 300
        docsActivelyUsing:
          type: integer
          description: Number of unique docs that have invoked a formula from this Pack in the past day.
          example: 50
        docsActivelyUsing7Day:
          type: integer
          description: Number of unique docs that have invoked a formula from this Pack in the past 7 days.
          example: 100
        docsActivelyUsing30Day:
          type: integer
          description: Number of unique docs that have invoked a formula from this Pack in the past 30 days.
          example: 200
        docsActivelyUsing90Day:
          type: integer
          description: Number of unique docs that have invoked a formula from this Pack in the past 90 days.
          example: 300
        docsActivelyUsingAllTime:
          type: integer
          description: Number of unique docs that have invoked a formula from this Pack ever.
          example: 500
        workspacesActivelyUsing:
          type: integer
          description: Number of unique workspaces that have invoked a formula from this Pack in the past day.
          example: 10
        workspacesActivelyUsing7Day:
          type: integer
          description: Number of unique workspaces that have invoked a formula from this Pack in the past 7 days.
          example: 15
        workspacesActivelyUsing30Day:
          type: integer
          description: Number of unique workspaces that have invoked a formula from this Pack in the past 30 days.
          example: 20
        workspacesActivelyUsing90Day:
          type: integer
          description: Number of unique workspaces that have invoked a formula from this Pack in the past 90 days.
          example: 30
        workspacesActivelyUsingAllTime:
          type: integer
          description: Number of unique workspaces that have invoked a formula from this Pack ever.
          example: 50
        workspacesActivelyTrialing:
          type: integer
          description: Number of unique workspaces that are currently involved in a trial.
        workspacesActivelyTrialing7Day:
          type: integer
          description: Number of unique workspaces that have been involved in a trial in the last 7 days.
        workspacesActivelyTrialing30Day:
          type: integer
          description: Number of unique workspaces that have been involved in a trial in the last 30 days.
        workspacesActivelyTrialing90Day:
          type: integer
          description: Number of unique workspaces that have been involved in a trial in the last 90 days.
        workspacesActivelyTrialingAllTime:
          type: integer
          description: Number of unique workspaces that have been involved in a trial ever.
        workspacesNewlySubscribed:
          type: integer
          description: Number of unique workspaces that have recently subscribed to the Pack.
        workspacesWithActiveSubscriptions:
          type: integer
          description: Number of unique workspaces that are currently subscribed to the Pack.
        workspacesWithSuccessfulTrials:
          type: integer
          description: Number of unique workspaces that subscribed after undertaking a Pack trial.
        revenueUsd:
          type: string
          description: Amount of revenue (in USD) that the Pack has produced.
    PackAnalyticsMetrics:
      x-schema-name: PackAnalyticsMetrics
      description: Analytics metrics for a Superhuman Pack.
      type: object
      additionalProperties: false
      required:
      - date
      - docInstalls
      - workspaceInstalls
      - numFormulaInvocations
      - numActionInvocations
      - numSyncInvocations
      - numMetadataInvocations
      - docsActivelyUsing
      - docsActivelyUsing7Day
      - docsActivelyUsing30Day
      - docsActivelyUsing90Day
      - docsActivelyUsingAllTime
      - workspacesActivelyUsing
      - workspacesActivelyUsing7Day
      - workspacesActivelyUsing30Day
      - workspacesActivelyUsing90Day
      - workspacesActivelyUsingAllTime
      - workspacesActivelyTrialing
      - workspacesActivelyTrialing7Day
      - workspacesActivelyTrialing30Day
      - workspacesActivelyTrialing90Day
      - workspacesActivelyTrialingAllTime
      - workspacesNewlySubscribed
      - workspacesWithActiveSubscriptions
      - workspacesWithSuccessfulTrials
      - revenueUsd
      properties:
        date:
          type: string
          format: date
          description: Date of the analytics data.
          example: '2020-09-02'
        docInstalls:
          type: integer
          description: Number of unique documents that have installed this Pack.
          example: 100
        workspaceInstalls:
          type: integer
          description: Number of unique workspaces that have installed this Pack.
          example: 10
        numFormulaInvocations:
          type: integer
          description: Number of times regular formulas have been called.
          example: 100
        numActionInvocations:
          type: integer
          description: Number of times action formulas have been called.
          example: 100
        numSyncInvocations:
          type: integer
          description: Number of times sync table formulas have been called.
          example: 100
        numMetadataInvocations:
          type: integer
          description: Number of times metadata formulas have been called.
          example: 100
        docsActivelyUsing:
          type: integer
          description: Number of unique docs that have invoked a formula from this Pack in the past day.
          example: 50
        docsActivelyUsing7Day:
          type: integer
          description: Number of unique docs that have invoked a formula from this Pack in the past 7 days.
          example: 100
        docsActivelyUsing30Day:
          type: integer
          description: Number of unique docs that have invoked a formula from this Pack in the past 30 days.
          example: 200
        docsActivelyUsing90Day:
          type: integer
          description: Number of unique docs that have invoked a formula from this Pack in the past 90 days.
          example: 300
        docsActivelyUsingAllTime:
          type: integer
          description: Number of unique docs that have invoked a formula from this Pack ever.
          example: 500
        workspacesActivelyUsing:
          type: integer
          description: Number of unique workspaces that have invoked a formula from this Pack in the past day.
          example: 10
        workspacesActivelyUsing7Day:
          type: integer
          description: Number of unique workspaces that have invoked a formula from this Pack in the past 7 days.
          example: 15
        workspacesActivelyUsing30Day:
          type: integer
          description: Number of unique workspaces that have invoked a formula from this Pack in the past 30 days.
          example: 20
        workspacesActivelyUsing90Day:
          type: integer
          description: Number of unique workspaces that have invoked a formula from this Pack in the past 90 days.
          example: 30
        workspacesActivelyUsingAllTime:
          type: integer
          description: Number of unique workspaces that have invoked a formula from this Pack ever.
          example: 50
        workspacesActivelyTrialing:
          type: integer
          description: Number of unique workspaces that are currently involved in a trial.
        workspacesActivelyTrialing7Day:
          type: integer
          description: Number of unique workspaces that have been involved in a trial in the last 7 days.
        workspacesActivelyTrialing30Day:
          type: integer
          description: Number of unique workspaces that have been involved in a trial in the last 30 days.
        workspacesActivelyTrialing90Day:
          type: integer
          description: Number of unique workspaces that have been involved in a trial in the last 90 days.
        workspacesActivelyTrialingAllTime:
          type: integer
          description: Number of unique workspaces that have been involved in a trial ever.
        workspacesNewlySubscribed:
          type: integer
          description: Number of unique workspaces that have recently subscribed to the Pack.
        workspacesWithActiveSubscriptions:
          type: integer
          description: Number of unique workspaces that are currently subscribed to the Pack.
        workspacesWithSuccessfulTrials:
          type: integer
          description: Number of unique workspaces that subscribed after undertaking a Pack trial.
        revenueUsd:
          type: string
          description: Amount of revenue (in USD) that the Pack has produced.
    PageAnalyticsCollection:
      x-schema-name: PageAnalyticsCollection
      description: List of analytics for pages within a document over a date range.
      type: object
      required:
      - items
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PageAnalyticsItem'
        nextPageToken:
          $ref: '#/components/schemas/nextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/nextPageLink'
          - type: string
            example: https://docs.superhuman.com/apis/v1/analytics/docs/DOC_ID/pages?pageToken=xyz
    PackAnalyticsCollection:
      x-schema-name: PackAnalyticsCollection
      description: List of analytics for Superhuman Packs over a date range.
      type: object
      required:
      - items
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PackAnalyticsItem'
        nextPageToken:
          $ref: '#/components/schemas/nextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/nextPageLink'
          - type: string
            example: https://docs.superhuman.com/apis/v1/analytics/packs?pageToken=xyz
    Icon:
      x-schema-name: icon
      description: Info about the icon.
      type: object
      required:
      - name
      - type
      - browserLink
      additionalProperties: false
      properties:
        name:
          type: string
          description: Name of the icon.
        type:
          type: string
          description: MIME type of the icon
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to an icon.
          example: https://cdn.coda.io/icons/png/color/icon-32.png
    PackFormulaAnalyticsCollection:
      x-schema-name: PackFormulaAnalyticsCollection
      description: A collection of analytics for Superhuman Packs formulas over a date range.
      type: object
      required:
      - items
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PackFormulaAnalyticsItem'
        nextPageToken:
          $ref: '#/components/schemas/nextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/nextPageLink'
          - type: string
            example: https://docs.superhuman.com/apis/v1/analytics/packs/:packId/formulas?pageToken=xyz
    PageAnalyticsItem:
      x-schema-name: PageAnalyticsItem
      description: Analytics data for a page within a document.
      type: object
      required:
      - page
      - metrics
      additionalProperties: false
      properties:
        page:
          $ref: '#/components/schemas/PageAnalyticsDetails'
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/PageAnalyticsMetrics'
    PackAnalyticsSummary:
      x-schema-name: PackAnalyticsSummary
      description: Summary analytics for Packs.
      type: object
      required:
      - totalDocInstalls
      - totalWorkspaceInstalls
      - totalInvocations
      additionalProperties: false
      properties:
        totalDocInstalls:
          type: integer
          description: The number of times this Pack was installed in docs.
        totalWorkspaceInstalls:
          type: integer
          description: The number of times this Pack was installed in workspaces.
        totalInvocations:
          type: integer
          description: The number of times formulas in this Pack were invoked.
    AnalyticsLastUpdatedResponse:
      x-schema-name: AnalyticsLastUpdatedResponse
      description: Response representing the last day analytics were updated.
      type: object
      required:
      - docAnalyticsLastUpdated
      - packAnalyticsLastUpdated
      - packFormulaAnalyticsLastUpdated
      additionalProperties: false
      properties:
        docAnalyticsLastUpdated:
          type: string
          format: date
          description: Date that doc analytics were last updated.
          example: '2022-05-01'
        packAnalyticsLastUpdated:
          type: string
          format: date
          description: Date that Pack analytics were last updated.
          example: '2022-05-01'
        packFormulaAnalyticsLastUpdated:
          type: string
          format: date
          description: Date that Pack formula analytics were last updated.
          example: '2022-05-01'
    PackFormulaType:
      x-schema-name: PackFormulaType
      type: string
      enum:
      - action
      - formula
      - sync
      - metadata
      x-tsEnumNames:
      - Action
      - Formula
      - Sync
      - Metadata
    PackFormulaAnalyticsOrderBy:
      x-schema-name: PackFormulaAnalyticsOrderBy
      description: Determines how the Pack formula analytics returned are sorted.
      type: string
      enum:
      - date
      - formulaName
      - formulaType
      - formulaInvocations
      - medianLatencyMs
      - medianResponseSizeBytes
      - errors
      - docsActivelyUsing
      - docsActivelyUsing7Day
      - docsActivelyUsing30Day
      - docsActivelyUsing90Day
      - docsActivelyUsingAllTime
      - workspacesActivelyUsing
      - workspacesActivelyUsing7Day
      - workspacesActivelyUsing30Day
      - workspacesActivelyUsing90Day
      - workspacesActivelyUsingAllTime
      x-tsEnumNames:
      - AnalyticsDate
      - FormulaName
      - FormulaType
      - FormulaInvocations
      - MedianLatencyMs
      - MedianResponseSizeBytes
      - Errors
      - DocsActivelyUsing
      - DocsActivelyUsing7Day
      - DocsActivelyUsing30Day
      - DocsActivelyUsing90Day
      - DocsActivelyUsingAllTime
      - WorkspacesActivelyUsing
      - WorkspacesActivelyUsing7Day
      - WorkspacesActivelyUsing30Day
      - WorkspacesActivelyUsing90Day
      - WorkspacesActivelyUsingAllTime
    DocReference:
      x-schema-name: DocReference
      description: Reference to a document.
      type: object
      required:
      - id
      - type
      - browserLink
      - href
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the document.
          example: AbCDeFGH
        type:
          type: string
          description: The type of this resource.
          enum:
          - doc
          x-tsType: Type.Doc
        href:
          type: string
          format: url
          description: API link to the document.
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the document.
          example: https://docs.superhuman.com/d/_dAbCDeFGH
    PackAnalyticsDetails:
      x-schema-name: PackAnalyticsDetails
      description: Metadata about a Pack relevant to analytics.
      type: object
      additionalProperties: false
      required:
      - id
      - name
      - createdAt
      properties:
        id:
          type: number
          description: ID of the Pack.
          example: 1003
        name:
          type: string
          description: The name of the Pack.
          example: Cool Geometry Formulas
        logoUrl:
          type: string
          format: url
          description: The link to the logo of the Pack.
        createdAt:
          type: string
          format: date-time
          description: Creation time of the Pack.
          example: '2022-04-11T00:18:57.946Z'
    DocAnalyticsDetails:
      allOf:
      - $ref: '#/components/schemas/DocReference'
      - type: object
        description: Metadata about a doc relevant to analytics.
        required:
        - title
        - createdAt
        additionalProperties: false
        properties:
          title:
            type: string
            description: The name of the doc.
            example: Cool Geometry Formulas
          icon:
            $ref: '#/components/schemas/Icon'
            example: https://docs.superhuman.com/d/_dAbCDeFGH
          createdAt:
            type: string
            format: date-time
            description: Creation time of the doc.
            example: '2022-04-11T00:18:57.946Z'
          publishedAt:
            type: string
            format: date-time
            description: Published time of the doc.
            example: '2022-04-12T00:18:57.946Z'
    PackFormulaIdentifier:
      x-schema-name: PackFormulaIdentifier
      type: object
      required:
      - name
      - type
      additionalProperties: false
      properties:
        name:
          type: string
          description: The Pack formula name.
          example: SquareRoot
        type:
          $ref: '#/components/schemas/PackFormulaType'
    SortDirection:
      x-schema-name: SortDirection
      description: Direction of a sort for a table or view.
      type: string
      enum:
      - ascending
      - descending
      x-tsEnumNames:
      - Ascending
      - Descending
    DocAnalyticsSummary:
      x-schema-name: DocAnalyticsSummary
      description: Summarized metrics for documents.
      type: object
      required:
      - totalSessions
      additionalProperties: false
      properties:
        totalSessions:
          type: integer
          description: Total number of sessions across all docs.
          example: 1337
    PackAnalyticsItem:
      x-schema-name: PackAnalyticsItem
      description: Analytics data for a Superhuman Pack.
      type: object
      required:
      - pack
      - metrics
      additionalProperties: false
      properties:
        pack:
          $ref: '#/components/schemas/PackAnalyticsDetails'
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/PackAnalyticsMetrics'
    DocAnalyticsItem:
      x-schema-name: DocAnalyticsItem
      description: Analytics data for a document.
      type: object
      required:
      - doc
      - metrics
      additionalProperties: false
      properties:
        doc:
          $ref: '#/components/schemas/DocAnalyticsDetails'
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/DocAnalyticsMetrics'
    PackFormulaAnalyticsItem:
      x-schema-name: PackFormulaAnalyticsItem
      description: Analytics data for a Superhuman Pack formula.
      type: object
      required:
      - formula
      - metrics
      additionalProperties: false
      properties:
        formula:
          $ref: '#/components/schemas/PackFormulaIdentifier'
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/PackFormulaAnalyticsMetrics'
    PackAnalyticsOrderBy:
      x-schema-name: PackAnalyticsOrderBy
      description: Determines how the Pack analytics returned are sorted.
      type: string
      enum:
      - date
      - packId
      - name
      - createdAt
      - docInstalls
      - workspaceInstalls
      - numFormulaInvocations
      - numActionInvocations
      - numSyncInvocations
      - numMetadataInvocations
      - docsActivelyUsing
      - docsActivelyUsing7Day
      - docsActivelyUsing30Day
      - docsActivelyUsing90Day
      - docsActivelyUsingAllTime
      - workspacesActivelyUsing
      - workspacesActivelyUsing7Day
      - workspacesActivelyUsing30Day
      - workspacesActivelyUsing90Day
      - workspacesActivelyUsingAllTime
      - workspacesWithActiveSubscriptions
      - workspacesWithSuccessfulTrials
      - revenueUsd
      x-tsEnumNames:
      - AnalyticsDate
      - PackId
      - Name
      - CreatedAt
      - DocInstalls
      - WorkspaceInstalls
      - NumFormulaInvocations
      - NumActionInvocations
      - NumSyncInvocations
      - NumMetadataInvocations
      - DocsActivelyUsing
      - DocsActivelyUsing7Day
      - DocsActivelyUsing30Day
      - DocsActivelyUsing90Day
      - DocsActivelyUsingAllTime
      - WorkspacesActivelyUsing
      - WorkspacesActivelyUsing7Day
      - WorkspacesActivelyUsing30Day
      - WorkspacesActivelyUsing90Day
      - WorkspacesActivelyUsingAllTime
      - WorkspacesWithActiveSubscriptions
      - WorkspacesWithSuccessfulTrials
      - RevenueUsd
    PageAnalyticsDetails:
      x-schema-name: PageAnalyticsDetails
      description: Metadata about a page relevant to analytics.
      required:
      - id
      - name
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the page.
          example: section-IjkLmnO
        name:
          type: string
          description: Name of the page.
          example: Launch Status
        icon:
          $ref: '#/components/schemas/Icon'
          example: https://docs.superhuman.com/d/_dAbCDeFGH
    nextPageToken:
      description: If specified, an opaque token used to fetch the next page of results.
      type: string
      example: eyJsaW1pd
  parameters:
    direction:
      name: direction
      description: Direction to sort results in.
      in: query
      schema:
        $ref: '#/components/schemas/SortDirection'
    workspaceIdInQuery:
      name: workspaceId
      description: ID of the workspace.
      in: query
      required: false
      example: ws-1Ab234
      schema:
        type: string
    packId:
      name: packId
      description: ID of a Pack
      in: path
      required: true
      example: 123
      schema:
        type: integer
        minimum: 1
    packFormulaAnalyticsOrderBy:
      name: orderBy
      in: query
      description: Use this parameter to order the Pack formula analytics returned.
      schema:
        $ref: '#/components/schemas/PackFormulaAnalyticsOrderBy'
    packAnalyticsOrderBy:
      name: orderBy
      in: query
      description: Use this parameter to order the Pack analytics returned.
      schema:
        $ref: '#/components/schemas/PackAnalyticsOrderBy'
    pageToken:
      name: pageToken
      description: An opaque token used to fetch the next page of results.
      in: query
      example: eyJsaW1pd
      schema:
        type: string
    untilDate:
      name: untilDate
      description: Limit results to activity on or before this date.
      in: query
      example: '2020-08-05'
      schema:
        type: string
        format: date
    docIds:
      name: docIds
      description: List of docIds to fetch.
      in: query
      explode: false
      schema:
        type: array
        items:
          type: string
    query:
      name: query
      description: Search term used to filter down results.
      in: query
      example: Supercalifragilisticexpialidocious
      schema:
        type: string
    scale:
      name: scale
      description: Quantization period over which to view analytics. Defaults to daily.
      in: query
      example: daily
      schema:
        $ref: '#/components/schemas/AnalyticsScale'
    sinceDate:
      name: sinceDate
      description: Limit results to activity on or after this date.
      in: query
      example: '2020-08-01'
      schema:
        type: string
        format: date
    isPublishedNoDefault:
      name: isPublished
      description: 'Limit results to only published items. If false or unspecified, returns all items including published ones.

        '
      in: query
      schema:
        type: boolean
        x-no-default: true
    docAnalyticsOrderBy:
      name: orderBy
      in: query
      description: Use this parameter to order the doc analytics returned.
      schema:
        $ref: '#/components/schemas/DocAnalyticsOrderBy'
    isPublished:
      name: isPublished
      description: Limit results to only published items.
      in: query
      schema:
        type: boolean
    docId:
      name: docId
      description: ID of the doc.
      in: path
      required: true
      example: AbCDeFGH
      schema:
        type: string
    packIds:
      name: packIds
      description: Which Pack IDs to fetch.
      in: query
      explode: false
      schema:
        type: array
        items:
          type: integer
  responses:
    TooManyRequestsError:
      description: The client has sent too many requests.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 429
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Too Many Requests
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Too Many Requests
    UnauthorizedError:
      description: The API token is invalid or has expired.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 401
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Unauthorized
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Unauthorized
  securitySchemes:
    Bearer:
      description: "The Superhuman Docs API can be accessed using an API token, which can be obtained from [*My account*](https://docs.superhuman.com/account)\nin Superhuman Docs. This token should be specified by setting a header as follows.\n\n```Authorization: Bearer <api_token>```\n\nKeep your token safe, as anyone who gets access to it can access your account. Once a token is created\nit cannot be viewed or modified, so don't lose it.\n\nIf you're logged into Superhuman Docs, you can also query the API directly using your browser. Note that only GET\nendpoints are supported; for anything else, you'll have to use Bearer authentication.\n\n### Restricting token authorization\n\nBy default, bearer tokens created for the Superhuman Docs API can perform any action that the user who created the token\ncan perform. However, Superhuman Docs API bearer tokens can also be created with restrictions. These restrictions\ncan limit what objects can be operated on and the types of operations that can be performed.\n\n#### Operation types\n\nThe table below describes the types of authorization restrictions that can be placed on a Superhuman Docs API token.\n<table>\n  <tr><th>Restriction</th><th>Description</th><th>Allowed HTTP Methods</th></tr>\n  <tr>\n    <td>Read access</td>\n    <td>Allows access to API methods that read the state of an object</td>\n    <td>GET</td>\n  </tr>\n  <tr>\n    <td>Write access</td>\n    <td>Allows access to API methods that write the state of an object</td>\n    <td>POST, PUT, DELETE</td>\n  </tr>\n  <tr>\n    <td>Read and write access</td>\n    <td>Allows access to all methods for an object</td>\n    <td>All</td>\n  </tr>\n</table>\n\n#### Object types\n\nSuperhuman Docs API tokens can be restricted to the following types of objects.\n\n* Documents: Restricts access to only allow API calls for `/docs/${DOC_ID}`\n* Tables: Restricts access to only allow API calls for `/docs/${DOC_ID}/tables/${TABLE_ID}`\n\n#### Special cases\n\nThere are a few special case methods that violate the above restrictions.\n\n* `/whoami`: This method can be called by all Superhuman Docs API tokens.\n* `/resolveBrowserLink`: This method can be called by all Superhuman Docs API tokens, but will only return a result\nif the token has access (read or write) to the object referenced by the URL.\n\n#### Feedback\n\nThis feature is under development and we'd love to hear your feedback and bug reports. Please\nvisit us at the [Developers Central](https://connect.superhuman.com/c/developers-central) forum within\nthe Superhuman Community.\n"
      type: http
      scheme: bearer
      bearerFormat: UUID
x-tagGroups:
- name: Folders
  tags:
  - Folders
- name: Docs
  tags:
  - Docs
  - Permissions
  - Publishing
- name: Doc Structure
  tags:
  - Pages
  - Automations
- name: Tables and Views
  tags:
  - Tables
  - Columns
  - Rows
- name: Formulas & Controls
  tags:
  - Formulas
  - Controls
- name: Miscellaneous
  tags:
  - Account
  - Analytics
  - Miscellaneous
