openapi: 3.2.0
info:
  title: Coda Project Pages API
  contact:
    name: Developer Support
    url: https://superhuman.com/developers
    email: care@superhuman.com
  license:
    name: Superhuman Developer Terms
    url: https://docs.superhuman.com/trust/developer
  termsOfService: https://superhuman.com/legal/terms
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Pages across 2 of this provider''s published API definitions: coda-project-admin-openapi-original.json, coda-project-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://docs.superhuman.com/apis/admin/v1
  description: Superhuman Docs Admin API (v1)
- url: https://docs.superhuman.com/apis/v1
  description: Superhuman Docs API (v1)
security:
- Bearer: []
tags:
- name: Pages
  description: Pages in Superhuman Docs offer canvases containing rich text, tables, controls, and other objects.
paths:
  /organizations/{organizationId}/workspaces/{workspaceId}/docs/{docId}/pages:
    get:
      summary: List pages
      description: Returns a list of pages in the doc
      operationId: listPagesV2
      tags:
      - Pages
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: List of pages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageList'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = ''https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/docs/<your doc id>/pages''

          res = requests.get(uri, headers=headers).json()


          print(f''First page is: {res["items"][0]["name"]}'')

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/docs/<your doc id>/pages' |\n  jq .items[0].name\n"
    servers:
    - url: https://docs.superhuman.com/apis/admin/v1
      description: Superhuman Docs Admin API (v1)
  /organizations/{organizationId}/workspaces/{workspaceId}/docs/{docId}/pages/{pageId}:
    get:
      summary: Get page information
      description: Returns information for a specific page
      operationId: getPageV2
      tags:
      - Pages
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/pageId'
      - $ref: '#/components/parameters/outputFormat'
      responses:
        '200':
          description: Information for the page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageWithContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = ''https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/docs/<your doc id>/pages/<your page id>''

          res = requests.get(uri, headers=headers).json()


          print(f''Page name is: {res["name"]}'')

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/docs/<your doc id>/pages/<your page id>' |\n  jq .name\n"
    servers:
    - url: https://docs.superhuman.com/apis/admin/v1
      description: Superhuman Docs Admin API (v1)
  /organizations/{organizationId}/workspaces/{workspaceId}/docs/{docId}/pageViewers:
    get:
      summary: List page viewers
      description: Returns users who viewed the pages in a doc in a given time range
      operationId: listPageViewersV2
      tags:
      - Pages
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/workspaceId'
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/sinceDate'
      - $ref: '#/components/parameters/untilDate'
      - $ref: '#/components/parameters/pageToken'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pageViewersLimit'
      responses:
        '200':
          description: List of page viewers for the given doc
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageViewersList'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = ''https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/docs/<your doc id>/pageViewers''

          res = requests.get(uri, headers=headers).json()


          print(f''Page name is: {res["name"]}'')

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/docs/<your doc id>/pageViewers |\n  jq .name\n"
    servers:
    - url: https://docs.superhuman.com/apis/admin/v1
      description: Superhuman Docs Admin API (v1)
  /organizations/{organizationId}/docs/{docId}/pages:
    get:
      deprecated: true
      summary: List pages
      description: Returns a list of pages in the doc
      operationId: listPages
      tags:
      - Pages
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: List of pages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageList'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = ''https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/docs/<your doc id>/pages''

          res = requests.get(uri, headers=headers).json()


          print(f''First page is: {res["items"][0]["name"]}'')

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/docs/<your doc id>/pages' |\n  jq .items[0].name\n"
    servers:
    - url: https://docs.superhuman.com/apis/admin/v1
      description: Superhuman Docs Admin API (v1)
  /organizations/{organizationId}/docs/{docId}/pages/{pageId}:
    get:
      deprecated: true
      summary: Get page information
      description: Returns information for a specific page
      operationId: getPage
      tags:
      - Pages
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/pageId'
      - $ref: '#/components/parameters/outputFormat'
      responses:
        '200':
          description: Information for the page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageWithContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = ''https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/docs/<your doc id>/pages/<your page id>''

          res = requests.get(uri, headers=headers).json()


          print(f''Page name is: {res["name"]}'')

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/docs/<your doc id>/pages/<your page id>' |\n  jq .name\n"
    servers:
    - url: https://docs.superhuman.com/apis/admin/v1
      description: Superhuman Docs Admin API (v1)
  /organizations/{organizationId}/docs/{docId}/pageViewers:
    get:
      deprecated: true
      summary: List page viewers
      description: Returns users who viewed the pages in a doc in a given time range
      operationId: listPageViewers
      tags:
      - Pages
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/sinceDate'
      - $ref: '#/components/parameters/untilDate'
      - $ref: '#/components/parameters/pageToken'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pageViewersLimit'
      responses:
        '200':
          description: List of page viewers for the given doc
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageViewersList'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = ''https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/docs/<your doc id>/pageViewers''

          res = requests.get(uri, headers=headers).json()


          print(f''Page name is: {res["name"]}'')

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/docs/<your doc id>/pageViewers |\n  jq .name\n"
    servers:
    - url: https://docs.superhuman.com/apis/admin/v1
      description: Superhuman Docs Admin API (v1)
  /docs/{docId}/pages:
    get:
      summary: List pages
      description: Returns a list of pages in a document.
      operationId: listPages
      tags:
      - Pages
      parameters:
      - $ref: '#/components/parameters/docId_2'
      - $ref: '#/components/parameters/limit_2'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: List of pages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageList_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages''

          res = requests.get(uri, headers=headers).json()


          print(f''The name of the first page is {res["items"][0]["name"]}'')

          # => The name of the first page is Page 1

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages' |\n  jq '.items[0].name'\n# => \"Page 1\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var pages = SuperhumanDocs.listPages(''<doc ID>'').items;

          Logger.log(''The name of the first page is '' + pages[0].name);

          // => The name of the first page is Page 1

          '
    post:
      summary: Create a page
      description: Create a new page in a doc. Note that creating a page requires you to be a Doc Maker in the applicable workspace.
      operationId: createPage
      tags:
      - Pages
      parameters:
      - $ref: '#/components/parameters/docId_2'
      requestBody:
        description: Parameters for creating a page.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageCreate'
      responses:
        '202':
          description: A result indicating that the creation request was queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageCreateResult'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = f'https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages'\npayload = {\n  'name': 'New Page Name',\n}\nreq = requests.post(uri, headers=headers, json=payload)\nreq.raise_for_status() # Throw if there was an error.\nres = req.json()\n\nprint(f'Created page {res[\"id\"]}')\n# => Created page <page ID>\n"
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' -X POST -H \"Content-Type: application/json\" \\\n  -d '{\"name\": \"New Page Name\"}' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages' |\n  jq '\"Created page \" + .id'\n# => \"Created page <page ID>\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var res = SuperhumanDocs.createPage(<doc ID>, {name: "New Page Name"});

          Logger.log(''Created page '' + res.id);

          // => Created page <page ID>

          '
    servers:
    - url: https://docs.superhuman.com/apis/v1
      description: Superhuman Docs API (v1)
  /docs/{docId}/pages/{pageIdOrName}:
    get:
      summary: Get a page
      description: Returns details about a page.
      operationId: getPage
      tags:
      - Pages
      parameters:
      - $ref: '#/components/parameters/docId_2'
      - $ref: '#/components/parameters/pageIdOrName'
      responses:
        '200':
          description: Info about a page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '410':
          $ref: '#/components/responses/GoneError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages/<page ID>''

          res = requests.get(uri, headers=headers).json()


          print(f''The name of this page is {res["name"]}'')

          # => The name of this page is Page 1

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages/<page ID>' |\n  jq '.name'\n# => \"Page 1\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var page = SuperhumanDocs.getPage(''<doc ID>'', ''<page ID>'');

          Logger.log(''The name of this page is '' + page.name);

          // => The name of this page is Page 1

          '
    put:
      summary: Update a page
      description: Update properties for a page. Note that updating a page title or icon requires you to be a Doc Maker in the applicable workspace.
      operationId: updatePage
      tags:
      - Pages
      parameters:
      - $ref: '#/components/parameters/docId_2'
      - $ref: '#/components/parameters/pageIdOrName'
      requestBody:
        description: Parameters for updating a page.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageUpdate'
      responses:
        '202':
          description: A result indicating that the update was queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageUpdateResult'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = f'https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages/<page ID>'\npayload = {\n  'name': 'New Page Name',\n}\nreq = requests.put(uri, headers=headers, json=payload)\nreq.raise_for_status() # Throw if there was an error.\nres = req.json()\n\nprint(f'Updated page {res[\"id\"]}')\n# => Updated page <page ID>\n"
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' -X PUT -H \"Content-Type: application/json\" \\\n  -d '{\"name\": \"New Page Name\"}' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages/<page ID>' |\n  jq '\"Updated page \" + .id'\n# => \"Updated page <page ID>\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var res = SuperhumanDocs.updatePage(<doc ID>, <page ID>, {name: "New Page Name"});

          Logger.log(''Updated page '' + res.id);

          // => Updated page <page ID>

          '
    delete:
      summary: Delete a page
      description: Deletes the specified page.
      operationId: deletePage
      tags:
      - Pages
      parameters:
      - $ref: '#/components/parameters/docId_2'
      - $ref: '#/components/parameters/pageIdOrName'
      responses:
        '202':
          description: A result indicating that the delete was queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageDeleteResult'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages/<page ID>''

          req = requests.delete(uri, headers=headers)

          req.raise_for_status() # Throw if there was an error.

          res = req.json()


          print(f''Deleted page'')

          # => Deleted page

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' -X DELETE -H \"Content-Type: application/json\" \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages/<page ID>' |\n  jq 'if .statusMessage? == null then \"Deleted page\" else . end'\n# => \"Deleted pages\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          SuperhumanDocs.deleteRows(''<doc ID>'', ''<page ID>'');

          Logger.log(''Deleted 2 rows'');

          // => Deleted page

          '
    servers:
    - url: https://docs.superhuman.com/apis/v1
      description: Superhuman Docs API (v1)
  /docs/{docId}/pages/{pageIdOrName}/content:
    get:
      summary: List page content
      description: Returns a list of content elements in a page.
      operationId: listPageContent
      tags:
      - Pages
      parameters:
      - $ref: '#/components/parameters/docId_2'
      - $ref: '#/components/parameters/pageIdOrName'
      - $ref: '#/components/parameters/pageContentLimit'
      - $ref: '#/components/parameters/pageToken'
      - $ref: '#/components/parameters/contentFormat'
      responses:
        '200':
          description: List of page content elements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageContentList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '410':
          $ref: '#/components/responses/GoneError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages/<page ID>/content''

          res = requests.get(uri, headers=headers).json()


          print(f''The page has {len(res["items"])} content elements'')

          # => The page has 10 content elements

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages/<page ID>/content' |\n  jq '.items | length'\n# => 10\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var content = SuperhumanDocs.listPageContent(''<doc ID>'', ''<page ID>'');

          Logger.log(''The page has '' + content.items.length + '' content elements'');

          // => The page has 10 content elements

          '
    delete:
      summary: Delete page content
      description: Delete content from a page. You can delete specific elements by providing their IDs, or delete all content from the page.
      operationId: deletePageContent
      tags:
      - Pages
      parameters:
      - $ref: '#/components/parameters/docId_2'
      - $ref: '#/components/parameters/pageIdOrName'
      requestBody:
        description: Parameters for deleting page content.
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageContentDelete'
      responses:
        '202':
          description: A result indicating that the deletion was queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageContentDeleteResult'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}


          # Delete all content from the page

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages/<page ID>/content''

          req = requests.delete(uri, headers=headers)

          req.raise_for_status()

          res = req.json()

          print(f''Deleted all content from page {res["id"]}'')

          # => Deleted all content from page <page ID>


          # Delete specific elements

          payload = {''elementIds'': [''cl-abc123'', ''cl-def456'']}

          req = requests.delete(uri, headers=headers, json=payload)

          req.raise_for_status()

          res = req.json()

          print(f''Deleted {len(payload["elementIds"])} elements from page {res["id"]}'')

          # => Deleted 2 elements from page <page ID>

          '
      - label: Shell
        lang: shell
        source: "# Delete specific elements\ncurl -s -H 'Authorization: Bearer <your API token>' -X DELETE \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"elementIds\": [\"cl-abc123\", \"cl-def456\"]}' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages/<page ID>/content' |\n  jq '\"Deleted elements from page \" + .id'\n# => \"Deleted elements from page <page ID>\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');


          // Delete all content

          var res = SuperhumanDocs.deletePageContent(''<doc ID>'', ''<page ID>'');

          Logger.log(''Deleted all content from page '' + res.id);

          // => Deleted all content from page <page ID>

          '
    servers:
    - url: https://docs.superhuman.com/apis/v1
      description: Superhuman Docs API (v1)
  /docs/{docId}/pages/{pageIdOrName}/export:
    post:
      summary: Begin content export
      description: Initiate an export of content for the given page.
      operationId: beginPageContentExport
      tags:
      - Pages
      parameters:
      - $ref: '#/components/parameters/docId_2'
      - $ref: '#/components/parameters/pageIdOrName'
      requestBody:
        description: Parameters for requesting a page content export.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeginPageContentExportRequest'
      responses:
        '202':
          description: Export page content response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeginPageContentExportResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '410':
          $ref: '#/components/responses/GoneError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = f'https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages/<page ID>/export'\npayload = {\n  'outputFormat': 'html',\n}\nreq = requests.post(uri, headers=headers, json=payload)\nreq.raise_for_status() # Throw if there was an error.\nres = req.json()\n\nprint(f'Export status available at {res[\"href\"]}')\n# => Export status available at <status URL>\n"
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' -X POST -H \"Content-Type: application/json\" \\\n  -d '{\"outputFormat\": \"html\"}' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages/<page ID>/export' |\n  jq '\"Export status available at \" + .href'\n# => Export status available at <status URL>\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var page = SuperhumanDocs.beginPageContentExport(''<doc ID>'', ''<page ID>'', {outputFormat: ''html''});

          Logger.log(''Export status available at '' + page.href);

          // => Export status available at <status URL>

          '
    servers:
    - url: https://docs.superhuman.com/apis/v1
      description: Superhuman Docs API (v1)
  /docs/{docId}/pages/{pageIdOrName}/export/{requestId}:
    get:
      summary: Content export status
      description: Check the status of a page content export
      operationId: getPageContentExportStatus
      tags:
      - Pages
      parameters:
      - $ref: '#/components/parameters/docId_2'
      - $ref: '#/components/parameters/pageIdOrName'
      - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: Info about the page content export request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageContentExportStatusResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '410':
          $ref: '#/components/responses/GoneError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages/<page ID>/export/<request ID>''

          res = requests.get(uri, headers=headers).json()


          print(f''Request status: {res["status"]}'')

          # => Request status: completed

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  -d '{\"outputFormat\": \"html\"}' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/pages/<page ID>/export/<request ID>' |\n  jq .status\n# => completed\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var response = SuperhumanDocs.getPageContentExportStatus(''<doc ID>'', ''<page ID>'', ''<request ID>'');

          Logger.log(''Export status: '' + response.status);

          // => Export status: completed

          '
    servers:
    - url: https://docs.superhuman.com/apis/v1
      description: Superhuman Docs API (v1)
components:
  parameters:
    organizationId:
      name: organizationId
      description: ID of the organization.
      in: path
      required: true
      example: org-AbCDeFGHIj
      schema:
        type: string
    outputFormat:
      name: outputFormat
      description: If specified, the format of the page or doc content to be returned. See export APIs for more output format options.
      in: query
      required: false
      example: LossyPlainText
      schema:
        $ref: '#/components/schemas/OutputFormat'
    pageToken:
      name: pageToken
      description: An opaque token used to fetch the next page of results.
      in: query
      example: eyJsaW1pd
      schema:
        type: string
    untilDate:
      name: untilDate
      description: Limit results to activity on or before this date.
      in: query
      example: '2020-08-05'
      required: true
      schema:
        type: string
        format: date
    workspaceId:
      name: workspaceId
      description: ID of the workspace.
      in: path
      required: true
      example: ws-AbCDeFGHIj
      schema:
        type: string
    limit:
      name: limit
      description: Maximum number of results to return in this query.
      in: query
      example: 10
      schema:
        type: integer
        minimum: 1
        default: 100
        maximum: 500
    pageId:
      name: pageId
      description: ID of the page.
      in: path
      required: true
      example: canvas-AbCDeFGHIj
      schema:
        type: string
    sinceDate:
      name: sinceDate
      description: Limit results to activity on or after this date.
      in: query
      example: '2020-08-01'
      required: true
      schema:
        type: string
        format: date
    docId:
      name: docId
      description: ID of the doc.
      in: path
      required: true
      example: d-AbCDeFGHIj
      schema:
        type: string
    pageViewersLimit:
      name: pageViewersLimit
      description: Limit number of users returned per page.
      in: query
      schema:
        type: integer
        minimum: 1
        default: 100
        maximum: 500
    pageIdOrName:
      name: pageIdOrName
      description: 'ID or name of the page. Names are discouraged because they''re easily prone to being changed by users. If you''re using a name, be sure to URI-encode it. If you provide a name and there are multiple pages with the same name, an arbitrary one will be selected.

        '
      x-sdk-description: 'ID or name of the page. Names are discouraged because they''re easily prone to being changed by users. Note that if you''re using a name and there are multiple pages with the same name, an arbitrary one will be returned.

        '
      in: path
      required: true
      example: canvas-IjkLmnO
      schema:
        type: string
    limit_2:
      name: limit
      description: Maximum number of results to return in this query.
      in: query
      example: 10
      schema:
        type: integer
        minimum: 1
        default: 25
    pageContentLimit:
      name: limit
      description: Maximum number of content items to return in this query.
      in: query
      example: 50
      schema:
        type: integer
        minimum: 1
        maximum: 500
        default: 50
    docId_2:
      name: docId
      description: ID of the doc.
      in: path
      required: true
      example: AbCDeFGH
      schema:
        type: string
    contentFormat:
      name: contentFormat
      description: The format to return content in. Defaults to plainText.
      in: query
      example: plainText
      schema:
        type: string
        enum:
        - plainText
        default: plainText
    requestId:
      name: requestId
      description: ID of the request.
      in: path
      required: true
      example: abc-123-def-456
      schema:
        type: string
  schemas:
    PageContent:
      x-schema-name: PageContent
      description: Content of a page
      type: object
      required:
      - createdAt
      - content
      additionalProperties: false
      properties:
        createdAt:
          type: string
          format: date-time
          description: Timestamp representing when this page was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp representing when this page was last updated.
        content:
          type: string
          description: The content of the page.
          example: Some page contents.\nAnd some more page contents!\n
    PageViewersList:
      x-schema-name: PageViewersList
      description: List of viewers per page.
      type: object
      required:
      - items
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PageViewersItem'
        href:
          type: string
          format: url
          description: API link to these results
          example: https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/docs/<your doc id>/pageViewers
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/NextPageLink'
          - type: string
            example: https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/docs/<your doc id>/pageViewers?pageToken=eyJsaW1pd
    NextPageToken:
      description: If specified, an opaque token used to fetch the next page of results.
      type: string
      example: eyJsaW1pd
    Page:
      x-schema-name: Page
      description: Info about a page.
      type: object
      required:
      - type
      - id
      - name
      - href
      - browserLink
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this resource.
          enum:
          - page
          x-tsType: Type.Page
        id:
          type: string
          description: ID of the page.
          example: canvas-IjkLmnO
        href:
          type: string
          format: url
          description: API link to the page.
          example: https://docs.superhuman.com/apis/admin/v1/organizations/<your org id>/docs/<doc id>/pages/<page id>
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the page.
          example: https://docs.superhuman.com/d/_dAbCDeFGH/Launch-Status_sumnO
        name:
          type: string
          description: Name of the page.
          example: Launch Status
        subtitle:
          type: string
          description: Subtitle of the page.
          example: See the status of launch-related tasks.
        parent:
          $ref: '#/components/schemas/PageReference'
    PageList:
      x-schema-name: PageList
      description: List of pages.
      type: object
      required:
      - items
      - href
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Page'
        href:
          type: string
          format: url
          description: API link to these results
          example: https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/docs/<your doc id>/pages
        nextPageToken:
          $ref: '#/components/schemas/NextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/NextPageLink'
          - type: string
            example: https://docs.superhuman.com/apis/admin/v1/organizations/<your organization id>/docs/<your doc id>/pages?pageToken=eyJsaW1pd
    PageViewersItem:
      x-schema-name: PageViewersItem
      description: Metadata with page info and page viewer user info
      type: object
      required:
      - pageId
      - pageName
      - viewers
      additionalProperties: false
      properties:
        pageId:
          type: string
          description: ID of the page.
          example: canvas-IjkLmnO
        pageName:
          type: string
          description: Name of the page.
          example: Launch Status
        viewers:
          type: array
          items:
            $ref: '#/components/schemas/User'
    PageWithContent:
      x-schema-name: PageWithContent
      description: Info about a page.
      type: object
      required:
      - type
      - id
      - name
      - href
      - browserLink
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this resource.
          enum:
          - page
          x-tsType: Type.Page
        id:
          type: string
          description: ID of the page.
          example: canvas-IjkLmnO
        href:
          type: string
          format: url
          description: API link to the page.
          example: https://docs.superhuman.com/apis/admin/v1/organizations/<your org id>/docs/<doc id>/pages/<page id>
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the page.
          example: https://docs.superhuman.com/d/_dAbCDeFGH/Launch-Status_sumnO
        name:
          type: string
          description: Name of the page.
          example: Launch Status
        subtitle:
          type: string
          description: Subtitle of the page.
          example: See the status of launch-related tasks.
        parent:
          $ref: '#/components/schemas/PageReference'
        pageContent:
          $ref: '#/components/schemas/PageContent'
    NextPageLink:
      description: If specified, a link that can be used to fetch the next page of results.
      type: string
      format: url
    OutputFormat:
      x-schema-name: OutputFormat
      description: Output format of the doc or page content.
      type: string
      default: None
      enum:
      - None
      - LossyPlainText
      x-tsEnumNames:
      - None
      - LossyPlainText
    PageReference:
      x-schema-name: PageReference
      description: Reference to a page.
      type: object
      required:
      - type
      - id
      - name
      - href
      - browserLink
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this resource.
          enum:
          - page
          x-tsType: Type.Page
        id:
          type: string
          description: ID of the page.
          example: canvas-IjkLmnO
        href:
          type: string
          format: url
          description: API link to the page.
          example: https://docs.superhuman.com/apis/admin/v1/organizations/<your org id>/docs/<doc id>/pages/<page id>
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the page.
          example: https://docs.superhuman.com/d/_dAbCDeFGH/Launch-Status_sumnO
        name:
          type: string
          description: Name of the page.
          example: Launch Status
    User:
      x-schema-name: User
      description: Info about the user who initiated an action.
      type: object
      required:
      - type
      - id
      - email
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this resource.
          enum:
          - user
          x-tsType: Type.User
        id:
          type: number
          description: Internal Superhuman Docs ID of the user.
          example: 867102
        email:
          type: string
          description: Email address of the user.
          example: user@example.com
    PageUpdate:
      x-schema-name: PageUpdate
      description: Payload for updating a page.
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          description: Name of the page.
          example: Launch Status
        subtitle:
          type: string
          description: Subtitle of the page.
          example: See the status of launch-related tasks.
        iconName:
          type: string
          description: Name of the icon.
          example: rocket
        imageUrl:
          type: string
          description: Url of the cover image to use.
          example: https://example.com/image.jpg
        isHidden:
          type: boolean
          description: Whether the page is hidden or not. Note that for pages that cannot be hidden, like the sole top-level page in a doc, this will be ignored.
          example: true
        contentUpdate:
          allOf:
          - type: object
            description: Content with which to update an existing page.
            additionalProperties: false
          - $ref: '#/components/schemas/PageContentUpdate'
    PageContentOutputFormat:
      x-schema-name: PageContentOutputFormat
      description: Supported output content formats that can be requested for getting content for an existing page.
      type: string
      enum:
      - html
      - markdown
      x-tsEnumNames:
      - Html
      - Markdown
    LinkedDataType:
      x-schema-name: LinkedDataType
      description: A schema.org identifier for the object.
      type: string
      enum:
      - ImageObject
      - MonetaryAmount
      - Person
      - WebPage
      - StructuredValue
      x-tsEnumNames:
      - ImageObject
      - MonetaryAmount
      - Person
      - WebPage
      - StructuredValue
    Image:
      x-schema-name: Image
      description: Info about the image.
      type: object
      required:
      - browserLink
      additionalProperties: false
      properties:
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to an image.
          example: https://codahosted.io/docs/nUYhlXysYO/blobs/bl-lYkYKNzkuT/3f879b9ecfa27448
        type:
          type: string
          description: MIME type of the image.
        width:
          type: number
          description: The width in pixels of the image.
          example: 800
        height:
          type: number
          description: The height in pixels of the image.
          example: 600
    PageContent_2:
      x-schema-name: PageContent
      description: 'Content to be added or replaced with in a page (canvas).

        '
      type: object
      additionalProperties: false
      required:
      - format
      - content
      properties:
        format:
          $ref: '#/components/schemas/PageContentFormat'
        content:
          type: string
          description: The actual page content.
          example: <p><b>This</b> is rich text</p>
    nextPageLink:
      description: If specified, a link that can be used to fetch the next page of results.
      type: string
      format: url
    PageLineStyle:
      x-schema-name: PageLineStyle
      description: The style of a line element in a canvas page.
      type: string
      enum:
      - blockQuote
      - bulletedList
      - checkboxList
      - code
      - collapsibleList
      - h1
      - h2
      - h3
      - numberedList
      - paragraph
      - pullQuote
      x-tsEnumNames:
      - BlockQuote
      - BulletedList
      - CheckboxList
      - Code
      - CollapsibleList
      - H1
      - H2
      - H3
      - NumberedList
      - Paragraph
      - PullQuote
    LinkedDataObject:
      x-schema-name: LinkedDataObject
      description: Base type for a JSON-LD (Linked Data) object.
      type: object
      additionalProperties: false
      required:
      - '@context'
      - '@type'
      properties:
        '@context':
          type: string
          description: A url describing the schema context for this object, typically "http://schema.org/".
          example: http://schema.org/
        '@type':
          $ref: '#/components/schemas/LinkedDataType'
        additionalType:
          type: string
          description: 'An identifier of additional type info specific to Superhuman Docs that may not be present in a schema.org taxonomy,

            '
    PageEmbedRenderMethod:
      x-schema-name: PageEmbedRenderMethod
      description: Render mode for a page using the Embed page type.
      type: string
      enum:
      - compatibility
      - standard
      x-tsEnumNames:
      - Compatibility
      - Standard
    BeginPageContentExportRequest:
      x-schema-name: BeginPageContentExportRequest
      description: Request for beginning an export of page content.
      type: object
      additionalProperties: false
      required:
      - outputFormat
      properties:
        outputFormat:
          $ref: '#/components/schemas/PageContentOutputFormat'
    PageCreateContent:
      x-schema-name: PageCreateContent
      description: Content that can be added to a page at creation time, either text (or rich text) or a URL to create a full-page embed.
      discriminator:
        propertyName: type
      oneOf:
      - type: object
        required:
        - type
        - canvasContent
        additionalProperties: false
        properties:
          type:
            type: string
            description: Indicates a page containing canvas content.
            enum:
            - canvas
            x-tsType: PageType.Canvas
          canvasContent:
            $ref: '#/components/schemas/PageContent_2'
      - type: object
        required:
        - type
        - url
        additionalProperties: false
        properties:
          type:
            type: string
            description: Indicates a page that embeds other content.
            enum:
            - embed
            x-tsType: PageType.Embed
          url:
            type: string
            description: The URL of the content to embed.
            example: https://example.com
          renderMethod:
            $ref: '#/components/schemas/PageEmbedRenderMethod'
      - discriminator:
          propertyName: mode
        oneOf:
        - type: object
          required:
          - type
          - mode
          - sourcePageId
          - includeSubpages
          - sourceDocId
          additionalProperties: false
          properties:
            type:
              type: string
              description: Indicates a page that embeds other Superhuman Docs content.
              enum:
              - syncPage
              x-tsType: PageType.SyncPage
            mode:
              type: string
              description: Indicates a single-page sync page.
              enum:
              - page
              x-tsType: SyncPageType.Page
            includeSubpages:
              type: boolean
              description: Include subpages in the sync page.
            sourcePageId:
              type: string
              description: The page id to insert as a sync page.
              example: canvas-IjkLmnO
            sourceDocId:
              type: string
              description: The id of the document to insert as a sync page.
              example: sHbI4uIwiK
        - type: object
          required:
          - type
          - mode
          - sourceDocId
          additionalProperties: false
          properties:
            type:
              type: string
              description: Indicates a page that embeds other content.
              enum:
              - syncPage
              x-tsType: PageType.SyncPage
            mode:
              type: string
              description: Indicates a full doc sync page.
              enum:
              - document
              x-tsType: SyncPageType.Document
            sourceDocId:
              type: string
              description: The id of the document to insert as a sync page.
              example: sHbI4uIwiK
    PageType:
      x-schema-name: PageType
      description: The type of a page in a doc.
      type: string
      enum:
      - canvas
      - embed
      - syncPage
      x-tsEnumNames:
      - Canvas
      - Embed
      - SyncPage
    PageContentItemType:
      x-schema-name: PageContentItemType
      description: The type of content item in a page.
      type: string
      enum:
      - line
      x-tsEnumNames:
      - Line
    Icon:
      x-schema-name: icon
      description: Info about the icon.
      type: object
      required:
      - name
      - type
      - browserLink
      additionalProperties: false
      properties:
        name:
          type: string
          description: Name of the icon.
        type:
          type: string
          description: MIME type of the icon
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to an icon.
          example: https://cdn.coda.io/icons/png/color/icon-32.png
    PageList_2:
      x-schema-name: PageList
      description: List of pages.
      type: object
      required:
      - items
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Page_2'
        href:
          type: string
          format: url
          description: API link to these results
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/pages?limit=20
        nextPageToken:
          $ref: '#/components/schemas/nextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/nextPageLink'
          - type: string
            example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/pages?pageToken=eyJsaW1pd
    PageContentDeleteResult:
      x-schema-name: PageContentDeleteResult
      description: The result of a page content deletion.
      allOf:
      - $ref: '#/components/schemas/DocumentMutateResponse'
      - type: object
        required:
        - id
        additionalProperties: false
        properties:
          id:
            type: string
            description: ID of the page whose content was deleted.
            example: canvas-tuVwxYz
    PageContentUpdate:
      x-schema-name: PageContentUpdate
      description: Payload for updating the content of an existing page.
      type: object
      additionalProperties: false
      required:
      - insertionMode
      - canvasContent
      properties:
        insertionMode:
          $ref: '#/components/schemas/PageContentInsertionMode'
        elementId:
          type: string
          example: cl-lzqh0Q0poT
          description: 'ID of the element on the page to use as a reference point for editing content. If provided, the operation will be relative to this element (e.g., append after it, prepend before it, replace it). If omitted, the operation will be performed on the entire page (e.g., append to end, prepend to beginning, replace all).

            '
        canvasContent:
          $ref: '#/components/schemas/PageContent_2'
    PageDeleteResult:
      x-schema-name: PageDeleteResult
      description: The result of a page deletion.
      allOf:
      - $ref: '#/components/schemas/DocumentMutateResponse'
      - type: object
        required:
        - id
        additionalProperties: false
        properties:
          id:
            type: string
            description: ID of the page to be deleted.
            example: canvas-tuVwxYz
    PageContentFormat:
      x-schema-name: PageContentFormat
      description: Supported content types for page (canvas) content.
      type: string
      enum:
      - html
      - markdown
      x-tsEnumNames:
      - Html
      - Markdown
    PageContentExportStatusResponse:
      x-schema-name: PageContentExportStatusResponse
      description: Response when requesting the status of a page content export.
      type: object
      additionalProperties: false
      required:
      - id
      - status
      - href
      properties:
        id:
          type: string
          description: The identifier of this export request.
          example: AbCDeFGH
        status:
          type: string
          description: The status of this export.
          example: complete
        href:
          type: string
          description: The URL that reports the status of this export.
          example: https://docs.superhuman.com/apis/v1/docs/somedoc/pages/somepage/export/some-request-id
        downloadLink:
          type: string
          description: Once the export completes, the location where the resulting export file can be downloaded; this link typically expires after a short time.  Call this method again to get a fresh link.
          example: https://docs.superhuman.com/blobs/DOC_EXPORT_RENDERING/some-request-id
        error:
          type: string
          description: Message describing an error, if this export failed.
    PageContentItemContent:
      x-schema-name: PageContentItemContent
      description: Content details of the item.
      type: object
      required:
      - style
      - format
      - content
      additionalProperties: false
      properties:
        style:
          $ref: '#/components/schemas/PageLineStyle'
        format:
          $ref: '#/components/schemas/PageContentItemContentFormat'
        content:
          type: string
          description: Content of the item in the specified format.
          example: This is a paragraph of text.
        lineLevel:
          type: integer
          description: 'Indentation level of the element. Present for indentable elements (paragraphs, blockquotes, and list items).

            '
          example: 0
    PageContentInsertionMode:
      x-schema-name: PageContentInsertionMode
      description: Mode for updating the content on an existing page.
      type: string
      enum:
      - append
      - prepend
      - replace
      x-tsEnumNames:
      - Append
      - Prepend
      - Replace
    DocumentMutateResponse:
      x-schema-name: DocumentMutateResponse
      description: Base response type for an operation that mutates a document.
      type: object
      additionalProperties: false
      required:
      - requestId
      properties:
        requestId:
          type: string
          description: An arbitrary unique identifier for this request.
          example: abc-123-def-456
    PageContentItemContentFormat:
      x-schema-name: PageContentItemContentFormat
      description: Content format for the item.
      type: string
      enum:
      - plainText
      x-tsEnumNames:
      - PlainText
    PageReference_2:
      x-schema-name: PageReference
      description: Reference to a page.
      type: object
      required:
      - id
      - type
      - browserLink
      - href
      - name
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the page.
          example: canvas-IjkLmnO
        type:
          type: string
          description: The type of this resource.
          enum:
          - page
          x-tsType: Type.Page
        href:
          type: string
          format: url
          description: API link to the page.
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/pages/canvas-IjkLmnO
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the page.
          example: https://docs.superhuman.com/d/_dAbCDeFGH/Launch-Status_sumnO
        name:
          type: string
          description: Name of the page.
          example: Launch Status
    PageCreateResult:
      x-schema-name: PageCreateResult
      description: The result of a page creation.
      allOf:
      - $ref: '#/components/schemas/DocumentMutateResponse'
      - type: object
        required:
        - id
        additionalProperties: false
        properties:
          id:
            type: string
            description: ID of the created page.
            example: canvas-tuVwxYz
    PageCreate:
      x-schema-name: PageCreate
      description: Payload for creating a new page in a doc.
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          description: Name of the page.
          example: Launch Status
        subtitle:
          type: string
          description: Subtitle of the page.
          example: See the status of launch-related tasks.
        iconName:
          type: string
          description: Name of the icon.
          example: rocket
        imageUrl:
          type: string
          description: Url of the cover image to use.
          example: https://example.com/image.jpg
        parentPageId:
          type: string
          description: The ID of this new page's parent, if creating a subpage.
          example: canvas-tuVwxYz
        pageContent:
          $ref: '#/components/schemas/PageCreateContent'
    PageUpdateResult:
      x-schema-name: PageUpdateResult
      description: The result of a page update.
      allOf:
      - $ref: '#/components/schemas/DocumentMutateResponse'
      - type: object
        required:
        - id
        additionalProperties: false
        properties:
          id:
            type: string
            description: ID of the updated page.
            example: canvas-tuVwxYz
    PageContentDelete:
      x-schema-name: PageContentDelete
      description: Payload for deleting content from a page.
      type: object
      additionalProperties: false
      properties:
        elementIds:
          type: array
          description: 'IDs of the elements to delete from the page. If omitted or empty, all content will be deleted.

            '
          items:
            type: string
          example:
          - cl-lzqh0Q0poT
          - cl-abc123def
    PersonValue:
      x-schema-name: PersonValue
      description: A named reference to a person, where the person is identified by email address.
      allOf:
      - $ref: '#/components/schemas/LinkedDataObject'
      - type: object
        additionalProperties: false
        required:
        - '@type'
        - name
        properties:
          '@type':
            type: string
            enum:
            - Person
            x-tsType: LinkedDataType.Person
          name:
            type: string
            description: The full name of the person.
            example: Alice Atkins
          email:
            type: string
            description: The email address of the person.
            example: alice@atkins.com
    PageContentItem:
      x-schema-name: PageContentItem
      description: Content item in a page (canvas).
      type: object
      required:
      - id
      - type
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the content item.
          example: cl-2ZUJuRhNuN
        type:
          $ref: '#/components/schemas/PageContentItemType'
        itemContent:
          $ref: '#/components/schemas/PageContentItemContent'
    nextPageToken:
      description: If specified, an opaque token used to fetch the next page of results.
      type: string
      example: eyJsaW1pd
    BeginPageContentExportResponse:
      x-schema-name: BeginPageContentExportResponse
      description: Response when beginning an export of page content.
      type: object
      additionalProperties: false
      required:
      - id
      - status
      - href
      properties:
        id:
          type: string
          description: The identifier of this export request.
          example: AbCDeFGH
        status:
          type: string
          description: The status of this export.
          example: complete
        href:
          type: string
          description: The URL that reports the status of this export. Poll this URL to get the content URL when the export has completed.
          example: https://docs.superhuman.com/apis/v1/docs/somedoc/pages/somepage/export/some-request-id
    Page_2:
      x-schema-name: Page
      description: Metadata about a page.
      type: object
      required:
      - id
      - type
      - href
      - name
      - isHidden
      - isEffectivelyHidden
      - browserLink
      - children
      - contentType
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the page.
          example: canvas-IjkLmnO
        type:
          type: string
          description: The type of this resource.
          enum:
          - page
          x-tsType: Type.Page
        href:
          type: string
          format: url
          description: API link to the page.
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/pages/canvas-IjkLmnO
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the page.
          example: https://docs.superhuman.com/d/_dAbCDeFGH/Launch-Status_sumnO
        name:
          type: string
          description: Name of the page.
          example: Launch Status
        subtitle:
          type: string
          description: Subtitle of the page.
          example: See the status of launch-related tasks.
        icon:
          $ref: '#/components/schemas/Icon'
        image:
          $ref: '#/components/schemas/Image'
        contentType:
          $ref: '#/components/schemas/PageType'
        isHidden:
          type: boolean
          description: Whether the page is hidden in the UI.
          example: true
        isEffectivelyHidden:
          type: boolean
          description: Whether the page or any of its parents is hidden in the UI.
          example: true
        parent:
          $ref: '#/components/schemas/PageReference_2'
        children:
          type: array
          items:
            $ref: '#/components/schemas/PageReference_2'
        authors:
          description: Authors of the page
          type: array
          items:
            $ref: '#/components/schemas/PersonValue'
        createdAt:
          type: string
          format: date-time
          description: Timestamp for when the page was created.
          example: '2018-04-11T00:18:57.946Z'
        createdBy:
          $ref: '#/components/schemas/PersonValue'
        updatedAt:
          type: string
          format: date-time
          description: Timestamp for when page content was last modified.
          example: '2018-04-11T00:18:57.946Z'
        updatedBy:
          $ref: '#/components/schemas/PersonValue'
    PageContentList:
      x-schema-name: PageContentList
      description: List of page content elements.
      type: object
      required:
      - items
      - href
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PageContentItem'
        href:
          type: string
          format: url
          description: API link to these results
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/pages/canvas-IjkLmnO/content?limit=20
        nextPageToken:
          $ref: '#/components/schemas/nextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/nextPageLink'
          - type: string
            example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/pages/canvas-IjkLmnO/content?pageToken=eyJsaW1pd
  responses:
    NotFoundError:
      description: The resource could not be located with the current API token.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 404
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Not Found
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Not Found
    TooManyRequestsError:
      description: The client has sent too many requests.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 429
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Too Many Requests
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Too Many Requests
    ForbiddenError:
      description: The API token does not grant access to this resource.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 403
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Forbidden
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Forbidden
    BadRequestError:
      description: The request parameters did not conform to expectations.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 400
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Bad Request
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Bad Request
    UnauthorizedError:
      description: The API token is invalid or has expired.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 401
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Unauthorized
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Unauthorized
    GoneError:
      description: The resource has been deleted.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 410
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Gone
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Gone
  securitySchemes:
    Bearer:
      description: 'The Superhuman Docs Admin API can be accessed using an API token, which can be obtained from [*My account*](https://docs.superhuman.com/account)

        in Superhuman Docs. This token should be specified by setting a header as follows.


        ```Authorization: Bearer <api_token>```


        Keep your token safe, as anyone who gets access to it can access your account. Once a token is created

        it cannot be viewed or modified, so don''t lose it.

        '
      type: http
      scheme: bearer
      bearerFormat: UUID
x-refined-from:
- coda-project-admin-openapi-original.json
- coda-project-openapi-original.json
x-tagGroups:
- name: API Tokens
  tags:
  - API Tokens
- name: Docs
  tags:
  - Docs
  - Doc Permissions
  - Doc Export
- name: Doc Structure
  tags:
  - Pages
- name: Events
  tags:
  - Events
- name: Folders
  tags:
  - Folders
  - Folder Permissions
- name: Groups
  tags:
  - Groups
- name: Import
  tags:
  - Preferences
- name: LegalHolds
  tags:
  - LegalHolds
- name: Organizations
  tags:
  - Organizations
  - Organization Users
  - Pack Controls
  - Pack Configurations
- name: Packs
  tags:
  - Packs
- name: Webhooks
  tags:
  - Webhooks
- name: Workspaces
  tags:
  - Workspaces
  - Workspace Users
