openapi: 3.2.0
info:
  version: 1.5.0
  title: Superhuman Docs Permissions API
  license:
    name: Superhuman Developer Terms
    url: https://docs.superhuman.com/trust/developer
  description: '# Introduction


    The Superhuman Docs API is a RESTful API that lets you programmatically interact with data in Superhuman Docs (formerly Coda):


    * List and search documents

    * Create new docs and copy existing ones

    * Share and publish docs

    * Discover pages, tables, formulas, and controls

    * Read, insert, upsert, update, and delete rows


    If you plan to integrate Superhuman Docs with an AI tool, you may also want to consider using the

    Superhuman Docs MCP server.'
  termsOfService: https://superhuman.com/legal/terms
  contact:
    name: Developer Support
    url: https://superhuman.com/developers
    email: care@superhuman.com
  x-logo:
    url: https://cdn.coda.io/icons/png/color/superhuman-docs-128.png
    backgroundColor: transparent
    altText: Superhuman Docs API
    href: '#'
servers:
- url: https://docs.superhuman.com/apis/v1
  description: Superhuman Docs API (v1)
security:
- Bearer: []
tags:
- name: Permissions
  description: This API lets you manage sharing and permissions for your docs.
paths:
  /docs/{docId}/acl/metadata:
    get:
      summary: Get sharing metadata
      description: Returns metadata associated with sharing for this document.
      operationId: getSharingMetadata
      tags:
      - Permissions
      parameters:
      - $ref: '#/components/parameters/docId'
      responses:
        '200':
          description: Metadata associated with sharing permissions for a doc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AclMetadata'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/acl/metadata''

          res = requests.get(uri, headers=headers).json()


          print(f''Can I share this doc with others? {res["canShare"]}'')

          # => Can I share this doc with others? true

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/acl/metadata' |\n  jq .canShare\n# => \"true\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var docSharingMetadata = SuperhumanDocs.getSharingMetadata(''<doc ID>'');

          Logger.log(''Can I share this doc with others? '' + docSharingMetadata.canShare);

          // => Can I share this doc with others? true

          '
  /docs/{docId}/acl/permissions:
    get:
      summary: List permissions
      description: Returns a list of permissions for this document.
      operationId: getPermissions
      tags:
      - Permissions
      parameters:
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: List of permissions for a doc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acl'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/acl/permissions''

          res = requests.get(uri, headers=headers).json()


          print(f''First user with access is {res["items"][0]["principal"]["email"]}'')

          # => First user with access is foo@bar.com

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/acl/permissions' |\n  jq '.items[].principal.email'\n# => \"foo@bar.com\", \"baz@bar.com\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var docPermissions = SuperhumanDocs.getPermissions(''<doc ID>'');

          Logger.log(''First user with access is '' + docPermissions[0].principal.email);

          // => First user with access is foo@bar.com

          '
    post:
      summary: Add permission
      description: Adds a new permission to the doc.
      operationId: addPermission
      tags:
      - Permissions
      parameters:
      - $ref: '#/components/parameters/docId'
      requestBody:
        description: Parameters for adding the new permission.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPermissionRequest'
      responses:
        '200':
          description: Confirmation that the request was applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddPermissionResult'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: "import requests\n\nheaders = {'Authorization': 'Bearer <your API token>'}\nuri = f'https://docs.superhuman.com/apis/v1/docs/<doc ID>/acl/permissions'\npayload = {\n  'access': 'write',\n  'principal': {\n    'type': 'email',\n    'email': 'foo@bar.com'\n  },\n}\nres = requests.post(uri, headers=headers, json=payload)\n\n# => Grant 'foo@bar.com' write access to the doc and send a share notification email\n"
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' -X POST \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/acl/permissions' \\\n  -d '{\"access\": \"write\", \"principal\": {\"type\": \"email\", \"email\": \"foo@bar.com\"}}'\n# => Grant 'foo@bar.com' write access to the doc and send a share notification email\n"
      - label: Google Apps Script
        lang: javascript
        source: "// Import the SuperhumanDocs library via Resource->Libraries...:\n// 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl\nSuperhumanDocs.authenticate('<your API token>');\nvar docPermissions = SuperhumanDocs.addPermission(\n  '<doc ID>',\n  {access: 'write', principal: {type: 'email', email: 'foo@bar.com'}}\n);\n// => Grant 'foo@bar.com' write access to the doc and send a share notification email\n"
  /docs/{docId}/acl/permissions/{permissionId}:
    delete:
      summary: Delete permission
      description: Deletes an existing permission.
      operationId: deletePermission
      tags:
      - Permissions
      parameters:
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/permissionId'
      responses:
        '200':
          description: Confirmation that the request was applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePermissionResult'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/acl/permissions/<permission ID>''

          res = requests.delete(uri, headers=headers, json=payload)


          # => Revoke access to the doc

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' -X DELETE \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/acl/permissions/<permission ID>'\n# => Revoke access to the doc\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var docPermissions = SuperhumanDocs.deletePermission(''<doc ID>'', ''<permission ID>'');

          // => Revoke access to the doc

          '
  /docs/{docId}/acl/principals/search:
    get:
      summary: Search principals
      description: 'Searches for user and group principals matching the query that this doc can be shared with.

        At most 20 results will be returned for both users and groups. If no query is given then no results are returned.'
      operationId: searchPrincipals
      tags:
      - Permissions
      parameters:
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: Search results for the given query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchPrincipalsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/acl/principals/search?search=foo''

          res = requests.get(uri, headers=headers).json()


          print(f''First user with access is {res["users"][0]["email"]}'')

          # => First user with access is foo@bar.com

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/acl/permissions/search?search=foo' |\n  jq '.users[].email'\n# => \"foo@bar.com\", \"baz@bar.com\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var principals = SuperhumanDocs.searchPrincipals(''<doc ID>'');

          Logger.log(''First user with access is '' + docPermissions[0].principal.email);

          // => First user with access is foo@bar.com

          '
  /docs/{docId}/acl/settings:
    get:
      summary: Get ACL settings
      description: Returns settings associated with ACLs for this document.
      operationId: getAclSettings
      tags:
      - Permissions
      parameters:
      - $ref: '#/components/parameters/docId'
      responses:
        '200':
          description: Settings associated with access control for a doc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AclSettings'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/acl/settings''

          res = requests.get(uri, headers=headers).json()


          print(f''Can editors change sharing permissions? {res["allowEditorsToChangePermissions"]}'')

          # => Can editors change sharing permissions? false

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/acl/settings' |\n  jq .allowEditorsToChangePermissions\n# => \"false\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var settings = SuperhumanDocs.getAclSettings(''<doc ID>'');

          Logger.log(''Can editors change sharing permissions? '' + settings.allowEditorsToChangePermissions);

          // => Can editors change sharing permissions? true

          '
    patch:
      summary: Update ACL settings
      description: Update settings associated with ACLs for this document.
      operationId: updateAclSettings
      tags:
      - Permissions
      parameters:
      - $ref: '#/components/parameters/docId'
      requestBody:
        description: Parameters for updating the ACL settings.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAclSettingsRequest'
      responses:
        '200':
          description: Settings associated with access control for a doc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AclSettings'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
components:
  schemas:
    WorkspacePrincipal:
      type: object
      required:
      - type
      - workspaceId
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - workspace
          x-tsType: PrincipalType.Workspace
        workspaceId:
          type: string
          description: WorkspaceId for the principal.
          example: ws-sdfmsdf9
    AclMetadata:
      x-schema-name: Acl
      description: Doc level metadata associated with ACL.
      type: object
      required:
      - canShare
      - canShareWithWorkspace
      - canShareWithOrg
      - canCopy
      additionalProperties: false
      properties:
        canShare:
          type: boolean
          description: When true, the user of the api can share
        canShareWithWorkspace:
          type: boolean
          description: When true, the user of the api can share with the workspace
        canShareWithOrg:
          type: boolean
          description: When true, the user of the api can share with the org
        canCopy:
          type: boolean
          description: When true, the user of the api can copy the doc
    nextPageLink:
      description: If specified, a link that can be used to fetch the next page of results.
      type: string
      format: url
    AddedEmailPrincipal:
      type: object
      required:
      - email
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - email
          x-tsType: PrincipalType.Email
        email:
          type: string
          description: Email for the principal.
          example: example@domain.com
    EmailPrincipal:
      type: object
      required:
      - email
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - email
          x-tsType: PrincipalType.Email
        email:
          type: string
          description: Email for the principal.
          example: example@domain.com
    AddedPrincipal:
      x-schema-name: AddedPrincipal
      description: Metadata about a principal to add to a doc.
      oneOf:
      - $ref: '#/components/schemas/AddedEmailPrincipal'
      - $ref: '#/components/schemas/AddedGroupPrincipal'
      - $ref: '#/components/schemas/AddedDomainPrincipal'
      - $ref: '#/components/schemas/AddedWorkspacePrincipal'
      - $ref: '#/components/schemas/AddedAnyonePrincipal'
      discriminator:
        propertyName: type
        mapping:
          email: '#/components/schemas/AddedEmailPrincipal'
          group: '#/components/schemas/AddedGroupPrincipal'
          domain: '#/components/schemas/AddedDomainPrincipal'
          workspace: '#/components/schemas/AddedWorkspacePrincipal'
          anyone: '#/components/schemas/AddedAnyonePrincipal'
    UserSummary:
      x-schema-name: UserSummary
      description: Summary about the user.
      type: object
      required:
      - name
      - loginId
      - type
      additionalProperties: false
      properties:
        name:
          type: string
          description: Name of the user.
          example: John Doe
        loginId:
          type: string
          description: Email address of the user.
          example: user@example.com
        type:
          type: string
          description: The type of this resource.
          enum:
          - user
          x-tsType: Type.User
        pictureLink:
          type: string
          format: url
          description: Browser-friendly link to the user's avatar image.
          example: https://cdn.coda.io/avatars/default_avatar.png
    UpdateAclSettingsRequest:
      x-schema-name: UpdateAclSettingsRequest
      description: Request to update ACL settings for a doc.
      type: object
      additionalProperties: false
      properties:
        allowEditorsToChangePermissions:
          type: boolean
          description: 'When true, allows editors to change doc permissions. When false, only doc owner can change doc permissions.

            '
        allowCopying:
          type: boolean
          description: When true, allows doc viewers to copy the doc.
        allowViewersToRequestEditing:
          type: boolean
          description: When true, allows doc viewers to request editing permissions.
    AddPermissionRequest:
      x-schema-name: AddPermissionRequest
      description: Payload for granting a new permission.
      type: object
      required:
      - access
      - principal
      additionalProperties: false
      properties:
        access:
          $ref: '#/components/schemas/AccessTypeNotNone'
        principal:
          $ref: '#/components/schemas/AddedPrincipal'
        suppressEmail:
          type: boolean
          description: When true suppresses email notification
    AddedGroupPrincipal:
      type: object
      required:
      - groupId
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - group
          x-tsType: PrincipalType.Group
        groupId:
          type: string
          description: Group ID for the principal.
          example: grp-6SM9xrKcqW
    AddPermissionResult:
      x-schema-name: AddPermissionResult
      description: The result of sharing a doc.
      type: object
      additionalProperties: false
      properties: {}
    AddedWorkspacePrincipal:
      type: object
      required:
      - type
      - workspaceId
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - workspace
          x-tsType: PrincipalType.Workspace
        workspaceId:
          type: string
          description: WorkspaceId for the principal.
          example: ws-sdfmsdf9
    AclSettings:
      x-schema-name: AclSettings
      description: Sharing settings for the doc.
      type: object
      required:
      - allowEditorsToChangePermissions
      - allowCopying
      - allowViewersToRequestEditing
      additionalProperties: false
      properties:
        allowEditorsToChangePermissions:
          type: boolean
          description: 'When true, allows editors to change doc permissions. When false, only doc owner can change doc permissions.

            '
        allowCopying:
          type: boolean
          description: When true, allows doc viewers to copy the doc.
        allowViewersToRequestEditing:
          type: boolean
          description: When true, allows doc viewers to request editing permissions.
    DomainPrincipal:
      type: object
      required:
      - domain
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - domain
          x-tsType: PrincipalType.Domain
        domain:
          type: string
          description: Domain for the principal.
          example: domain.com
    AddedDomainPrincipal:
      type: object
      required:
      - domain
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - domain
          x-tsType: PrincipalType.Domain
        domain:
          type: string
          description: Domain for the principal.
          example: domain.com
    AnyonePrincipal:
      type: object
      required:
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - anyone
          x-tsType: PrincipalType.Anyone
    InternalAccessPrincipal:
      type: object
      required:
      - type
      - internalAccessType
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - internalAccess
          x-tsType: PrincipalType.InternalAccess
        internalAccessType:
          type: string
          description: The type of internal access (e.g., support).
          example: support
    SearchPrincipalsResponse:
      x-schema-name: SearchPrincipalsResponse
      description: Metadata about the principals that match the given query.
      type: object
      required:
      - users
      - groups
      additionalProperties: false
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserSummary'
        groups:
          type: array
          items:
            $ref: '#/components/schemas/GroupPrincipal'
    DeletePermissionResult:
      x-schema-name: DeletePermissionResult
      description: The result of deleting a permission.
      type: object
      additionalProperties: false
      properties: {}
    Permission:
      x-schema-name: Permission
      description: A specific permission granted to a principal.
      type: object
      required:
      - principal
      - id
      - access
      additionalProperties: false
      properties:
        principal:
          $ref: '#/components/schemas/Principal'
        id:
          type: string
          description: Id for the Permission
        access:
          $ref: '#/components/schemas/AccessType'
    Principal:
      x-schema-name: Principal
      description: Metadata about a principal.
      oneOf:
      - $ref: '#/components/schemas/EmailPrincipal'
      - $ref: '#/components/schemas/GroupPrincipal'
      - $ref: '#/components/schemas/DomainPrincipal'
      - $ref: '#/components/schemas/WorkspacePrincipal'
      - $ref: '#/components/schemas/AnyonePrincipal'
      - $ref: '#/components/schemas/InternalAccessPrincipal'
      discriminator:
        propertyName: type
        mapping:
          email: '#/components/schemas/EmailPrincipal'
          group: '#/components/schemas/GroupPrincipal'
          domain: '#/components/schemas/DomainPrincipal'
          workspace: '#/components/schemas/WorkspacePrincipal'
          anyone: '#/components/schemas/AnyonePrincipal'
          internalAccess: '#/components/schemas/InternalAccessPrincipal'
    AddedAnyonePrincipal:
      type: object
      required:
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - anyone
          x-tsType: PrincipalType.Anyone
    AccessTypeNotNone:
      x-schema-name: AccessTypeNotNone
      description: Type of access (excluding none).
      type: string
      enum:
      - readonly
      - write
      - comment
      x-tsEnumNames:
      - ReadOnly
      - Write
      - Comment
    GroupPrincipal:
      type: object
      required:
      - groupId
      - groupName
      - type
      additionalProperties: false
      properties:
        type:
          type: string
          description: The type of this principal.
          enum:
          - group
          x-tsType: PrincipalType.Group
        groupId:
          type: string
          description: Group ID for the principal.
          example: grp-6SM9xrKcqW
        groupName:
          type: string
          description: Name of the group.
          example: Marketing team
    Acl:
      x-schema-name: Acl
      description: List of Permissions.
      type: object
      required:
      - items
      - href
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Permission'
        href:
          type: string
          format: url
          description: API link to these results
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/acl?limit=20
        nextPageToken:
          $ref: '#/components/schemas/nextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/nextPageLink'
          - type: string
            example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/acl?pageToken=eyJsaW1pd
    AccessType:
      x-schema-name: AccessType
      description: Type of access.
      type: string
      enum:
      - readonly
      - write
      - comment
      - none
      x-tsEnumNames:
      - ReadOnly
      - Write
      - Comment
      - None
    nextPageToken:
      description: If specified, an opaque token used to fetch the next page of results.
      type: string
      example: eyJsaW1pd
  parameters:
    pageToken:
      name: pageToken
      description: An opaque token used to fetch the next page of results.
      in: query
      example: eyJsaW1pd
      schema:
        type: string
    query:
      name: query
      description: Search term used to filter down results.
      in: query
      example: Supercalifragilisticexpialidocious
      schema:
        type: string
    limit:
      name: limit
      description: Maximum number of results to return in this query.
      in: query
      example: 10
      schema:
        type: integer
        minimum: 1
        default: 25
    docId:
      name: docId
      description: ID of the doc.
      in: path
      required: true
      example: AbCDeFGH
      schema:
        type: string
    permissionId:
      name: permissionId
      description: ID of a permission on a doc.
      in: path
      required: true
      example: AbCDeFGH
      schema:
        type: string
  responses:
    NotFoundError:
      description: The resource could not be located with the current API token.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 404
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Not Found
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Not Found
    TooManyRequestsError:
      description: The client has sent too many requests.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 429
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Too Many Requests
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Too Many Requests
    ForbiddenError:
      description: The API token does not grant access to this resource.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 403
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Forbidden
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Forbidden
    BadRequestError:
      description: The request parameters did not conform to expectations.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 400
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Bad Request
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Bad Request
    UnauthorizedError:
      description: The API token is invalid or has expired.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 401
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Unauthorized
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Unauthorized
  securitySchemes:
    Bearer:
      description: "The Superhuman Docs API can be accessed using an API token, which can be obtained from [*My account*](https://docs.superhuman.com/account)\nin Superhuman Docs. This token should be specified by setting a header as follows.\n\n```Authorization: Bearer <api_token>```\n\nKeep your token safe, as anyone who gets access to it can access your account. Once a token is created\nit cannot be viewed or modified, so don't lose it.\n\nIf you're logged into Superhuman Docs, you can also query the API directly using your browser. Note that only GET\nendpoints are supported; for anything else, you'll have to use Bearer authentication.\n\n### Restricting token authorization\n\nBy default, bearer tokens created for the Superhuman Docs API can perform any action that the user who created the token\ncan perform. However, Superhuman Docs API bearer tokens can also be created with restrictions. These restrictions\ncan limit what objects can be operated on and the types of operations that can be performed.\n\n#### Operation types\n\nThe table below describes the types of authorization restrictions that can be placed on a Superhuman Docs API token.\n<table>\n  <tr><th>Restriction</th><th>Description</th><th>Allowed HTTP Methods</th></tr>\n  <tr>\n    <td>Read access</td>\n    <td>Allows access to API methods that read the state of an object</td>\n    <td>GET</td>\n  </tr>\n  <tr>\n    <td>Write access</td>\n    <td>Allows access to API methods that write the state of an object</td>\n    <td>POST, PUT, DELETE</td>\n  </tr>\n  <tr>\n    <td>Read and write access</td>\n    <td>Allows access to all methods for an object</td>\n    <td>All</td>\n  </tr>\n</table>\n\n#### Object types\n\nSuperhuman Docs API tokens can be restricted to the following types of objects.\n\n* Documents: Restricts access to only allow API calls for `/docs/${DOC_ID}`\n* Tables: Restricts access to only allow API calls for `/docs/${DOC_ID}/tables/${TABLE_ID}`\n\n#### Special cases\n\nThere are a few special case methods that violate the above restrictions.\n\n* `/whoami`: This method can be called by all Superhuman Docs API tokens.\n* `/resolveBrowserLink`: This method can be called by all Superhuman Docs API tokens, but will only return a result\nif the token has access (read or write) to the object referenced by the URL.\n\n#### Feedback\n\nThis feature is under development and we'd love to hear your feedback and bug reports. Please\nvisit us at the [Developers Central](https://connect.superhuman.com/c/developers-central) forum within\nthe Superhuman Community.\n"
      type: http
      scheme: bearer
      bearerFormat: UUID
x-tagGroups:
- name: Folders
  tags:
  - Folders
- name: Docs
  tags:
  - Docs
  - Permissions
  - Publishing
- name: Doc Structure
  tags:
  - Pages
  - Automations
- name: Tables and Views
  tags:
  - Tables
  - Columns
  - Rows
- name: Formulas & Controls
  tags:
  - Formulas
  - Controls
- name: Miscellaneous
  tags:
  - Account
  - Analytics
  - Miscellaneous
