openapi: 3.2.0
info:
  version: 1.5.0
  title: Superhuman Docs Columns API
  license:
    name: Superhuman Developer Terms
    url: https://docs.superhuman.com/trust/developer
  description: '# Introduction


    The Superhuman Docs API is a RESTful API that lets you programmatically interact with data in Superhuman Docs (formerly Coda):


    * List and search documents

    * Create new docs and copy existing ones

    * Share and publish docs

    * Discover pages, tables, formulas, and controls

    * Read, insert, upsert, update, and delete rows


    If you plan to integrate Superhuman Docs with an AI tool, you may also want to consider using the

    Superhuman Docs MCP server.'
  termsOfService: https://superhuman.com/legal/terms
  contact:
    name: Developer Support
    url: https://superhuman.com/developers
    email: care@superhuman.com
  x-logo:
    url: https://cdn.coda.io/icons/png/color/superhuman-docs-128.png
    backgroundColor: transparent
    altText: Superhuman Docs API
    href: '#'
servers:
- url: https://docs.superhuman.com/apis/v1
  description: Superhuman Docs API (v1)
security:
- Bearer: []
tags:
- name: Columns
  description: While columns in Superhuman Docs have user-friendly names, they also have immutable IDs that are used when reading and writing rows. These endpoints let you query the columns in a table and get basic information about them.
paths:
  /docs/{docId}/tables/{tableIdOrName}/columns:
    get:
      summary: List columns
      description: Returns a list of columns in a table.
      operationId: listColumns
      tags:
      - Columns
      parameters:
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/tableIdOrName'
      - name: limit
        description: Maximum number of results to return in this query.
        in: query
        example: 10
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      - $ref: '#/components/parameters/pageToken'
      - name: visibleOnly
        description: If true, returns only visible columns for the table. This parameter only applies to base tables, and not views.
        in: query
        example: true
        schema:
          type: boolean
      responses:
        '200':
          description: List of columns in the table.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColumnList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/columns''

          res = requests.get(uri, headers=headers).json()


          print(f''This table\''s columns: {", ".join(c["name"] for c in res["items"])}'')

          # => This table''s columns: Task, Duration (hr), Duration (min)

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/columns' |\n  jq '.items | map(.name) | join(\", \")'\n# => \"Task, Duration (hr), Duration (min)\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var columns = SuperhumanDocs.listColumns(''<doc ID>'', ''<table ID>'').items;

          var names = columns.map(function(column) { return column.name; });

          Logger.log(''This table\''s columns: '' + names.join('', ''));

          // => This table''s columns: Task, Duration (hr), Duration (min)

          '
  /docs/{docId}/tables/{tableIdOrName}/columns/{columnIdOrName}:
    get:
      summary: Get a column
      description: Returns details about a column in a table.
      operationId: getColumn
      tags:
      - Columns
      parameters:
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/tableIdOrName'
      - $ref: '#/components/parameters/columnIdOrName'
      responses:
        '200':
          description: Info about a column.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColumnDetail'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/columns/<column ID>''

          res = requests.get(uri, headers=headers).json()


          is_default = res.get("display", False)

          print(f''Column {res["name"]} {"is" if is_default else "is not"} the display column'')

          # => Column Task is the display column

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/tables/<table ID>/columns/<column ID>' |\n  jq '\"Column \" + .name + (if .display then \" is\" else \" is not\" end) + \" the display column\"'\n# => \"Column Task is the display column\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var column = SuperhumanDocs.getColumn(''<doc ID>'', ''<table ID>'', ''<column ID>'');

          Logger.log(''Column '' + column.name + (column.display ? '' is'' : '' is not'') + '' the display column'');

          # => Column Task is the display column

          '
components:
  schemas:
    DurationUnit:
      x-schema-name: DurationUnit
      description: A time unit used as part of a duration value.
      type: string
      enum:
      - days
      - hours
      - minutes
      - seconds
      x-tsEnumNames:
      - Days
      - Hours
      - Minutes
      - Seconds
    NumericColumnFormat:
      x-schema-name: NumericColumnFormat
      description: Format of a numeric column.
      allOf:
      - $ref: '#/components/schemas/SimpleColumnFormat'
      - type: object
        additionalProperties: false
        properties:
          precision:
            type: integer
            minimum: 0
            maximum: 10
            description: The decimal precision.
            example: 2
          useThousandsSeparator:
            type: boolean
            description: Whether to use a thousands separator (like ",") to format the numeric value.
            example: true
    ButtonColumnFormat:
      x-schema-name: ButtonColumnFormat
      description: Format of a button column.
      allOf:
      - $ref: '#/components/schemas/SimpleColumnFormat'
      - type: object
        additionalProperties: false
        properties:
          label:
            type: string
            description: Label formula for the button.
            example: Click me
          disableIf:
            type: string
            description: DisableIf formula for the button.
            example: False()
          action:
            type: string
            description: Action formula for the button.
            example: OpenUrl("www.google.com")
    ReferenceColumnFormat:
      x-schema-name: ReferenceColumnFormat
      description: Format of a column that refers to another table.
      allOf:
      - $ref: '#/components/schemas/SimpleColumnFormat'
      - type: object
        additionalProperties: false
        required:
        - table
        properties:
          table:
            allOf:
            - description: Reference to the table this column refers to, if applicable.
              additionalProperties: false
            - $ref: '#/components/schemas/TableReference'
    SelectColumnFormat:
      x-schema-name: SelectColumnFormat
      description: Format of a select column.
      allOf:
      - $ref: '#/components/schemas/SimpleColumnFormat'
      - type: object
        additionalProperties: false
        properties:
          options:
            type: array
            description: For select format columns, the list of available options. Only returned for select lists that used a fixed set of options. Returns the first 5000 options.
            items:
              $ref: '#/components/schemas/SelectOption'
    ColumnDetail:
      x-schema-name: ColumnDetail
      description: Info about a column.
      type: object
      required:
      - id
      - type
      - href
      - name
      - parent
      - format
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the column.
          example: c-tuVwxYz
        type:
          type: string
          description: The type of this resource.
          enum:
          - column
          x-tsType: Type.Column
        href:
          type: string
          format: url
          description: API link to the column.
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/tables/grid-pqRst-U/columns/c-tuVwxYz
        name:
          type: string
          description: Name of the column.
          example: Completed
        display:
          type: boolean
          description: Whether the column is the display column.
          example: true
        calculated:
          type: boolean
          description: Whether the column has a formula set on it.
          example: true
        formula:
          type: string
          description: Formula on the column.
          example: thisRow.Created()
        defaultValue:
          type: string
          description: Default value formula for the column.
          example: Test
        format:
          $ref: '#/components/schemas/ColumnFormat'
        parent:
          $ref: '#/components/schemas/TableReference'
    nextPageLink:
      description: If specified, a link that can be used to fetch the next page of results.
      type: string
      format: url
    TimeColumnFormat:
      x-schema-name: TimeColumnFormat
      description: Format of a time column.
      allOf:
      - $ref: '#/components/schemas/SimpleColumnFormat'
      - type: object
        additionalProperties: false
        properties:
          format:
            type: string
            description: 'A format string using Moment syntax: https://momentjs.com/docs/#/displaying/'
            example: h:mm:ss A
    CheckboxDisplayType:
      x-schema-name: CheckboxDisplayType
      description: How a checkbox should be displayed.
      type: string
      enum:
      - toggle
      - check
      x-tsEnumNames:
      - Toggle
      - Check
    DateTimeColumnFormat:
      x-schema-name: DateTimeColumnFormat
      description: Format of a date column.
      allOf:
      - $ref: '#/components/schemas/SimpleColumnFormat'
      - type: object
        additionalProperties: false
        properties:
          dateFormat:
            type: string
            description: 'A format string using Moment syntax: https://momentjs.com/docs/#/displaying/'
            example: YYYY-MM-DD
          timeFormat:
            type: string
            description: 'A format string using Moment syntax: https://momentjs.com/docs/#/displaying/'
            example: h:mm:ss A
    IconSet:
      x-schema-name: IconSet
      description: List of available icon sets.
      type: string
      enum:
      - star
      - circle
      - fire
      - bug
      - diamond
      - bell
      - thumbsup
      - heart
      - chili
      - smiley
      - lightning
      - currency
      - coffee
      - person
      - battery
      - cocktail
      - cloud
      - sun
      - checkmark
      - lightbulb
      x-tsEnumNames:
      - Star
      - Circle
      - Fire
      - Bug
      - Diamond
      - Bell
      - ThumbsUp
      - Heart
      - Chili
      - Smiley
      - Lightning
      - Currency
      - Coffee
      - Person
      - Battery
      - Cocktail
      - Cloud
      - Sun
      - Checkmark
      - LightBulb
    ImageShapeStyle:
      x-schema-name: ImageShapeStyle
      description: How an image should be displayed.
      type: string
      enum:
      - auto
      - circle
      x-tsEnumNames:
      - Auto
      - Circle
    nextPageToken:
      description: If specified, an opaque token used to fetch the next page of results.
      type: string
      example: eyJsaW1pd
    SliderDisplayType:
      x-schema-name: SliderDisplayType
      description: How the slider should be rendered.
      type: string
      enum:
      - slider
      - progress
      x-tsEnumNames:
      - Slider
      - Progress
    NumberOrNumberFormula:
      x-schema-name: NumberOrNumberFormula
      description: A number or a string representing a formula that evaluates to a number.
      oneOf:
      - type: number
        description: A numeric value.
        example: 1
      - type: string
        description: A formula that evaluates to a numeric value.
        example: 5 * 10
    ImageReferenceColumnFormat:
      x-schema-name: ImageReferenceColumnFormat
      description: Format of an image reference column.
      allOf:
      - $ref: '#/components/schemas/SimpleColumnFormat'
      - type: object
        additionalProperties: false
        required:
        - width
        - height
        - style
        properties:
          width:
            allOf:
            - description: The image width.
              additionalProperties: false
            - $ref: '#/components/schemas/NumberOrNumberFormula'
          height:
            allOf:
            - description: The image height.
              additionalProperties: false
            - $ref: '#/components/schemas/NumberOrNumberFormula'
          style:
            $ref: '#/components/schemas/ImageShapeStyle'
    SliderColumnFormat:
      x-schema-name: SliderColumnFormat
      description: Format of a numeric column that renders as a slider.
      allOf:
      - $ref: '#/components/schemas/SimpleColumnFormat'
      - type: object
        additionalProperties: false
        properties:
          minimum:
            allOf:
            - description: The minimum allowed value for this slider.
              additionalProperties: false
            - $ref: '#/components/schemas/NumberOrNumberFormula'
          maximum:
            allOf:
            - description: The maximum allowed value for this slider.
              additionalProperties: false
            - $ref: '#/components/schemas/NumberOrNumberFormula'
          step:
            allOf:
            - description: The step size (numeric increment) for this slider.
              additionalProperties: false
            - $ref: '#/components/schemas/NumberOrNumberFormula'
          displayType:
            $ref: '#/components/schemas/SliderDisplayType'
          showValue:
            type: boolean
            description: Whether the underyling numeric value is also displayed.
            example: true
    SelectOption:
      x-schema-name: SelectOption
      description: An option for a select column.
      type: object
      required:
      - name
      additionalProperties: false
      properties:
        name:
          type: string
          description: The name of the option.
          example: Option 1
        backgroundColor:
          type: string
          description: The background color of the option.
          example: '#ff0000'
        foregroundColor:
          type: string
          description: The foreground color of the option.
          example: '#ffffff'
    EmailColumnFormat:
      x-schema-name: EmailColumnFormat
      description: Format of an email column.
      allOf:
      - $ref: '#/components/schemas/SimpleColumnFormat'
      - type: object
        additionalProperties: false
        properties:
          display:
            $ref: '#/components/schemas/EmailDisplayType'
          autocomplete:
            type: boolean
    LinkDisplayType:
      x-schema-name: LinkDisplayType
      description: How a link should be displayed in the user interface.
      type: string
      enum:
      - iconOnly
      - url
      - title
      - card
      - embed
      x-tsEnumNames:
      - IconOnly
      - Url
      - Title
      - Card
      - Embed
    EmailDisplayType:
      x-schema-name: EmailDisplayType
      description: How an email address should be displayed in the user interface.
      type: string
      enum:
      - iconAndEmail
      - iconOnly
      - emailOnly
      x-tsEnumNames:
      - IconAndEmail
      - IconOnly
      - EmailOnly
    Column:
      x-schema-name: Column
      description: Info about a column.
      type: object
      required:
      - id
      - type
      - href
      - name
      - format
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the column.
          example: c-tuVwxYz
        type:
          type: string
          description: The type of this resource.
          enum:
          - column
          x-tsType: Type.Column
        href:
          type: string
          format: url
          description: API link to the column.
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/tables/grid-pqRst-U/columns/c-tuVwxYz
        name:
          type: string
          description: Name of the column.
          example: Completed
        display:
          type: boolean
          description: Whether the column is the display column.
          example: true
        calculated:
          type: boolean
          description: Whether the column has a formula set on it.
          example: true
        formula:
          type: string
          description: Formula on the column.
          example: thisRow.Created()
        defaultValue:
          type: string
          description: Default value formula for the column.
          example: Test
        format:
          $ref: '#/components/schemas/ColumnFormat'
    ColumnFormatType:
      x-schema-name: ColumnFormatType
      description: Format type of the column
      type: string
      enum:
      - text
      - person
      - lookup
      - number
      - percent
      - currency
      - date
      - dateTime
      - time
      - duration
      - email
      - link
      - slider
      - scale
      - image
      - imageReference
      - attachments
      - button
      - checkbox
      - select
      - packObject
      - reaction
      - canvas
      - other
      x-tsEnumNames:
      - Text
      - Person
      - Lookup
      - Number
      - Percent
      - Currency
      - Date
      - DateTime
      - Time
      - Duration
      - Email
      - Link
      - Slider
      - Scale
      - Image
      - ImageReference
      - Attachments
      - Button
      - Checkbox
      - Select
      - PackObject
      - Reaction
      - Canvas
      - Other
    ColumnList:
      x-schema-name: ColumnList
      description: List of columns.
      type: object
      required:
      - items
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Column'
        href:
          type: string
          format: url
          description: API link to these results
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/tables/grid-pqRst-U/columns?limit=20
        nextPageToken:
          $ref: '#/components/schemas/nextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/nextPageLink'
          - type: string
            example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/tables/grid-pqRst-U/columns?pageToken=eyJsaW1pd
    SimpleColumnFormat:
      x-schema-name: SimpleColumnFormat
      description: Format of a simple column.
      type: object
      required:
      - type
      - isArray
      additionalProperties: false
      properties:
        type:
          $ref: '#/components/schemas/ColumnFormatType'
        isArray:
          type: boolean
          description: Whether or not this column is an array.
          example: true
    PageReference:
      x-schema-name: PageReference
      description: Reference to a page.
      type: object
      required:
      - id
      - type
      - browserLink
      - href
      - name
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the page.
          example: canvas-IjkLmnO
        type:
          type: string
          description: The type of this resource.
          enum:
          - page
          x-tsType: Type.Page
        href:
          type: string
          format: url
          description: API link to the page.
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/pages/canvas-IjkLmnO
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the page.
          example: https://docs.superhuman.com/d/_dAbCDeFGH/Launch-Status_sumnO
        name:
          type: string
          description: Name of the page.
          example: Launch Status
    TableType:
      x-schema-name: TableType
      type: string
      enum:
      - table
      - view
      x-tsEnumNames:
      - Table
      - View
    TableReference:
      x-schema-name: TableReference
      description: Reference to a table or view.
      type: object
      required:
      - id
      - type
      - tableType
      - browserLink
      - href
      - name
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the table.
          example: grid-pqRst-U
        type:
          type: string
          description: The type of this resource.
          enum:
          - table
          x-tsType: Type.Table
        tableType:
          $ref: '#/components/schemas/TableType'
        href:
          type: string
          format: url
          description: API link to the table.
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/tables/grid-pqRst-U
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the table.
          example: https://docs.superhuman.com/d/_dAbCDeFGH/#Teams-and-Tasks_tpqRst-U
        name:
          type: string
          description: Name of the table.
          example: Tasks
        parent:
          $ref: '#/components/schemas/PageReference'
    CheckboxColumnFormat:
      x-schema-name: CheckboxColumnFormat
      description: Format of a checkbox column.
      allOf:
      - $ref: '#/components/schemas/SimpleColumnFormat'
      - type: object
        additionalProperties: false
        required:
        - displayType
        properties:
          displayType:
            $ref: '#/components/schemas/CheckboxDisplayType'
    DurationColumnFormat:
      x-schema-name: DurationColumnFormat
      description: Format of a duration column.
      allOf:
      - $ref: '#/components/schemas/SimpleColumnFormat'
      - type: object
        additionalProperties: false
        properties:
          precision:
            type: integer
            example: 2
          maxUnit:
            allOf:
            - description: The maximum unit of precision, e.g. "hours" if this duration need not include minutes.
              additionalProperties: false
            - $ref: '#/components/schemas/DurationUnit'
    CurrencyFormatType:
      x-schema-name: CurrencyFormatType
      description: How the numeric value should be formatted (with or without symbol, negative numbers in parens).
      type: string
      enum:
      - currency
      - accounting
      - financial
      x-tsEnumNames:
      - Currency
      - Accounting
      - Financial
    ScaleColumnFormat:
      x-schema-name: ScaleColumnFormat
      description: Format of a numeric column that renders as a scale, like star ratings.
      allOf:
      - $ref: '#/components/schemas/SimpleColumnFormat'
      - type: object
        additionalProperties: false
        required:
        - maximum
        - icon
        properties:
          maximum:
            type: number
            description: The maximum number allowed for this scale.
            example: 5
          icon:
            allOf:
            - description: The icon set to use when rendering the scale, e.g. render a 5 star scale.
              additionalProperties: false
            - $ref: '#/components/schemas/IconSet'
    LinkColumnFormat:
      x-schema-name: LinkColumnFormat
      description: Format of a link column.
      allOf:
      - $ref: '#/components/schemas/SimpleColumnFormat'
      - type: object
        additionalProperties: false
        properties:
          display:
            $ref: '#/components/schemas/LinkDisplayType'
          force:
            type: boolean
            description: Force embeds to render on the client instead of the server (for sites that require user login).
            example: true
    DateColumnFormat:
      x-schema-name: DateColumnFormat
      description: Format of a date column.
      allOf:
      - $ref: '#/components/schemas/SimpleColumnFormat'
      - type: object
        additionalProperties: false
        properties:
          format:
            type: string
            description: 'A format string using Moment syntax: https://momentjs.com/docs/#/displaying/'
            example: YYYY-MM-DD
    ColumnFormat:
      x-schema-name: ColumnFormat
      description: Format of a column.
      oneOf:
      - $ref: '#/components/schemas/ButtonColumnFormat'
      - $ref: '#/components/schemas/CheckboxColumnFormat'
      - $ref: '#/components/schemas/DateColumnFormat'
      - $ref: '#/components/schemas/DateTimeColumnFormat'
      - $ref: '#/components/schemas/DurationColumnFormat'
      - $ref: '#/components/schemas/EmailColumnFormat'
      - $ref: '#/components/schemas/LinkColumnFormat'
      - $ref: '#/components/schemas/CurrencyColumnFormat'
      - $ref: '#/components/schemas/ImageReferenceColumnFormat'
      - $ref: '#/components/schemas/NumericColumnFormat'
      - $ref: '#/components/schemas/ReferenceColumnFormat'
      - $ref: '#/components/schemas/SelectColumnFormat'
      - $ref: '#/components/schemas/SimpleColumnFormat'
      - $ref: '#/components/schemas/ScaleColumnFormat'
      - $ref: '#/components/schemas/SliderColumnFormat'
      - $ref: '#/components/schemas/TimeColumnFormat'
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/SimpleColumnFormat'
          person: '#/components/schemas/ReferenceColumnFormat'
          lookup: '#/components/schemas/ReferenceColumnFormat'
          number: '#/components/schemas/NumericColumnFormat'
          percent: '#/components/schemas/NumericColumnFormat'
          currency: '#/components/schemas/CurrencyColumnFormat'
          date: '#/components/schemas/DateColumnFormat'
          dateTime: '#/components/schemas/DateTimeColumnFormat'
          time: '#/components/schemas/TimeColumnFormat'
          duration: '#/components/schemas/DurationColumnFormat'
          slider: '#/components/schemas/SliderColumnFormat'
          scale: '#/components/schemas/ScaleColumnFormat'
          image: '#/components/schemas/SimpleColumnFormat'
          imageReference: '#/components/schemas/ImageReferenceColumnFormat'
          attachments: '#/components/schemas/SimpleColumnFormat'
          button: '#/components/schemas/ButtonColumnFormat'
          checkbox: '#/components/schemas/CheckboxColumnFormat'
          select: '#/components/schemas/SelectColumnFormat'
          packObject: '#/components/schemas/SimpleColumnFormat'
          canvas: '#/components/schemas/SimpleColumnFormat'
          other: '#/components/schemas/SimpleColumnFormat'
    CurrencyColumnFormat:
      x-schema-name: CurrencyColumnFormat
      description: Format of a currency column.
      allOf:
      - $ref: '#/components/schemas/SimpleColumnFormat'
      - type: object
        additionalProperties: false
        properties:
          currencyCode:
            type: string
            description: The currency symbol
            example: $
          precision:
            type: integer
            minimum: 0
            maximum: 10
            description: The decimal precision.
            example: 2
          format:
            $ref: '#/components/schemas/CurrencyFormatType'
  parameters:
    columnIdOrName:
      name: columnIdOrName
      description: ID or name of the column. Names are discouraged because they're easily prone to being changed by users. If you're using a name, be sure to URI-encode it.
      x-sdk-description: ID or name of the column. Names are discouraged because they're easily prone to being changed by users.
      in: path
      required: true
      example: c-tuVwxYz
      schema:
        type: string
    pageToken:
      name: pageToken
      description: An opaque token used to fetch the next page of results.
      in: query
      example: eyJsaW1pd
      schema:
        type: string
    tableIdOrName:
      name: tableIdOrName
      description: ID or name of the table. Names are discouraged because they're easily prone to being changed by users. If you're using a name, be sure to URI-encode it.
      x-sdk-description: ID or name of the table. Names are discouraged because they're easily prone to being changed by users.
      in: path
      required: true
      example: grid-pqRst-U
      schema:
        type: string
    docId:
      name: docId
      description: ID of the doc.
      in: path
      required: true
      example: AbCDeFGH
      schema:
        type: string
  responses:
    NotFoundError:
      description: The resource could not be located with the current API token.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 404
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Not Found
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Not Found
    TooManyRequestsError:
      description: The client has sent too many requests.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 429
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Too Many Requests
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Too Many Requests
    ForbiddenError:
      description: The API token does not grant access to this resource.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 403
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Forbidden
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Forbidden
    UnauthorizedError:
      description: The API token is invalid or has expired.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 401
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Unauthorized
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Unauthorized
  securitySchemes:
    Bearer:
      description: "The Superhuman Docs API can be accessed using an API token, which can be obtained from [*My account*](https://docs.superhuman.com/account)\nin Superhuman Docs. This token should be specified by setting a header as follows.\n\n```Authorization: Bearer <api_token>```\n\nKeep your token safe, as anyone who gets access to it can access your account. Once a token is created\nit cannot be viewed or modified, so don't lose it.\n\nIf you're logged into Superhuman Docs, you can also query the API directly using your browser. Note that only GET\nendpoints are supported; for anything else, you'll have to use Bearer authentication.\n\n### Restricting token authorization\n\nBy default, bearer tokens created for the Superhuman Docs API can perform any action that the user who created the token\ncan perform. However, Superhuman Docs API bearer tokens can also be created with restrictions. These restrictions\ncan limit what objects can be operated on and the types of operations that can be performed.\n\n#### Operation types\n\nThe table below describes the types of authorization restrictions that can be placed on a Superhuman Docs API token.\n<table>\n  <tr><th>Restriction</th><th>Description</th><th>Allowed HTTP Methods</th></tr>\n  <tr>\n    <td>Read access</td>\n    <td>Allows access to API methods that read the state of an object</td>\n    <td>GET</td>\n  </tr>\n  <tr>\n    <td>Write access</td>\n    <td>Allows access to API methods that write the state of an object</td>\n    <td>POST, PUT, DELETE</td>\n  </tr>\n  <tr>\n    <td>Read and write access</td>\n    <td>Allows access to all methods for an object</td>\n    <td>All</td>\n  </tr>\n</table>\n\n#### Object types\n\nSuperhuman Docs API tokens can be restricted to the following types of objects.\n\n* Documents: Restricts access to only allow API calls for `/docs/${DOC_ID}`\n* Tables: Restricts access to only allow API calls for `/docs/${DOC_ID}/tables/${TABLE_ID}`\n\n#### Special cases\n\nThere are a few special case methods that violate the above restrictions.\n\n* `/whoami`: This method can be called by all Superhuman Docs API tokens.\n* `/resolveBrowserLink`: This method can be called by all Superhuman Docs API tokens, but will only return a result\nif the token has access (read or write) to the object referenced by the URL.\n\n#### Feedback\n\nThis feature is under development and we'd love to hear your feedback and bug reports. Please\nvisit us at the [Developers Central](https://connect.superhuman.com/c/developers-central) forum within\nthe Superhuman Community.\n"
      type: http
      scheme: bearer
      bearerFormat: UUID
x-tagGroups:
- name: Folders
  tags:
  - Folders
- name: Docs
  tags:
  - Docs
  - Permissions
  - Publishing
- name: Doc Structure
  tags:
  - Pages
  - Automations
- name: Tables and Views
  tags:
  - Tables
  - Columns
  - Rows
- name: Formulas & Controls
  tags:
  - Formulas
  - Controls
- name: Miscellaneous
  tags:
  - Account
  - Analytics
  - Miscellaneous
