openapi: 3.2.0
info:
  version: 1.5.0
  title: Superhuman Docs Controls API
  license:
    name: Superhuman Developer Terms
    url: https://docs.superhuman.com/trust/developer
  description: '# Introduction


    The Superhuman Docs API is a RESTful API that lets you programmatically interact with data in Superhuman Docs (formerly Coda):


    * List and search documents

    * Create new docs and copy existing ones

    * Share and publish docs

    * Discover pages, tables, formulas, and controls

    * Read, insert, upsert, update, and delete rows


    If you plan to integrate Superhuman Docs with an AI tool, you may also want to consider using the

    Superhuman Docs MCP server.'
  termsOfService: https://superhuman.com/legal/terms
  contact:
    name: Developer Support
    url: https://superhuman.com/developers
    email: care@superhuman.com
  x-logo:
    url: https://cdn.coda.io/icons/png/color/superhuman-docs-128.png
    backgroundColor: transparent
    altText: Superhuman Docs API
    href: '#'
servers:
- url: https://docs.superhuman.com/apis/v1
  description: Superhuman Docs API (v1)
security:
- Bearer: []
tags:
- name: Controls
  description: Controls provide a user-friendly way to input a value that can affect other parts of the doc. This API lets you list controls and get their current values.
paths:
  /docs/{docId}/controls:
    get:
      summary: List controls
      description: Returns a list of controls in a document.
      operationId: listControls
      tags:
      - Controls
      parameters:
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/pageToken'
      - $ref: '#/components/parameters/sortBy'
      responses:
        '200':
          description: List of controls in a doc.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControlList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/controls''

          res = requests.get(uri, headers=headers).json()


          print(f''Controls here are: {", ".join(i["name"] for i in res["items"])}'')

          # => Controls here are: Control 1, Control 2

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/controls' |\n  jq '.items | map(.name) | join(\", \")'\n# => \"Control 1, Control 2\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var controls = SuperhumanDocs.listControls(''<doc ID>'').items;

          var names = controls.map(function(control) { return control.name; });

          Logger.log(''Controls here are: '' + names.join('', ''));

          // => Controls here are: Control 1, Control 2

          '
  /docs/{docId}/controls/{controlIdOrName}:
    get:
      summary: Get a control
      description: Returns info on a control.
      operationId: getControl
      tags:
      - Controls
      parameters:
      - $ref: '#/components/parameters/docId'
      - $ref: '#/components/parameters/controlIdOrName'
      responses:
        '200':
          description: Details about a control.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Control'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
      x-codeSamples:
      - label: Python 3.13
        lang: python
        source: 'import requests


          headers = {''Authorization'': ''Bearer <your API token>''}

          uri = f''https://docs.superhuman.com/apis/v1/docs/<doc ID>/controls/<control ID>''

          res = requests.get(uri, headers=headers).json()


          print(f''The control is a {res["controlType"]}'')

          # => The control is a slider

          '
      - label: Shell
        lang: shell
        source: "curl -s -H 'Authorization: Bearer <your API token>' \\\n  'https://docs.superhuman.com/apis/v1/docs/<doc ID>/controls/<control ID>' |\n  jq '\"The control is a \" + .controlType'\n# => \"The control is a slider\"\n"
      - label: Google Apps Script
        lang: javascript
        source: '// Import the SuperhumanDocs library via Resource->Libraries...:

          // 15IQuWOk8MqT50FDWomh57UqWGH23gjsWVWYFms3ton6L-UHmefYHS9Vl

          SuperhumanDocs.authenticate(''<your API token>'');

          var control = SuperhumanDocs.getControl(''<doc ID>'', ''<control ID>'');

          Logger.log(''The control is a '' + control.controlType);

          // => The control is a slider

          '
components:
  parameters:
    controlIdOrName:
      name: controlIdOrName
      description: ID or name of the control. Names are discouraged because they're easily prone to being changed by users. If you're using a name, be sure to URI-encode it.
      x-sdk-description: ID or name of the control. Names are discouraged because they're easily prone to being changed by users.
      in: path
      required: true
      example: ctrl-cDefGhij
      schema:
        type: string
    pageToken:
      name: pageToken
      description: An opaque token used to fetch the next page of results.
      in: query
      example: eyJsaW1pd
      schema:
        type: string
    limit:
      name: limit
      description: Maximum number of results to return in this query.
      in: query
      example: 10
      schema:
        type: integer
        minimum: 1
        default: 25
    docId:
      name: docId
      description: ID of the doc.
      in: path
      required: true
      example: AbCDeFGH
      schema:
        type: string
    sortBy:
      name: sortBy
      description: Determines how to sort the given objects.
      in: query
      example: name
      schema:
        $ref: '#/components/schemas/SortBy'
  schemas:
    ControlList:
      x-schema-name: ControlList
      description: List of controls.
      type: object
      required:
      - items
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ControlReference'
        href:
          type: string
          format: url
          description: API link to these results
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/controls?limit=20
        nextPageToken:
          $ref: '#/components/schemas/nextPageToken'
        nextPageLink:
          allOf:
          - $ref: '#/components/schemas/nextPageLink'
          - type: string
            example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/controls?pageToken=eyJsaW1pd
    ScalarValue:
      x-schema-name: ScalarValue
      description: A Superhuman Docs result or entity expressed as a primitive type.
      oneOf:
      - type: string
        example: $12.34
      - type: number
        example: 12.34
      - type: boolean
        example: true
    nextPageLink:
      description: If specified, a link that can be used to fetch the next page of results.
      type: string
      format: url
    SortBy:
      x-schema-name: SortBy
      description: Determines how the objects returned are sorted
      type: string
      enum:
      - name
      x-tsEnumNames:
      - Name
    ControlReference:
      x-schema-name: ControlReference
      description: Reference to a control.
      type: object
      required:
      - id
      - type
      - href
      - name
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the control.
          example: ctrl-cDefGhij
        type:
          type: string
          description: The type of this resource.
          enum:
          - control
          x-tsType: Type.Control
        href:
          type: string
          format: url
          description: API link to the control.
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/controls/ctrl-cDefGhij
        name:
          type: string
          description: Name of the control.
          example: Cost
        parent:
          $ref: '#/components/schemas/PageReference'
    Value:
      x-schema-name: Value
      description: A Superhuman Docs result or entity expressed as a primitive type, or array of primitive types.
      additionalProperties: false
      oneOf:
      - $ref: '#/components/schemas/ScalarValue'
      - type: array
        items:
          oneOf:
          - $ref: '#/components/schemas/ScalarValue'
          - type: array
            items:
              $ref: '#/components/schemas/ScalarValue'
    PageReference:
      x-schema-name: PageReference
      description: Reference to a page.
      type: object
      required:
      - id
      - type
      - browserLink
      - href
      - name
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the page.
          example: canvas-IjkLmnO
        type:
          type: string
          description: The type of this resource.
          enum:
          - page
          x-tsType: Type.Page
        href:
          type: string
          format: url
          description: API link to the page.
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/pages/canvas-IjkLmnO
        browserLink:
          type: string
          format: url
          description: Browser-friendly link to the page.
          example: https://docs.superhuman.com/d/_dAbCDeFGH/Launch-Status_sumnO
        name:
          type: string
          description: Name of the page.
          example: Launch Status
    Control:
      x-schema-name: Control
      description: Details about a control.
      type: object
      required:
      - id
      - type
      - href
      - name
      - controlType
      - value
      additionalProperties: false
      properties:
        id:
          type: string
          description: ID of the control.
          example: ctrl-cDefGhij
        type:
          type: string
          description: The type of this resource.
          enum:
          - control
          x-tsType: Type.Control
        href:
          type: string
          format: url
          description: API link to the control.
          example: https://docs.superhuman.com/apis/v1/docs/AbCDeFGH/controls/ctrl-cDefGhij
        name:
          type: string
          description: Name of the control.
          example: Cost
        parent:
          $ref: '#/components/schemas/PageReference'
        controlType:
          $ref: '#/components/schemas/ControlType'
        value:
          $ref: '#/components/schemas/Value'
    nextPageToken:
      description: If specified, an opaque token used to fetch the next page of results.
      type: string
      example: eyJsaW1pd
    ControlType:
      x-schema-name: ControlType
      description: Type of the control.
      type: string
      example: slider
      enum:
      - aiBlock
      - button
      - checkbox
      - datePicker
      - dateRangePicker
      - dateTimePicker
      - lookup
      - multiselect
      - select
      - scale
      - slider
      - reaction
      - textbox
      - timePicker
      x-tsEnumNames:
      - AIBlock
      - Button
      - Checkbox
      - DatePicker
      - DateRangePicker
      - DateTimePicker
      - Lookup
      - Multiselect
      - Select
      - Scale
      - Slider
      - Reaction
      - Textbox
      - TimePicker
  responses:
    NotFoundError:
      description: The resource could not be located with the current API token.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 404
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Not Found
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Not Found
    TooManyRequestsError:
      description: The client has sent too many requests.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 429
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Too Many Requests
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Too Many Requests
    ForbiddenError:
      description: The API token does not grant access to this resource.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 403
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Forbidden
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Forbidden
    UnauthorizedError:
      description: The API token is invalid or has expired.
      content:
        application/json:
          schema:
            description: An HTTP error resulting from an unsuccessful request.
            required:
            - statusCode
            - statusMessage
            - message
            additionalProperties: false
            properties:
              statusCode:
                type: number
                description: HTTP status code of the error.
                example: 401
              statusMessage:
                type: string
                description: HTTP status message of the error.
                example: Unauthorized
              message:
                type: string
                description: Any additional context on the error, or the same as `statusMessage` otherwise.
                example: Unauthorized
  securitySchemes:
    Bearer:
      description: "The Superhuman Docs API can be accessed using an API token, which can be obtained from [*My account*](https://docs.superhuman.com/account)\nin Superhuman Docs. This token should be specified by setting a header as follows.\n\n```Authorization: Bearer <api_token>```\n\nKeep your token safe, as anyone who gets access to it can access your account. Once a token is created\nit cannot be viewed or modified, so don't lose it.\n\nIf you're logged into Superhuman Docs, you can also query the API directly using your browser. Note that only GET\nendpoints are supported; for anything else, you'll have to use Bearer authentication.\n\n### Restricting token authorization\n\nBy default, bearer tokens created for the Superhuman Docs API can perform any action that the user who created the token\ncan perform. However, Superhuman Docs API bearer tokens can also be created with restrictions. These restrictions\ncan limit what objects can be operated on and the types of operations that can be performed.\n\n#### Operation types\n\nThe table below describes the types of authorization restrictions that can be placed on a Superhuman Docs API token.\n<table>\n  <tr><th>Restriction</th><th>Description</th><th>Allowed HTTP Methods</th></tr>\n  <tr>\n    <td>Read access</td>\n    <td>Allows access to API methods that read the state of an object</td>\n    <td>GET</td>\n  </tr>\n  <tr>\n    <td>Write access</td>\n    <td>Allows access to API methods that write the state of an object</td>\n    <td>POST, PUT, DELETE</td>\n  </tr>\n  <tr>\n    <td>Read and write access</td>\n    <td>Allows access to all methods for an object</td>\n    <td>All</td>\n  </tr>\n</table>\n\n#### Object types\n\nSuperhuman Docs API tokens can be restricted to the following types of objects.\n\n* Documents: Restricts access to only allow API calls for `/docs/${DOC_ID}`\n* Tables: Restricts access to only allow API calls for `/docs/${DOC_ID}/tables/${TABLE_ID}`\n\n#### Special cases\n\nThere are a few special case methods that violate the above restrictions.\n\n* `/whoami`: This method can be called by all Superhuman Docs API tokens.\n* `/resolveBrowserLink`: This method can be called by all Superhuman Docs API tokens, but will only return a result\nif the token has access (read or write) to the object referenced by the URL.\n\n#### Feedback\n\nThis feature is under development and we'd love to hear your feedback and bug reports. Please\nvisit us at the [Developers Central](https://connect.superhuman.com/c/developers-central) forum within\nthe Superhuman Community.\n"
      type: http
      scheme: bearer
      bearerFormat: UUID
x-tagGroups:
- name: Folders
  tags:
  - Folders
- name: Docs
  tags:
  - Docs
  - Permissions
  - Publishing
- name: Doc Structure
  tags:
  - Pages
  - Automations
- name: Tables and Views
  tags:
  - Tables
  - Columns
  - Rows
- name: Formulas & Controls
  tags:
  - Formulas
  - Controls
- name: Miscellaneous
  tags:
  - Account
  - Analytics
  - Miscellaneous
